:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.navigation {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__toggler {
    margin-top: auto;
    margin-bottom: 0.5rem;
  }
}

::ng-deep {
  .navigation {
    .p-tieredmenu {
      padding: 0;
      width: 100%;
      border-radius: 0;
      border: none;
    }

    .p-menuitem-text {
      line-height: 1.3 !important;
    }

    .p-menuitem {
      margin-bottom: 1rem;

      &.p-menuitem-active {
        & > .p-menuitem-link {
          transition: background 0.25s;
          background: none !important;

          .p-menuitem-text {
            color: var(--theme-color-primary) !important;
          }

          .p-submenu-icon {
            transform: rotate(0);
            top: 1px;
            color: var(--theme-color-primary) !important;
          }

          .p-menuitem-icon {
            background: var(--theme-color-secondary);
            color: var(--theme-color-primary) !important;
          }
        }
      }
    }

    .p-menuitem-icon {
      width: 2.625rem;
      height: 2.625rem;
      padding: 0.5rem;
      border-radius: 50%;
      transition: background 0.25s, color 0.25s;
      font-size: 1.625rem;
      margin-right: 0.75rem !important;
      color: #a1a7ab !important;
    }

    .p-menuitem-text {
      color: #a1a7ab !important;
      font-weight: 500;
      transition: opacity 0.3s, color 0.25s;
      white-space: nowrap;
    }

    .p-submenu-icon {
      font-size: 1rem;
      position: relative;
      top: 2px;
      color: #a1a7ab !important;
      transform: rotate(90deg);
      transition: transform 0.25s, color 0.25s, top 0.25s;
    }

    .p-menuitem-link {
      padding: 0;

      &:hover {
        background: none !important;

        .p-menuitem-text {
          color: var(--theme-color-primary) !important;
        }

        .p-menuitem-icon {
          background: var(--theme-color-secondary);
          color: var(--theme-color-primary) !important;
        }
      }
    }

    .p-menuitem-link:focus {
      box-shadow: none !important;
    }

    .p-menuitem-link-active {
      .p-menuitem-text {
        color: var(--theme-color-primary) !important;
      }

      .p-menuitem-icon {
        background: var(--theme-color-secondary);
        color: var(--theme-color-primary) !important;
      }
    }

    .p-submenu-list {
      box-shadow: 0 0.125rem 1rem #00000015 !important;
      padding: 0.625rem 0;
      border-radius: 0 1rem 1rem 0;
      left: calc(100% + 1.5rem) !important;
      top: -0.5rem !important;

      .p-element {
        margin-bottom: 0;
      }

      .p-menuitem-link {
        padding: 0.625rem 1rem;

        .p-menuitem-text {
          line-height: 1.3;
        }
      }
    }

    &__link-wrap {
      .p-menuitem-text {
        line-height: 1.3 !important;
        white-space: initial;
      }
    }
  }
}
