<div class="modal-header">
  <h2 class="modal-header__title">
    {{data.type}} Linked Company
  </h2>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label> Contact Person* </label>
      <ng-container *ngIf="data.type === 'create'">
        <pek-crm-contact-person-picker
          [currentContactPersonId]="form.get('to_contact').value"
          (selectContactPerson)="onSelectContactPerson($event)"
        ></pek-crm-contact-person-picker>
      </ng-container>
      <ng-container *ngIf="data.type === 'edit'">
        <pek-crm-contact-person-picker
          [currentContactPersonId]="form.get('from_contact').value"
          (selectContactPerson)="onSelectContactPersonFromContact($event)"
        ></pek-crm-contact-person-picker>
      </ng-container>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Connection Weight*: {{ form.get('link_weight').value }}</label>
        <p-slider formControlName="link_weight" [min]="0" [max]="10"></p-slider>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
  <button
    pButton
    type="button"
    class="p-button-success"
    [label]="data.type"
    [loading]="isSaving"
    [disabled]="form.invalid"
    (click)="onSave()"
  ></button>
</mat-dialog-actions>
