<div class="modal-header">
  <h2 class="modal-header__title">
    Change Order Item Quantity
  </h2>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="quantity">Quantity*</label>
      <input
        pInputText
        formControlName="quantity"
        class="form-control"
        type="number"
        id="quantity"
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
  <button
    pButton
    type="button"
    class="p-button-success"
    label="Change"
    [loading]="isSaving"
    [disabled]="form.invalid"
    (click)="onSave()"
  ></button>
</mat-dialog-actions>
