<div class="modal-header">
  <h2 class="modal-header__title">
    Change Order Item Quantity
  </h2>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="totalQuantity">Quantity*</label>
      <input
        pInputText
        formControlName="totalQuantity"
        [min]="0"
        class="form-control"
        type="number"
        id="totalQuantity"
      />
    </div>

    <div class="text-danger mt-3 capitalize" *ngIf="form.get('totalQuantity').value < proformaInvoiceQuantity || form.get('totalQuantity').value < invoiceQuantity">
      Quantity can't be Lower than sent to invoice\proforma invoice:
      {{proformaInvoiceQuantity > invoiceQuantity ? proformaInvoiceQuantity : invoiceQuantity}}
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
  <button
    pButton
    type="button"
    class="p-button-success"
    label="Change"
    [loading]="isSaving"
    [disabled]="form.invalid || form.get('totalQuantity').value < proformaInvoiceQuantity || form.get('totalQuantity').value < invoiceQuantity"
    (click)="onSave()"
  ></button>
</mat-dialog-actions>
