<div class="modal-header">
  <h2 class="modal-header__title">
    Production List ({{data.list.nomenclature.code}} {{data.list.nomenclature.name}}) Full Statistic
  </h2>
</div>

<mat-dialog-content>
  <ng-container *ngIf="!isLoading; else spinner">
    <div class="row">
      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Total</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.total_products_count}}</td>
            <td>{{statistic.total_products_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Not Processed</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.not_processed_products_count}}</td>
            <td>{{statistic.not_processed_products_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Total Assemblies</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.total_assembly_count}}</td>
            <td>{{statistic.total_assembly_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Deficit Assemblies</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.not_ordered_assembly_count}}</td>
            <td>{{statistic.not_ordered_assembly_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-6">
        <table>
          <thead>
          <tr>
            <th colspan="4">Total Items\Parts</th>
          </tr>
          <tr>
            <th colspan="2">Purchased</th>
            <th colspan="2">Manufactured</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.total_purchased_count}}</td>
            <td>{{statistic.total_purchased_quantity}}</td>
            <td>{{statistic.total_manufactured_count}}</td>
            <td>{{statistic.total_manufactured_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <table>
          <thead>
          <tr>
            <th colspan="4">Deficit Items\Parts</th>
          </tr>
          <tr>
            <th colspan="2">Purchased</th>
            <th colspan="2">Manufactured</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.not_ordered_purchased_count}}</td>
            <td>{{statistic.not_ordered_purchased_quantity}}</td>
            <td>{{statistic.not_ordered_manufactured_count}}</td>
            <td>{{statistic.not_ordered_manufactured_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Outsoursing Items/Parts</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.not_assembly_outsource_production_count}}</td>
            <td>{{statistic.not_assembly_outsource_production_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Own Production/Parts</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.not_assembly_own_production_count}}</td>
            <td>{{statistic.not_assembly_own_production_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Procurement Items\Parts</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.ordered_purchased_count}}</td>
            <td>{{statistic.ordered_purchased_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Outsourse Assemblies</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.outsource_assembly_count}}</td>
            <td>{{statistic.outsource_assembly_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-3">
        <table>
          <thead>
          <tr>
            <th colspan="2">Own Production Assemblies</th>
          </tr>
          <tr>
            <th>Nomenclature</th>
            <th>Elements</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{statistic.own_production_assembly_count}}</td>
            <td>{{statistic.own_production_assembly_quantity}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button
    pButton
    type="button"
    label="Close"
    [mat-dialog-close]="false"
    class="p-button-danger"
  ></button>
</mat-dialog-actions>

<ng-template #spinner>
  <div class="spinner">
    <i class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
  </div>
</ng-template>
