<div class="guide-confirmation">
  <div class="guide-confirmation__col guide-confirmation__col_1">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Product Structure"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Sales"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Manufacturing procurement"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Outsoursing"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Purchasing"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Outsourcing"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-confirmation__col guide-confirmation__col_2">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="New nomenclature confirmation"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Production request"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Payment confirmation"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Payment confirmation"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Payment confirmation"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Write off by physical inventory confirmation"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Reservation of assemblies with serial numbers confirmation"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Supplier tender confirmation"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide-confirmation__col guide-confirmation__col_3">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmations"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide-confirmation__col guide-confirmation__col_4">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Creation of production list"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Payment process"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Work with production plan regarding reserved serial numbers"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Confirmed payment"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Confirmed Supplier after tender confirmation"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide-confirmation__col guide-confirmation__col_5">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Payments"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Procurement"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Outsourcing"
      ></pek-guide-button>
    </div>
  </div>
</div>
