<div class="guide-map-item">
  <img src="assets/images/business-map/outsoursing-procurement/1.png" alt="Image">

  <h3>Creating of order to Outsourcing</h3>

  <p>
    To create a new order in Outsourcing, in the bottom menu, click the order creating button, select the required
    technology in the filter that you want to add to the order. Only tasks available for order will be selected.<br>
    Select the necessary ones with the checkmarks to the left of the positions and click the create order button.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/2.png" alt="Image">

  <p>
    In the modal window that appears, select the Outsource production checkbox. <br>
    If necessary, add the material needed to produce this task if it was not added directly to the product structure or
    plan. To do this, check the material required box, select the required nomenclature and quantity. <br>
    If a special TE is required for production, you will be asked to include it in the order. <br>
    After that, click the create order button. An order to own production will be created in the orders to own
    production menu.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/3.png" alt="Image">

  <p class="text-yellow">
    Для добавления выбранных позиций в уже существующую цепочку выберете галочку add to outsoursing chain, выберете
    цепочку, куда хотяте добавить и нажмите кнопку OK. Если выбрана цепочка со свободным колличеством, свободные позиции
    заместятся auto request
  </p>

  <h3>
    Outsourcing delivery request processing
  </h3>

  <p class="text-yellow">
    При создании заказа в оутсорсинг формируется запрос на доставку материалов и позиций, необходимфх для выподнения
    заказа. Склад открывает запрос, готовит материалы, отправляет на проверку в QC, когда все готово жмет кнопку комплит
    - not done yet
  </p>

  <h3>
    QC of materials, requested for outsourser
  </h3>

  <p class="text-yellow">
    Склад готовит позиции для доставки по оутсорсинг цепочке, отправляет эти позиции на проверку. QC проверяет
    колличество и упаковку, проставляет статус, отправляет назад на склад. - not done yet
  </p>

  <h3>
    Preparation of order details - drawings, etc
  </h3>

  <p class="text-yellow">
    Если для производства позиций цепочки необходима дополнительная техническая информация ее можно добавить как файлы к
    цепочке.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/4.png" alt="Image">

  <h3>
    Tendering to select the Outsourcer
  </h3>

  <p>
    In the Outsourcing Chain, click the "Add Suplier" button and select suppliers.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/5.png" alt="Image">

  <p>
    After receiving an offer from the selected suppliers, select the supplier in the list, click the “Selected Suplier \
    Edit” button, fill in the required fields and send the list of suppliers with their offers using the “Send to
    Confirm” button.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/6.png" alt="Image">

  <p>
    After confirmation, the selected supplier will have the confirmed status in the list and will also be added to the
    top table in the Procurement chain.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/7.png" alt="Image">

  <h3>
    Confirmation of the tender
  </h3>

  <p>
    Open the Confirmation\Suplier confirmation menu, select the desired tab and the desired purchasing chain. After
    clicking on the purchase chain, the suppliers from which the offers were received and the data of these offers will
    be displayed. Select the offer you like and click the confirm button to confirm. Or, if none of the proposals are
    satisfactory, the Decline All button, in which case no proposal will be selected and the tender will need to be
    re-run.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/8.png" alt="Image">

  <h3>
    Creating invoices/proformas and setting dates for delivery of items
  </h3>

  <p>
    To create a proforma or invoice, click the Create proforma invoice / Create invoice button. Items from the ordered
    items table will automatically be added to the proforma or invoice, if they have not yet been added to another
    proforma or invoice. After creating an invoice, you need to fill in the necessary data - the supplier's invoice
    number, dates, price, discounts, additional services. The amount will be calculated automatically.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/9.png" alt="Image">

  <h3>Creation of payments</h3>

  <p>
    After creating an invoice, you need to create a payment for it. To do this, click the create payment button, select
    the created invoice or several invoices in the list, edit the received amount, if necessary. The generated invoice
    will appear in the Confirmation menu for confirmation.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/10.png" alt="Image">

  <h3>Payment confirmation</h3>

  <p>
    If the payment amount of created invoice exceeds the set amount, the invoice payment appears in the
    Confirmation\Payments confirmation menu to confirm the payment.
    In order to confirm or prohibit a payment, go to the Confirmation\Payments confirmation menu, select the required
    category, find and select the payment, click confirirm to confirm or decline to prohibit
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/11.png" alt="Image">

  <h3>Creation of auxiliary invoices for additional services, if required</h3>

  <p>
    If the purchase of the requested items requires an additional service that will affect the cost of the requested
    items, this service must be added to the purchase chain of these items as an auxilary invoice.<br>
    To do this, click the create auxilary invoice button, select the service provider, select the required service from
    the list and fill in the required information - price, date, invoice number and click the complete button.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/12.png" alt="Image">

  <h3>Creation of payments for auxiliary invoices</h3>

  <p>
    To create an auxilary invoice payment, select an invoice for optala, after that the create auxilary invoice payment
    button will become active and can be clicked. In the pop-up window, enter the required payment details and click
    Create. After that, the payment will appear in the Confirmation menu.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/13.png" alt="Image">

  <h3>Payment confirmation</h3>

  <p>
    If the payment amount of created auxilary invoice exceeds the set amount, the auxilary invoice payment appears in
    the Confirmation\Payments confirmation menu to confirm the payment.<br>
    In order to confirm or prohibit a payment, go to the Confirmation\Payments confirmation menu, select the required
    category, find and select the payment, click confirirm to confirm or decline to prohibit
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/14.png" alt="Image">

  <h3>Request fot delivery from Outsourcer if needed</h3>

  <p class="text-yellow">
    Если доставку готовых позиций осуществляем сами необходимо создать запрос на доставку. Для этого выберете галочку
    «own delivery» и подтвердить. После этого склад получит реквест на доставку. - not done yet
  </p>

  <h3>
    Delivery items from Outsourser process
  </h3>

  <p class="text-yellow">
    Склад открывает список текущих доставок, распечатывает заказ на доставку, едет, привозит, отдает delivery note в
    отдел закупок, жмет конопку комплит на доставке, приложим туда скан - not done yet
  </p>

  <h3>Completion of invoices after receipt of items</h3>

  <p>
    After receiving the ordered items, you must click the complete button and the invoice items will be sent to QC.
  </p>

  <p>
    If you need to edit the invoice sent to QC, you can click the cancelation button. In this case, the positions
    disappear from the QC menu and after editing it is necessary to press the complete button again.<br>
    If it is necessary to edit the price of an already completed invoice, it is not necessary to do a cancellation.
    Select the position of the invoice, click the edit button and edit the necessary data.
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/15.png" alt="Image">

  <p>
    The pro forma is a preliminary document and items and their price may differ from the invoice. Thus, after receiving
    the invoice, filling in the necessary data and completing, the data in the reports for the purchased items will be
    updated with the invoice data.
  </p>

  <h3>QC process of the delivered items in the QC module</h3>

  <p>
    After delivering the items purchased for production lists, the QC manager should go to the QC/invoises/Production
    Lists Procurement or Outsourcing Invoices menu, open the invoice using the Items button, check the quantity and
    quality and click the Complete button
  </p>

  <img src="assets/images/business-map/outsoursing-procurement/16.png" alt="Image">
</div>
