<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'warehouse'" [isActive]="true"></pek-module-icon>
      <h1>Tool Requests</h1>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">

    <div class="filters-visibility">
      <form
        [formGroup]="searchForm"
        class="form mb-3"
      >
        <div class="row">

          <div class="col-3">
            <div class="form-group">
              <label>Created Date From</label>
              <p-calendar
                formControlName="created_after"
                (ngModelChange)="getRequests()"
                [showButtonBar]="true"
                dataType="date"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
              ></p-calendar>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Created Date To</label>
              <p-calendar
                formControlName="created_before"
                (ngModelChange)="getRequests()"
                [showButtonBar]="true"
                dataType="date"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
              ></p-calendar>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Completed Date From</label>
              <p-calendar
                formControlName="completed_after"
                (ngModelChange)="getRequests()"
                [showButtonBar]="true"
                dataType="date"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
              ></p-calendar>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Completed Date To</label>
              <p-calendar
                formControlName="completed_before"
                (ngModelChange)="getRequests()"
                [showButtonBar]="true"
                dataType="date"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
              ></p-calendar>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Requests State</label>
              <p-dropdown
                [options]="requestsTypes"
                formControlName="is_completed"
                optionValue="value"
                optionLabel="name"
                placeholder="Select state"
                (ngModelChange)="getRequests()"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="page__table">
      <div class="page__block">
        <button
          pButton
          type="button"
          class="ml-auto"
          icon="pi pi-bars"
          label="Nomenclatures"
          [routerLink]="[selectedRequest?.id]"
          [disabled]="!selectedRequest"
        ></button>
      </div>
      <p-table
        #dt
        selectionMode="single"
        scrollHeight="calc(100vh - 18.8rem)"
        [scrollable]="true"
        [paginator]="toolRequests.length > 0"
        [rows]="10"
        [(selection)]="selectedRequest"
        [value]="toolRequests"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" style="width: 5%">#</th>
            <th class="sort-label text-center"
                style="width: 5%"
                pSortableColumn=""
                (click)="sorting(searchForm.get('order_by_id').value, 'order_by_id')"
            >ID
              <pek-sort-icon [value]="searchForm.get('order_by_id').value"></pek-sort-icon>
            </th>
            <th style="width: 25%"
                class="sort-label text-center"
                pSortableColumn=""
                (click)="sorting(searchForm.get('order_by_area').value, 'order_by_area')"
            >Area
              <pek-sort-icon [value]="searchForm.get('order_by_area').value"></pek-sort-icon>
            </th>
            <th style="width: 25%"
                class="sort-label text-center"
                pSortableColumn=""
                (click)="sorting(searchForm.get('order_by_locator').value, 'order_by_locator')"
            >Locator
              <pek-sort-icon [value]="searchForm.get('order_by_locator').value"></pek-sort-icon>
            </th>
            <th style="width: 20%"
                class="sort-label text-center"
                pSortableColumn=""
                (click)="sorting(searchForm.get('order_by_created').value, 'order_by_created')"
            >Creation Date
              <pek-sort-icon [value]="searchForm.get('order_by_created').value"></pek-sort-icon>
            </th>
            <th style="width: 20%"
                class="sort-label text-center"
                pSortableColumn=""
                (click)="sorting(searchForm.get('order_by_completed').value, 'order_by_completed')"
            >Completion Date
              <pek-sort-icon [value]="searchForm.get('order_by_completed').value"></pek-sort-icon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-i="rowIndex">
          <tr [pSelectableRow]="order">
            <td style="width: 5%" class="text-center">
              <h3 class="td-title">#</h3>
              {{i + 1 }}
            </td>
            <td style="width: 5%" class="text-center">
              <h3 class="td-title">ID</h3>
              {{order.id}}
            </td>
            <td style="width: 25%" class="text-center">
              <h3 class="td-title">Area</h3>
              {{order.area_locator.area.name}}
            </td>
            <td style="width: 25%" class="text-center">
              <h3 class="td-title">Locator</h3>
              {{order.area_locator.name}}
            </td>
            <td style="width: 20%" class="text-center">
              <h3 class="td-title">Creation Date</h3>
              {{order.created | date:'dd/MM/yyyy HH:mm:ss'}}
            </td>
            <td style="width: 20%" class="text-center">
              <h3 class="td-title">Completion Date</h3>
              {{order.completed | date:'dd/MM/yyyy HH:mm:ss'}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="tr-spinner">
            <td class="text-center p-4" [attr.colspan]="4">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="dt.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!dt.paginator && !isLoading && toolRequests.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="dt.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>
</div>
