<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'warehouse'" [isActive]="true"></pek-module-icon>
      <h1>Tool Requests</h1>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <div class="page__table">
      <div class="page__block">
        <button
          pButton
          type="button"
          class="ml-auto"
          icon="pi pi-bars"
          label="Nomenclatures"
          [routerLink]="[selectedRequest?.id]"
          [disabled]="!selectedRequest"
        ></button>
      </div>
      <p-table
        #dt
        selectionMode="single"
        scrollHeight="calc(100vh - 18.8rem)"
        [scrollable]="true"
        [paginator]="toolRequests.length > 0"
        [rows]="10"
        [(selection)]="selectedRequest"
        [value]="toolRequests"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" style="width: 5%">#</th>
            <th style="width: 35%" class="text-center">Area</th>
            <th style="width: 30%" class="text-center">Locator</th>
            <th style="width: 30%" class="text-center" pSortableColumn="created">
              Creation Date
              <p-sortIcon field="created"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-i="rowIndex">
          <tr [pSelectableRow]="order">
            <td style="width: 5%" class="text-center">
              <h3 class="td-title">#</h3>
              {{i + 1 }}
            </td>
            <td style="width: 35%" class="text-center">
              <h3 class="td-title">Area</h3>
              {{order.area_locator.area.name}}
            </td>
            <td style="width: 30%" class="text-center">
              <h3 class="td-title">Locator</h3>
              {{order.area_locator.name}}
            </td>
            <td style="width: 30%" class="text-center">
              <h3 class="td-title">Creation Date</h3>
              {{order.created | date:'dd/MM/yyyy'}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="tr-spinner">
            <td class="text-center p-4" [attr.colspan]="4">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="dt.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!dt.paginator && !isLoading && toolRequests.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="dt.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>
</div>
