<div class="modal-header">
  <h2 class="modal-header__title">
    Add File To Chain
  </h2>
</div>

<mat-dialog-content>
  <pek-upload-file
    [multiple]="true"
    (selectFile)="onSelectFiles($event)"
  ></pek-upload-file>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button
    pButton
    type="button"
    label="Cancel"
    [mat-dialog-close]="false"
    class="p-button-danger">
  </button>
  <button
    pButton
    type="button"
    class="p-button-success"
    label="Upload"
    [loading]="isPending"
    [disabled]="uploadFiles.length === 0"
    (click)="onUploadFiles()"
  ></button>
</mat-dialog-actions>
