<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'outsourcing'" [isActive]="true"></pek-module-icon>
      <h1>Outsourcing Chains</h1>
    </div>
    <div class="page__tools">
      <button
        (click)="onCreateChain()"
        pButton
        [loading]="isCreating"
        type="button"
        icon="pi pi-plus"
        label="Create Outsource Chain"
      ></button>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">

    <div class="filters-visibility" [class.filters-visibility_hide]="isHideFilters">
      <div class="filters-visibility__header">
        <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
      </div>

      <button
        class="icon pi"
        [class.pi-angle-double-up]="!isHideFilters"
        [class.pi-angle-double-down]="isHideFilters"
        [pTooltip]="isHideFilters ? 'Expand Filters' : 'Collapse Filters'"
        tooltipPosition="left"
      ></button>

      <form
        [formGroup]="searchForm"
        class="form mb-3"
      >
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label>Nomenclature</label>
              <p-dropdown
                [filter]="true"
                [showClear]="true"
                [options]="nomenclaturesList"
                formControlName="contains_nomenclature"
                optionValue="id"
                optionLabel="name"
                placeholder="No Nomenclature Selected"
                (ngModelChange)="resetPage()"
              ></p-dropdown>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Company</label>
              <pek-company-picker (selectCompany)="onSelectCompany($event)"></pek-company-picker>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Root List</label>
              <p-dropdown
                [filter]="true"
                [showClear]="true"
                [options]="rootLists"
                formControlName="order_root_list_id"
                (ngModelChange)="resetPage()"
                optionValue="list.id"
                optionLabel="fullName"
                placeholder="No List Selected"
              ></p-dropdown>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Status</label>
              <pek-multi-statuses-picker
                (selectStatuses)="onSelectStatuses($event)"
                (isFinalStatusSelected)="finalStatusSelected = $event"
                [accountingType]="2"
              ></pek-multi-statuses-picker>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>From</label>
              <p-calendar
                formControlName="created_after"
                dataType="date"
                [showButtonBar]="true"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
                (ngModelChange)="resetPage()"
              >
              </p-calendar>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>To</label>
              <p-calendar
                dataType="date"
                formControlName="created_before"
                [showButtonBar]="true"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
                (ngModelChange)="resetPage()"
              >
              </p-calendar>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group form-group_checkbox">
              <label>Declined</label>
              <p-triStateCheckbox
                formControlName="contains_declined_payment"
                (ngModelChange)="resetPage()"
              ></p-triStateCheckbox>
            </div>
          </div>
          <div class="col-3">
            <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
          </div>
        </div>
      </form>
    </div>

    <div class="page__table">
        <div [ngClass]="{'d-none': !isShowStatuses}">
          <pek-order-statuses-table
            #orderTable
            [isPaginated]="isShowAll"
            [isPaginatedOutside]="true"
            [orders]="orders"
            [isLoading]="isLoading"
            (changePage)="onChangePage($event)"
            (selectOrder)="onSelectionOrder($event)"
          ></pek-order-statuses-table>
        </div>
        <div [ngClass]="{'d-none': isShowStatuses}" class="table-pagination-preloader">
          <p-table
            #dt
            selectionMode="single"
            [scrollHeight]="'calc(100vh - ' + tableScrollHeight + ')'"
            [scrollable]="true"
            dataKey="id"
            [(first)]="firstPage"
            [paginator]="false"
            [rows]="10"
            [(selection)]="selectedOrder"
            [value]="orders"
            [totalRecords]="countOrders"
            (selectionChange)="onSelectOrder()"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center" style="width: 3%;">#</th>
                <th class="text-center" style="width: 10%;">Date</th>
                <th class="text-center" style="width: 7%;">Order ID</th>
                <th class="text-center" style="width: 15%;">Supplier</th>
                <th class="text-center" style="width: 15%;">Technologies</th>
                <th style="width: 15%;">Comment</th>
                <th style="width: 15%;">Root Lists</th>
                <th class="text-center" style="width: 10%;">Status</th>
                <th class="text-center" style="width: 10%;">Completion</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order let-i="rowIndex">
              <tr [pSelectableRow]="order">
                <td class="text-center" style="width: 3%;">{{(this.searchForm.get('page').value - 1) * 10 + i + 1}}</td>
                <td class="text-center" style="width: 10%;">{{order.created | date:'dd/MM/yyyy'}}</td>
                <td class="text-center" style="width: 7%;">{{order.id}}</td>
                <td class="text-center" style="width: 15%;">{{order.supplier?.name}}</td>
                <td class="text-center" style="width: 15%;">
                  <span *ngFor="let tech of order.ordered_products_unique_technologies; let last=last">
                    {{tech.name}}<span *ngIf="!last">,</span>
                  </span>
                </td>
                <td style="width: 15%;">
                  <div class="word-break">
                    {{order.comment}}
                  </div>
                </td>
                <td style="width: 15%;">
                  <div class="word-break"
                       *ngFor="let item of getRootLists(order.root_production_list_products); let idx = index">
                    {{item.list.nomenclature.code}}~{{item.list.nomenclature.name}} ({{item.count}})
                  </div>
                </td>
                <td class="text-center" style="width: 10%;">{{order.status?.value}}</td>
                <td class="text-center" style="width: 10%;">{{order?.activeStatusDate | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center p-4" [attr.colspan]="9">
                  <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                  <span *ngIf="!isLoading">No Records Found</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="pagination-preloader pagination-preloader_bord" *ngIf="isLoading">
            <i class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
          </div>
        </div>
      <div
        class="paginator-wrapper"
        *ngIf="!isShowAll"
        [class.paginator-wrapper_hide]="orders.length === 0"
      >
        <p-paginator
          #paginator
          [rows]="10"
          [totalRecords]="countOrders"
          (onPageChange)="onPage($event)"
        >
        </p-paginator>
        <p-button
          (click)="onShowAll()"
          class="paginator-all"
          type="button"
          styleClass="p-button-text"
        >
          All
        </p-button>
      </div>

      <div *ngIf="isShowAll" class="paginator-return-pagination">
        <p-button
          type="button"
          (click)="onShowPartial()"
          styleClass="p-button-text"
        >
          Return pagination
        </p-button>
      </div>
    </div>
  </div>
</div>

<ng-template #actionButtons>
  <div class="action-buttons">
    <p-menubar class="ml-auto" [model]="menuItems" [class.disabled]="!selectedOrder"></p-menubar>
    <button
      class="ml-2"
      pButton
      type="button"
      icon="pi pi-table"
      [label]="(isShowStatuses ? 'Close' : 'Open') +  ' Order Statuses'"
      (click)="onToggleStatuses()"
    ></button>
  </div>
</ng-template>
