<div class="product-structure-instruction">
  <h2>Product Structure Module Instruction</h2>

  <p>
    Product structure represents a hierarchical structure of the product indicating the technological operations
    required for the production of the selected item.
    The hierarchy makes it possible to specify the sequence of production of a product - according to the hierarchy, it
    is impossible to get a parent element without having or producing a child.
  </p>

  <p>
    In the products menu, all products are divided into categories.
    To create a new structure, you must click the new product button, fill in the code, name and select a category
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/1.jpg">
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/2.jpg">
  </p>

  <p>
    There are three types of positions in the structure<br>
    - assemblies - positions of the structure, inside which other positions can be located<br>
    - manufactured parts - items that need to be produced or ordered in outsourcing<br>
    - purchased - purchased items
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/3.jpg">
  </p>

  <p>
    Options for the structure are presented in the menu
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/4.jpg">
  </p>

  <p>
    After creating a new product, you need to fill in the structure - create assemblies, fill them with subassemblies,
    manufactured parts or purchased. To do this, select the level to which we want to add the position, select add item
    from the menu, then select the position type.
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/5.jpg">
  </p>

  <p>Then we look for the necessary position according to the nomenclature or create a new one.</p>

  <p>
    <img src="assets/images/instructions/product-structure/6.jpg">
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/7.jpg">
  </p>

  <p>
    If you need to change the parent of a position, you can use drag-n-drop
  </p>

  <p>
    After creating a new assembly or manufactured part, you must specify the technologies required for the production of
    this position, in the order in which it is necessary for production.
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/8.jpg">
  </p>

  <p>
    If an existing position was selected, and not a new one was created, the technologies will be put down automatically
    from the structure where this position was originally created. If an assembly has been selected, the structure of
    this assembly will also be automatically pulled up.
  </p>

  <p>
    It is also possible to import the product structure from SolidWorks. To do this, select the structure level from
    which you want to import and follow the instructions ...
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/9.jpg">
  </p>

  <p>
    In order to send the selected structure to production, you need to select the assembly you want to produce, select
    the make production list item in the menu, select the required quantity, and also select «group production plan» if
    we want to produce the selected quantity in one production list
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/10.jpg">
  </p>

  <p>
    The list of technologies is formed in the technology menu. To create a new technology, you must click the new
    technology button and fill in the required fields
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/11.jpg">
  </p>

  <p>
    The prefixes menu is intended for creating prefixes for the structure importer configuration. The prefix is an
    indication that the position in the import file, the code of which begins with this prefix, is a manufactured part
    or assembly
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/12.jpg">
  </p>

  <p>
    In the category menu, we create a list of categories for the stretch product
  </p>

  <p>
    <img src="assets/images/instructions/product-structure/13.jpg">
  </p>
</div>
