.form {
  margin-top: -0.25rem;
}

.form-group {
  &_checkbox {
  &::ng-deep {
    .p-checkbox {
      width: 2.375rem !important;
      height: 2.375rem !important;

      .p-checkbox-box {
        width: 2.375rem !important;
        height: 2.375rem !important;
      }
    }
  }
  }
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.root_product {

  a {
    position: relative;
    white-space: nowrap;
    .root_list_products {
      display: none;
      min-width: 6.25rem;
      height: auto;
      z-index: 2;
    }
  }

  &:hover {
    a {
      .root_list_products {
        display: block;
      }
    }
  }
}

.is-overdue {
  background: var(--theme-color-danger) !important;
}
