<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'warehouse'" [isActive]="true"></pek-module-icon>
      <h1>
        Order ID {{isLoading ? '...' : invoice?.order?.id}}
      </h1>
    </div>
    <div class="page__tools">
      <button
        class="mr-2 p-button-icon"
        pButton
        type="button"
        icon="pi pi-qrcode"
        label="Generate QR Codes"
        [loading]="isGenerating"
        (click)="onGenerateQrCodes()"
        [disabled]="selectedInvoiceProducts.length === 0"
      >
      </button>
      <button
        pButton
        type="button"
        class="p-button-icon mr-2"
        icon="pi pi-check"
        label="Complete Products"
        [loading]="isCompletingProducts"
        [disabled]="selectedInvoiceProducts.length === 0"
        (click)="onCompleteItems()"
      >
      </button>
      <button
        pButton
        type="button"
        class="p-button-icon p-button-danger mr-2"
        icon="pi pi-times"
        [loading]="isCancellation"
        label="Cancellation"
        (click)="onCancellation()"
        [disabled]="isLoading"
      >
      </button>
      <button
        pButton
        type="button"
        class="p-button-icon p-button-success"
        icon="pi pi-check"
        label="Complete"
        [loading]="isCompleting"
        (click)="onComplete()"
        [disabled]="!invoiceCanBeCompleted"
      >
      </button>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <div class="page__table">
      <p-table
        #dt
        scrollHeight="calc(100vh - 19rem)"
        [scrollable]="true"
        [paginator]="!isLoadingProducts"
        dataKey="id"
        [rows]="10"
        [value]="invoiceProducts"
        [(selection)]="selectedInvoiceProducts"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3%">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="index-header text-center" style="width: 5%">#</th>
            <th style="width: 15%">Code</th>
            <th style="width: 17%">Name</th>
            <th style="width: 15%" class="text-center">Technology</th>
            <th style="width: 5%" class="text-center">UOM</th>
            <th style="width: 10%" class="text-center">Quantity</th>
            <th style="width: 10%" class="text-center">Passed Qty</th>
            <th style="width: 10%" class="text-center">Not Passed Qty</th>
            <th style="width: 10%" class="text-center">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <p class="subtitle" *ngIf="selectedInvoiceProducts.length === 0">Choose the Product to edit Quality Control</p>
            <button
              pButton
              type="button"
              class="p-button-icon ml-auto mr-2"
              icon="pi pi-images"
              [loading]="isCancellation"
              label="Show Images"
              (click)="onShowImages()"
              [disabled]="isLoadingProducts || selectedInvoiceProducts.length === 0 || selectedInvoiceProducts.length > 1"
            >
            </button>
            <button
              pButton
              type="button"
              class="p-button-icon"
              icon="pi pi-angle-double-right"
              [loading]="isCancellation"
              label="Quality Control"
              [disabled]="isLoadingProducts || selectedInvoiceProducts.length === 0 || selectedInvoiceProducts.length > 1"
              (click)="onQualityControl()"
            >
            </button>
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
          <tr [pSelectableRow]="product">
            <td style="width: 3%">
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td style="width: 5%" class="text-center">{{i + 1}}</td>
            <td style="width: 15%">
              {{product.nomenclature.code}}
            </td>
            <td style="width: 17%">
              {{product.nomenclature.name}}
            </td>
            <td style="width: 15%" class="text-center">
              {{product.current_technology?.name}}
            </td>
            <td style="width: 5%" class="text-center">
              {{product.nomenclature.category ? product.nomenclature.category.unit_of_measure.symbol : 'Pcs'}}
            </td>
            <td style="width: 10%" class="text-center">
              {{product.quantity}}
            </td>
            <td style="width: 10%" class="text-center">
              {{product.passed_quantity}}
            </td>
            <td style="width: 10%" class="text-center">
              {{product.not_passed_quantity}}
            </td>
            <td style="width: 10%" class="text-center">
              <span *ngIf="product.quality_control == 1" class="badge badge_success">PASSED</span>
              <span *ngIf="product.quality_control == 2" class="badge badge_warning">PARTLY PASSED</span>
              <span *ngIf="product.quality_control == 0" class="badge badge_danger">NOT PASSED</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="11">
              <i *ngIf="isLoadingProducts" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoadingProducts">No Records Found</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="dt.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!dt.paginator && !isLoading && invoiceProducts.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="dt.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>
</div>
