.form {
  margin-top: -0.25rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
  }

  button {
    position: absolute;
    bottom: 0;
    background: transparent;
    cursor: pointer;
    color: #6c757d;
    right: 0.6rem;
    top: 0.275rem;
  }
}

.bord-right {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #dee2e6;
    right: 0;
    top: 0;
  }
}

.badge {
  position: relative;
  top: -1px;
  border-radius: 0.25rem;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.625rem;
  letter-spacing: .3px;
  color: #fff;
  background: #64748B;

  &_danger {
    background: var(--theme-color-danger);
  }

  &_success {
    background: var(--theme-color-success);
  }
}
