.layout-header {
  z-index: 4;
}

a {
  cursor: pointer;
}

.guide-button {
  cursor: pointer;
  background: rgba(59, 130, 246, 0.04);
  font: inherit;
  font-size: var(--theme-font-size-s);
  font-weight: 500;
  padding: 0.5rem 1.125rem 0.625rem;
  border-radius: 0.625rem;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background: #55b157;
  color: #fff;

  &:hover {
    transition: all 0.25s ease;
    background: #16A34A;
  }

  i {
    position: relative;
    top: 1px;
    margin-right: 0.25rem;
  }
}

.actions {
  display: flex;
  align-items: center;
}

.layout-navigation {
  &__parent {
    position: relative;

    &:hover {
      .layout-navigation__children {
        display: block;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: -1.25rem;
      background: #fff;
      height: 1.25rem;
      bottom: 0;
      width: 24.5rem;
    }

    a {
      display: flex;
      width: 100%;
      align-items: center;

      i {
        position: relative;
        top: 1px;
      }
    }
  }

  &__children {
    position: absolute;
    background: #fff;
    width: 22rem;
    box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.08);
    display: none;

    a {
      padding: 1rem 1.25rem;
    }
  }


  &__list {
    display: flex;
  }

  &__item {
    &_settings {
      display: none;

      a {
        color: #31a894;

        &.active {
          color: #106d5e;
        }
      }
    }

    &_settings-show {
      display: block;
    }
  }
}

.show-navigation-button,
.close-navigation-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  i {
    font-size: 1.125rem;
  }
}

.show-navigation-button,
.close-navigation-button {
  display: none;
}

.close-navigation-button {
  i {
    position: relative;
    top: 0.0625rem;
  }
}

.toggle {
  display: flex;
  align-items: center;
  margin-top: 0.375rem;

  span {
    font-weight: 500;
    font-size: 0.875rem;
    margin-top: -0.375rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}
