<div
  class="layout-header"
  [class.layout-header_open]="isShowMobileNav"
>
  <pek-logo [module]="module"></pek-logo>
  <div
    class="layout-navigation"
    [class.layout-navigation_wh]="module === 'Warehouse'"
  >
    <ul class="layout-navigation__list">
      <li
        *ngFor="let route of routes"
        class="layout-navigation__item"
      >
        <a
          *ngIf="!route.isExternal"
          [routerLink]="route.commands"
          routerLinkActive="active"
        >
          {{route.label}}
        </a>
        <a
          *ngIf="route.isExternal"
          [href]="route.commands[0]"
          target="_self"
          routerLinkActive="active"
        >
          {{route.label}}
        </a>
      </li>

      <li
        *ngFor="let route of settingsRoutes"
        class="layout-navigation__item layout-navigation__item_settings"
        [class.layout-navigation__item_settings-show]="isShowSettings"
      >
        <a
          [routerLink]="route.commands"
          routerLinkActive="active"
        >
          {{route.label}}
        </a>
      </li>
    </ul>
  </div>

  <button class="show-navigation-button" (click)="openMobileMenu()">
    <i class="pi pi-bars"></i>
  </button>

  <button class="close-navigation-button" (click)="closeMobileMenu()">
    <i class="pi pi-times"></i>
  </button>

  <div class="actions ml-auto">
    <div class="toggle mr-3" *ngIf="isShowSwitcher">
    <span (click)="toggleVisibleSettingMenu()">
      {{isShowSettings ? 'Hide' : 'Show'}} settings menu
    </span>
      <p-inputSwitch title="Show Settings Menu" [(ngModel)]="isShowSettings"></p-inputSwitch>
    </div>
    <button
      (click)="onOpenBusinessGuide()"
      class="guide-button"
    >
      <i class="pi pi-book"></i>
      Business Guide
    </button>
  </div>
</div>
