<div class="layout-header">
  <pek-logo [module]="module"></pek-logo>
  <ul class="layout-navigation" [class.layout-navigation_wh]="module === 'Warehouse'">
    <li
      *ngFor="let route of routes"
      class="layout-navigation__item"
    >
      <a
        [routerLink]="route.commands"
        routerLinkActive="active"
      >
        {{route.label}}
      </a>
    </li>

    <li
      *ngFor="let route of settingsRoutes"
      class="layout-navigation__item layout-navigation__item_settings"
      [class.layout-navigation__item_settings-show]="isShowSettings"
    >
      <a
        [routerLink]="route.commands"
        routerLinkActive="active"
      >
        {{route.label}}
      </a>
    </li>
  </ul>

<!--  <ul-->
<!--    class="layout-navigation layout-navigation_settings"-->
<!--    [class.layout-navigation_settings-show]="isShowSettings"-->
<!--    [class.layout-navigation_wh]="module === 'Warehouse'"-->
<!--  >-->
<!--    <li-->
<!--      *ngFor="let route of settingsRoutes"-->
<!--      class="layout-navigation__item"-->
<!--    >-->
<!--      <a-->
<!--        [routerLink]="route.commands"-->
<!--        routerLinkActive="active"-->
<!--      >-->
<!--        {{route.label}}-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->

  <div class="actions ml-auto">
    <div class="toggle mr-3" *ngIf="isShowSwitcher">
    <span (click)="toggleVisibleSettingMenu()">
      {{isShowSettings ? 'Hide' : 'Show'}} settings menu
    </span>
      <p-inputSwitch title="Show Settings Menu" [(ngModel)]="isShowSettings"></p-inputSwitch>
    </div>
    <button
      (click)="onOpenBusinessGuide()"
      class="guide-button"
    >
      <i class="pi pi-book"></i>
      Business Guide
    </button>
  </div>
</div>
