<div class="paste-image">
  <img [src]="data.imageSrc" alt="Изображение">
</div>

<mat-dialog-actions class="justify-content-between">
    <button
      pButton
      type="button"
      label="Cancel"
      [mat-dialog-close]="false"
      class="p-button-danger mr-3"
    ></button>
  <form
    [formGroup]="form"
    class="mr-3"
  >
    <input class="form-control" placeholder="Change File Name" formControlName="name" pInputText>
  </form>
    <button
      pButton
      type="button"
      label="Paste Image"
      (click)="acceptChanges()"
      class="p-button-success"
    ></button>
</mat-dialog-actions>
