<h2>Quality Control Module Instruction</h2>

<p>
  QC module is designed to pass quality control for incoming purchases and for orders from your own production
</p>

<p>
  When completing invoices in the procurement chain or when sending items from an order to own production, they appear
  in the QC module
</p>

<p>
  <img src="assets/images/instructions/qc/1.jpg">
</p>

<p>
  Qc module is divided into three categories
</p>

<p>
  - Production Lists Procurement and Outsourcing Invoices<br>
  - Own production - orders from own production<br>
  – invoices from Genera Procurement Invoices - invoices from general procurement<br>
</p>

<p>
  Categories have a hierarchical structure that reflects the purchase category or the product category in the product
  structure module.
</p>

<p>
  When opening an invoice, we will see a list of items of this invoice or order. It is necessary to select a position,
  set the number of passed and failed positions. Or press the Product complete button to select positions in groups and
  automatically set the qc passed status for the selected ones. Then click on the complete button. After that, the
  positions that passed the check will go to the qc- warehouse menu, and the ones that did not pass will go to the
  Isolator.
</p>

<p>
  Also, for purchase items, it is possible to return these items back to the invoice, if you need to edit the invoice -
  the Cancellation button.
  If you need to send the items of own production for revision, you must click the rework button for one item or rework
  all for the entire order
</p>

<p>
  <img src="assets/images/instructions/qc/2.jpg">
</p>

<p>
  In the process of passing through qc, it is necessary to generate a qr code and stick it on the position
</p>

<p>
  <img src="assets/images/instructions/qc/3.jpg">
</p>
