<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'business-trip'" [isActive]="true"></pek-module-icon>
      <h1>Edit Business Trip</h1>
    </div>
    <div class="page__tools">
      <button
        pButton
        type="button"
        icon="pi pi-file-excel"
        label="Export to xls"
        class="p-button-secondary mr-2"
        (click)="getBtForExport()">
      </button>
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        label="Save"
        (click)="editBusinessTrip(tripStatuses.NEED_VERIFICATION)">
      </button>
    </div>
  </div>
</div>

<form [formGroup]="form">
  <div class="page__content">
    <h2 class="mb-4">Employee</h2>
    <div class="page__card">
      <div *ngIf="isDataPrepared else infoLoading">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="other">Not Listed Employee</label>
              <p-checkbox
                id="other"
                formControlName="isOtherEmployee"
                [binary]="true"
                (onChange)="employeeChanged()"
              ></p-checkbox>
            </div>
          </div>
        </div>
        <div *ngIf="form.get('isOtherEmployee').value else predefinedEmployee">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>First Name</label>
                <input pInputText
                       formControlName="employee_first_name"
                       (ngModelChange)="employeeChangedEmit.next()"
                       class="form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Last Name</label>
                <input pInputText
                       (ngModelChange)="employeeChangedEmit.next()"
                       formControlName="employee_last_name"
                       class="form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Position</label>
                <app-crm-position-picker
                  [position]="this.form.get('employee_position').value"
                  (valueChange)="form.get('employee_position').setValue($event); employeeChangedEmit.next()"
                ></app-crm-position-picker>
              </div>
            </div>
          </div>
        </div>
        <ng-template #predefinedEmployee>
          <div formGroupName="employee">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label>First Name</label>
                  <pek-crm-single-employee-picker
                    [filters]="employeeFilter"
                    [showProfession]="true"
                    [employee]="_employee.get('id').value"
                    (valueChange)="_employee.setValue($event);  employeeChangedEmit.next()"
                  ></pek-crm-single-employee-picker>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Last Name</label>
                  <input pInputText
                         [disabled]="true"
                         formControlName="last_name"
                         class="form-control">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Position</label>
                  <input
                    pInputText
                    disabled
                    [ngModel]="_employee.get('position').value ? _employee.get('position').value.title : null"
                    [ngModelOptions]="{standalone: true}"
                    class="form-control">
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="page__content">
    <h2 class="mb-4">Date Trip Start/End</h2>
    <div class="page__card">
      <div *ngIf="isDataPrepared else infoLoading">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Start Date an time</label>
              <pek-date-time-picker
                [maxDate]="form.get('trip_end')?.value"
                [date]="form.get('trip_start')?.value"
                (setDate)="setStartValue($event); infoChangedEmit.next(false)"
                placeholder="Choice Start Date and Time"
              ></pek-date-time-picker>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>End Date</label>
              <pek-date-time-picker
                [minDate]="form.get('trip_start')?.value"
                [date]="form.get('trip_end')?.value"
                (setDate)="setEndValue($event); infoChangedEmit.next(false)"
                placeholder="Choice End Date and Time"
              ></pek-date-time-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page__content">
    <h2 class="mb-4">Points Start/Arrival</h2>
    <div class="page__card">
      <div *ngIf="isDataPrepared else infoLoading">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <h2><b>Starting Point</b></h2>
            </div>
          </div>
        </div>
        <pek-location-input
          [country]="this.form.get('start_location_country').value"
          [address]="this.form.get('start_location_address').value"
          [locationId]="this.form.get('start_location_id').value"
          [type]="locationStatus.FIRST"
          [showHr]="false"
          (countryChanged)="form.get('start_location_country').setValue($event);
         locationChanged.next({type: locationStatus.FIRST, locationIndex: null});"
          (addressChanged)="form.get('start_location_address').setValue($event);
         locationChanged.next({type: locationStatus.FIRST, locationIndex: null});"
        ></pek-location-input>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <h2><b>Arrival Point</b></h2>
            </div>
          </div>
        </div>

        <!--    [locationMeetings]="this.form.get('last_location_meetings').value"    -->
        <pek-location-input
          [country]="this.form.get('last_location_country').value"
          [address]="this.form.get('last_location_address').value"
          [locationId]="this.form.get('last_location_id').value"
          [type]="locationStatus.LAST"
          [showHr]="false"
          [companiesFilters]="companiesFilters"
          (meetingsChanged)="lastPointMeetingChanged($event);"
          (countryChanged)="form.get('last_location_country').setValue($event); locationChanged.next({type: locationStatus.LAST, locationIndex: null});"
          (addressChanged)="form.get('last_location_address').setValue($event); locationChanged.next({type: locationStatus.LAST, locationIndex: null});"
          [showAddMeetings]="true"
        ></pek-location-input>
      </div>
    </div>
  </div>

  <div class="page__content">
    <h2 class="mb-4 d-flex justify-content-between">Intermediate Points
      <button pButton type="button" icon="pi pi-plus" label="Add Intermediate Point"
              (click)="addIntermediatePoint()"></button>
    </h2>
    <div class="page__card">
      <div *ngIf="isDataPrepared else infoLoading">
        <!--        [locationMeetings]="point.get('location_meetings').value"  -->
        <pek-location-input
          *ngFor="let point of _intermediatePoints; let index=index; let last=last"
          [country]="point.get('country').value"
          [address]="point.get('address').value"
          [locationId]="point.get('id').value"
          [showHr]="!last"
          class="location"
          [class.last]="last"
          [showDelete]="true"
          [companiesFilters]="companiesFilters"
          (emitDeletePoint)="removePoint(point, index)"
          (meetingsChanged)="meetingChanged(point, $event);"
          [type]="locationStatus.INTERMEDIATE"
          (countryChanged)="point.get('country').setValue($event);  locationChanged.next({type: locationStatus.INTERMEDIATE, locationIndex: index});"
          (addressChanged)="point.get('address').setValue($event);  locationChanged.next({type: locationStatus.INTERMEDIATE, locationIndex: index});"
          [showAddMeetings]="true"
        ></pek-location-input>
        <div class="d-flex justify-content-center" *ngIf="_intermediatePoints.length === 0">
          <h2>
            No Intermediate Points
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="page__content">
    <h2 class="mb-4">Purpose</h2>
    <div class="page__card">
      <div *ngIf="isDataPrepared else infoLoading">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Purpose short</label>
              <input pInputText (ngModelChange)="infoChangedEmit.next(false)" formControlName="purpose_short"
                     class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Purpose Description</label>
              <textarea pInputTextarea (ngModelChange)="infoChangedEmit.next(false)" formControlName="purpose_full"
                        class="form-control" id="comment"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page__content">
    <h2 class="mb-4 d-flex justify-content-between">
      Hotel
      <button pButton type="button" icon="pi pi-plus" label="Add Hotel" (click)="addHotels()"></button>
    </h2>
    <div class="page__card">
      <div *ngIf="isDataPrepared else infoLoading">
        <pek-hotels-list (currentBusinessTripHotels)="updateHotels($event)" #hotelsList
                         [businessTripId]="tripId"></pek-hotels-list>
      </div>
    </div>
  </div>

  <div class="page__content">
    <h2 class="mb-4">Vehicle</h2>
    <div class="page__card">
      <div *ngIf="isDataPrepared else infoLoading">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Vehicle Type</label>
              <pek-vehicle-type-picker [type]="form.get('vehicle_type').value"
                                       (valueChange)="changedVehicleType($event); vehicleChangedEmit.next()"></pek-vehicle-type-picker>
            </div>
          </div>
          <ng-template [ngIf]="form.get('vehicle_type').value === BusinessTripVehicleType.PRIVATE ||  form.get('vehicle_type').value === BusinessTripVehicleType.RENT">
            <div class="col-4">
              <div class="form-group">
                <label>Vehicle Model</label>
                <input pInputText (ngModelChange)="vehicleChangedEmit.next()" formControlName="vehicle_model"
                       class="form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Vehicle Registration Plate</label>
                <input pInputText (ngModelChange)="vehicleChangedEmit.next()" formControlName="vehicle_number"
                       class="form-control">
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="form.get('vehicle_type').value === BusinessTripVehicleType.COMPANY_CAR">
            <div formGroupName="vehicle" class="col-4">
              <div class="form-group">
                <label>Vehicle</label>
                <pek-vehicle-picker
                  [placeholder]="'Vehicle Model'"
                  [vehicle]="_vehicle.get('id').value"
                  (valueChange)="_vehicle.setValue($event); vehicleChangedEmit.next()"
                ></pek-vehicle-picker>
              </div>
            </div>
            <div formGroupName="vehicle" class="col-4">
              <div class="form-group">
                <label>Vehicle Registration Plate</label>
                <input pInputText [attr.disabled]="true" formControlName="number" class="form-control">
              </div>
            </div>
          </ng-template>

          <div *ngIf="form.get('vehicle_type').value !== BusinessTripVehicleType.WITHOUT" class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Start Mileage</label>
                <input pInputText (ngModelChange)="vehicleChangedEmit.next()" formControlName="start_mileage"
                       class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>End Mileage</label>
                <input pInputText (ngModelChange)="vehicleChangedEmit.next()" formControlName="end_mileage"
                       class="form-control">
              </div>
            </div>
          </div>
          <ng-template [ngIf]="form.get('vehicle_type').value !== BusinessTripVehicleType.WITHOUT">
            <div class="row">
              <div class="col-6">
                <div class="form-group vehicle-file-selector">
                  <label for="vehicleMileageStartFile" class="input-file d-flex align-items-center">
                    <input type="file" id="vehicleMileageStartFile" #inputFile
                           (input)="imageManipulation($event, $event.target, 'start_mileage_file')">
                    <span><i class="fa fa-download"></i>Choose File</span>
                  </label>
                  <span>
          <a *ngIf="form.get('start_mileage_file').value" [href]="form.get('start_mileage_file').value"
             (click)="viewFile()">
            {{ getName(form.get('start_mileage_file').value) }}
          </a>
              <button *ngIf="this.form.get('start_mileage_file').value" class="remove"
                      (click)="removeMileageFile('start_mileage_file')">
      <i class="pi pi-times"></i>
      Remove File
    </button>
        </span>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group vehicle-file-selector">
                  <label for="vehicleMileageEndFile" class="input-file d-flex align-items-center">
                    <input type="file" id="vehicleMileageEndFile" #inputFile
                           (input)="imageManipulation($event, $event.target, 'end_mileage_file')">
                    <span><i class="fa fa-download"></i>Choose File</span>
                  </label>
                  <span>
                    <a *ngIf="form.get('end_mileage_file').value" [href]="form.get('end_mileage_file').value">
                      {{ getName(form.get('end_mileage_file').value) }}
                    </a>
                    <button *ngIf="this.form.get('end_mileage_file').value" class="remove"
                            (click)="removeMileageFile('end_mileage_file')">
                      <i class="pi pi-times"></i>
                      Remove File
                    </button>
                      </span>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="page__content">
    <h2 class="mb-4">Initiator</h2>
    <div class="page__card">
      <div *ngIf="isDataPrepared else infoLoading">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Initiator</label>
              <pek-crm-single-employee-picker
                [employee]="this.form.get('initiator').value"
                (valueChange)="form.get('initiator').setValue($event.id); infoChangedEmit.next(false)"
              ></pek-crm-single-employee-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page__content">
    <pek-trip-expenses-table
      [businessTripId]="tripId"
      (verifyBusinessTrip)="infoChangedEmit.next(true)"
      [isVerify]="isVerify"
      (currentBusinessTripExpenses)="updateExpenses($event);"
      (deleteExpense)="deleteExpense($event)"
      (editExpense)="editTripExpense($event)"
      (unverifyTrip)="infoChangedEmit.next(false)"
      (expenseSumEmit)="expensesSum = $event"
    ></pek-trip-expenses-table>
    <div class="d-flex justify-content-center" *ngIf="tripExpenses.length === 0">
      <h2>
        No Evidences
      </h2>
    </div>
  </div>
</form>


<ng-template #infoLoading>
  <div class="info-loading">
    <i class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
  </div>
</ng-template>
