section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
}

.product-files {
  margin-top: 1.5rem;
  margin-bottom: 1px;

  &__caption {
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
  }
}
