<div pekPasteScreenImage (imageAdded)="fileAdded($event)">
  <div class="modal-header">
    <h2 class="modal-header__title">
      Payment Files
    </h2>
  </div>

  <mat-dialog-content >
    <pek-upload-file
      [uploadFiles]="uploadFiles"
      [multiple]="true"
      [canPrintScreenImage]="true"
      (selectFile)="onSelectFiles($event)"
    ></pek-upload-file>

    <div class="product-files">
      <h3 class="product-files__caption">Uploaded Files</h3>
      <p-table
        selectionMode="single"
        [value]="files"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="index-header text-center" style="width: 5%">#</th>
            <th style="width: 75%">Name</th>
            <th style="width: 20%">Download</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-file let-i="rowIndex">
          <tr>
            <td class="text-center" style="width: 5%">{{i + 1}}</td>
            <td style="width: 75%" class="word-break">
              <a [href]="link + file.file">
                {{getFileName(file.file)}}
              </a>
            </td>
            <td style="width: 20%">
              <div class="d-flex">
                <button
                  pButton
                  (click)="onDownloadFile(file)"
                  [loading]="addition.has(file.id)"
                  type="button"
                  class="p-button-primary p-button-rounded p-button-outlined p-button-rounded_small mr-2"
                  icon="pi pi-download"
                ></button>
                <button
                  pButton
                  (click)="onRemoveFile(file.id)"
                  [loading]="deletion.has(file.id)"
                  type="button"
                  class="p-button-danger p-button-rounded p-button-outlined p-button-rounded_small"
                  icon="pi pi-trash"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-2" [attr.colspan]="3">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-dialog-content>


  <mat-dialog-actions class="justify-content-between">
    <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
    <button
      pButton
      type="button"
      class="p-button-success"
      label="Upload"
      [loading]="isPending"
      [disabled]="uploadFiles.length === 0"
      (click)="onUploadFiles()"
    ></button>
  </mat-dialog-actions>

</div>
