.modal-header {
}

.empty {
  font-size: 1.125rem;
  font-weight: 400;
}

.qr-code-modal {
  &__box {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-right: 1.25rem;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  &__list {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
