<div class="guide-outsourcing">
  <div class="guide-outsourcing__col guide-outsourcing__col_1">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Supplier"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmation"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmation"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-outsourcing__col guide-ouFtsourcing__col_2">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Creating of outsourcing order"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Work with Outsourcer"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Confirmed payment"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Confirmed Supplier after lender confirmation"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-outsourcing__col guide-outsourcing__col_3">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Outsourcing"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-outsourcing__col guide-outsourcing__col_4">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Work with Outsourcer request"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Delivered Items"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Request for confirmation of payment"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Request for confirmation of Outsourcer by tender"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-outsourcing__col guide-outsourcing__col_5">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Outsourser"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="QC"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmation"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmation"
      ></pek-guide-button>
    </div>
  </div>
</div>
