.add-product {
  h3 {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  padding: 0 0 0.25rem;

  &__buttons {
    button {
      margin-right: 1rem;
      width: 9rem;

      &:nth-child(2) {
        .pi {
          font-size: 0.875rem;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__header {
    p {
      font-weight: 500;
      margin-top: 0.5rem;
    }
  }
}

.form {
  width: 100%;
  margin-top: 0.5rem;
}

.hide {
  display: none;
}

.modal-header__title {
  display: flex;
  align-items: center;
}

.hint {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  color: var(--theme-color-primary);
  background: rgba(59, 130, 246, 0.04);
  border-radius: 50%;
  margin-left: 0.75rem;
  width: 1.75rem;

  i {
    font-size: 1.25rem;
    font-style: normal;
    position: relative;
    left: 1px;
  }
}
