<div class="modal-header">
  <h2 class="modal-header__title">
    Edit Product
    {{product.nomenclature.id}}
    <span
      class="hint"
      pTooltip="To paste the image, copy it and press «Ctrl + V»"
      tooltipPosition="top"
    >
      <i>?</i>
    </span>
  </h2>
</div>

<mat-dialog-content>
  <pek-create-edit-form
    [product]="product"
    (formChange)="onChangeFormValue($event)"
    (uploadImage)="onUploadImage($event)"
    (removeImage)="onRemoveImage($event)"
  ></pek-create-edit-form>

</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button
    pButton
    type="button"
    label="Cancel"
    [mat-dialog-close]="false"
    class="p-button-danger"
  ></button>
  <button
    pButton
    type="button"
    label="Edit"
    class="p-button-success"
    [disabled]="isFormInvalid"
    [loading]="isSaving"
    (click)="onUpdateProduct()"
  ></button>
</mat-dialog-actions>

