<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'warehouse'" [isActive]="true"></pek-module-icon>
      <h1>Warehouse Isolator</h1>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__tabs">
    <p-tabView class="custom-tabs">
      <p-tabPanel header="Invoices Isolator" [selected]="true">
        <div class="page__table">
          <p-table
            #dt
            selectionMode="single"
            scrollHeight="calc(100vh - 18.8rem)"
            [scrollable]="true"
            [paginator]="invoices.length > 0"
            [rows]="10"
            [(selection)]="selectedInvoice"
            [value]="invoices"
          >
            <ng-template pTemplate="caption">
              <div class="d-flex">
                <p class="subtitle" *ngIf="!selectedInvoice">Choose the Invoice to view Items</p>
                <button
                  class="ml-auto"
                  pButton
                  type="button"
                  icon="pi pi-bars"
                  label="Isolator Items"
                  [disabled]="!selectedInvoice"
                  [routerLink]="['invoices', selectedInvoice?.id]"
                ></button>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5%" class="text-center">#</th>
                <th style="width: 20%" class="text-center">Date</th>
                <th style="width: 25%" class="text-center">Invoice Number</th>
                <th style="width: 25%" class="text-center">Order ID</th>
                <th style="width: 25%" class="text-center">Supplier</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-invoice let-i="rowIndex">
              <tr [pSelectableRow]="invoice">
                <td style="width: 5%" class="text-center">{{i + 1}}</td>
                <td style="width: 20%" class="text-center">{{invoice.system_creation_date | date:'dd/MM/yyyy'}}</td>
                <td style="width: 25%"
                    class="text-center">{{invoice.self_serial_number}} {{invoice.self_proforma_serial_number}}</td>
                <td style="width: 25%" class="text-center">{{invoice.order?.id}}</td>
                <td style="width: 25%" class="text-center">{{invoice.supplier?.name}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center p-4" [attr.colspan]="5">
                  <i *ngIf="isLoadingInvoices" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                  <span *ngIf="!isLoadingInvoices">No Records Found</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button
                type="button"
                (click)="dt.paginator=false"
                styleClass="p-button-text"
              >All
              </p-button>
            </ng-template>
          </p-table>
        </div>
        <div *ngIf="!dt.paginator && !isLoadingInvoices && invoices.length > 0" class="paginator-return-pagination">
          <p-button
            type="button"
            (click)="dt.paginator=true"
            styleClass="p-button-text"
          >
            Return pagination
          </p-button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Orders Isolator">
        <div class="page__table">
          <p-table
            #st
            selectionMode="single"
            scrollHeight="calc(100vh - 18.8rem)"
            [scrollable]="true"
            [paginator]="orders.length > 0"
            [rows]="10"
            [(selection)]="selectedOrder"
            [value]="orders"
          >
            <ng-template pTemplate="caption">
              <div class="d-flex">
                <p class="subtitle" *ngIf="!selectedOrder">Choose the Order to view Items</p>
                <button
                  class="ml-auto"
                  pButton
                  type="button"
                  icon="pi pi-bars"
                  label="Isolator Items"
                  [disabled]="!selectedOrder"
                  [routerLink]="['orders', selectedOrder?.id]"
                ></button>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5%" class="text-center">#</th>
                <th style="width: 20%" class="text-center">Date</th>
                <th style="width: 25%" class="text-center">Order ID</th>
                <th style="width: 25%" class="text-center">Root List</th>
                <th style="width: 25%" class="text-center">Items Reception Date</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order let-i="rowIndex">
              <tr [pSelectableRow]="order">
                <td style="width: 5%" class="text-center">{{i + 1}}</td>
                <td style="width: 20%" class="text-center">{{order.created | date:'dd/MM/yyyy'}}</td>
                <td style="width: 25%" class="text-center">{{order.id}}</td>
                <td style="width: 25%" class="text-center">
                  <ng-container *ngIf="order.root_production_list_products.length > 0">
                    {{order.root_production_list_products[0].nomenclature.code}}
                    ~{{order.root_production_list_products[0].nomenclature.name}}
                  </ng-container>
                </td>
                <td style="width: 25%" class="text-center">{{order.items_reception_date | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center p-4" [attr.colspan]="5">
                  <i *ngIf="isLoadingOrders" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                  <span *ngIf="!isLoadingOrders">No Records Found</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button
                type="button"
                (click)="st.paginator=false"
                styleClass="p-button-text"
              >All
              </p-button>
            </ng-template>
          </p-table>
        </div>
        <div *ngIf="!st.paginator && !isLoadingOrders && orders.length > 0" class="paginator-return-pagination">
          <p-button
            type="button"
            (click)="st.paginator=true"
            styleClass="p-button-text"
          >
            Return pagination
          </p-button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
