<div class="auth-page">
  <div class="row m-0">
    <div class="col-sm-3 col-12 mx-auto">
      <div class="card">
        <div class="card-body py-5">
          <div class="auth-header">
            <h1 class="logo">Slopehelper ERP</h1>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">

            <input type="text" formControlName="username" placeholder="username">
            <input type="text" formControlName="password" placeholder="pass">

            <button type="submit" [disabled]="loginForm.invalid">Log In</button>
          </form>

          <div class="alert alert-danger mt-3" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
