<h2>Production Lists Procurement Module</h2>

<p>
  Divided into three modules:
</p>

<p>
  Production lists procurement - purchase by auto-requests from production lists<br>
  Outsourcing procurement - outsourcing order for the production of parts and assemblies from plans<br>
  General procurement - manual production requests and all other purchasing
</p>

<h3>PROCUREMENT CHAIN CREATION</h3>

<p>
  In the Production list procurement module, procurement is carried out according to auto requests from production
  lists. The procurement chain creation menu includes shortage requests for specific production lists, from which the
  procurement manager forms procurement chains.
</p>

<p>
  <img src="assets/images/instructions/procurement/1.jpg">
</p>

<p>
  In the list we see the requested quantity, the production list for which the request is intended, as well as free
  ordered qtt, if there is an unclosed order with the same position, the ordered quantity in which is greater than in
  the original request.
  To create a new chain, you must select the items that will be purchased from one supplier, select the supplier,
  specify the ordered quantity, which may differ from the requested one, and click the create button.
</p>

<p>
  <img src="assets/images/instructions/procurement/2.jpg">
</p>

<p>
  Or, if there is already an existing chain with free quantity, we can add a request to this chain.
</p>

<p>
  <img src="assets/images/instructions/procurement/3.jpg">
</p>

<p>
  Outsourcing procurement is different in that the chain is created automatically from the production plan.
</p>

<p>
  <img src="assets/images/instructions/procurement/4.jpg">
</p>

<h3>PROCUREMENT REQUESTS</h3>

<p>
  General procurement differs in that it has the ability to manually add a procurement request, as well as in the fact
  that when creating a chain, you must select a procurement category.
</p>

<p>
  <img src="assets/images/instructions/procurement/5.jpg">
</p>

<h3>PROCUREMENT CHAINS / OUTSOURCING CHAINS</h3>

<p>
  The purchasing chain contains all the processes and all the information needed to make a purchase, from request to
  delivery.
</p>

<p>
  - the ability to create a tender<br>
  - supplier information<br>
  - chain status<br>
  - possibility to specify delivery time<br>
  - list of ordered items<br>
  - list of required materials (relevant for outsourcing)<br>
  - creation of proformas<br>
  - creation of invoices<br>
  - creating payments<br>
  - auxilary invoices and payments<br>
  - Attaching files<br>
  - creating payments<br>
  - auxilary invoices and payments<br>
  - Attaching files
</p>

<p>
  <img src="assets/images/instructions/procurement/6.jpg">
</p>

<p>
  In the purchasing process, it is possible to add items for purchase, change the quantity, remove an item from the
  chain.
  When creating a new invoice or proforma, all ordered items are automatically included in the invoice or proforma, but
  it is possible to remove some of the items from the invoice or proforma and create another invoice, which will include
  only items that were not included in the first invoice. In the invoice, you must fill in the external invoice number
  from the supplier, dates, price for each item. If some service was provided along with the positions, which is
  indicated in the original invoice from the supplier, it must be added with the add service button. The total price
  will be calculated automatically. It is also possible to attach files.
  When you complete an invoice, the list of invoice items appears in qc.
</p>

<p>
  <img src="assets/images/instructions/procurement/7.jpg">
</p>

<p>
  After creating an invoice, you need to create a payment. This payment must be confirmed in the confirmation menu,
  after which its status will change from awaiting to confirmed, and it can be paid.
</p>

<p>
  Auxilary invoices - additional services necessary for the purchase of requested items - delivery service, custom, etc.
  They are invoices with the necessary services. We create an invoice, select the necessary company and the services
  provided. As well as for regular invoices, we create a payment that must go through the confirmation procedure.
</p>

<p>
  For purchasing chains, it is possible to set statuses automatically or manually. The configuration
  menu is located in each purchasing module and is configured separately for each module.
</p>

<h3>ORDER STATUSES</h3>

<p>
  In this menu, you can specify which statuses will be added automatically, as well as set up a list of statuses for
  manual addition.
</p>

<p>
  <img src="assets/images/instructions/procurement/8.jpg">
</p>

<h3>Auxiliary Invoices Types</h3>

<p>
  In the production lists procurement module, a list of services for invoices is configured. It is common to all three
  purchasing modules.
</p>

<p>
  <img src="assets/images/instructions/procurement/9.jpg">
</p>
