<div class="crm-multi-contact-persons-picker">
  <p-multiSelect
    *ngIf="!isLoading; else spinner"
    [options]="contactPersons"
    [(ngModel)]="selectedContactPersons"
    optionLabel="fullName"
    optionValue="id"
    placeholder="Select Contact Persons"
    (ngModelChange)="onSelectEventTypes($event)"
    [showClear]="true"
  ></p-multiSelect>

  <ng-template #spinner>
    <div class="spinner-input">
      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
    </div>
  </ng-template>
</div>
