<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'business-trip'" [isActive]="true"></pek-module-icon>
      <h1>Positions</h1>
    </div>
    <div class="page__tools">
      <button pButton type="button" icon="pi pi-plus" label="New Department" (click)="addDepartment()"></button>
      <button pButton type="button" icon="pi pi-plus" class="ml-2 mr-4" label="New Position" (click)="addPosition()"></button>
      <button
        pButton
        type="button"
        icon="pi pi-angle-down"
        label="Expand All"
        class="mr-2"
        (click)="expandCollapse()"
      ></button>
      <button
        pButton
        type="button"
        class="mr-2"
        icon="pi pi-angle-up"
        label="Collapse All"
        (click)="expandCollapse(false)"
      ></button>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <div class="page__table">
      <p-treeTable
        [value]="tree"
        selectionMode="single"
        [(selection)]="selected"
        [scrollable]="true"

        scrollHeight="calc(100vh - 19.2rem)"
      >
        <ng-template pTemplate="caption">
          <div class="action-buttons">
            <p-menubar
              *ngIf="selected && selected.data.position"
              class="ml-auto"
              [model]="menuItemsPositions"
              [class.disabled]="!selected"></p-menubar>
            <p-menubar
              *ngIf="selected && selected.data.department"
              class="ml-auto"
              [model]="menuItemsDepartments"
              [class.disabled]="!selected || selected?.data?.department?.id == 90000000"></p-menubar>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="padding-left: 52px; width: 60%">Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td style="width: 100%">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.department?.title}}
              {{rowData.position?.title}}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>
