<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'business-trip'" [isActive]="true"></pek-module-icon>
      <h1>Positions</h1>
    </div>
    <div class="page__tools">
      <button pButton type="button" icon="pi pi-plus" label="New Position" (click)="addPosition()"></button>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <div class="page__table">
      <p-table
        #dt
        selectionMode="single"
        scrollHeight="calc(100vh - 18.8rem)"
        [scrollable]="true"
        [paginator]="positions.length > 0"
        [rows]="10"
        [(selection)]="selectedPosition"
        [value]="positions"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <p class="subtitle" *ngIf="!selectedPosition">Choose the Position to edit</p>
            <p-menubar class="ml-auto" [model]="menuItems" [class.disabled]="!selectedPosition"></p-menubar>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5%" class="text-center">#</th>
            <th style="width: 45%">Title</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-position let-i="rowIndex">
          <tr [pSelectableRow]="position">
            <td style="width: 5%" class="text-center">{{ i + 1 }}</td>
            <td style="width: 45%">{{ position.title }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="5">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="dt.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!dt.paginator && !isLoading && positions.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="dt.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>
</div>
