.guide {
  &__instruction {
    padding: 0.875rem 1rem 1rem;
    margin-left: 1.25rem;
    width: 25.75%;
    height: 100%;
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    overflow: auto;

    h2 {
      font-size: 1.325rem;
      font-weight: 600;
      line-height: 1.3;
      margin: 0 0 0.75rem;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.3;
      margin: 0 0 0.75rem;
    }

    p {
      margin: 1rem 0;
    }

    img {
      width: 100%;
      height: auto;
      margin: 0.75rem 0;
      cursor: pointer;
    }

    span {
      font-weight: 500;
      font-style: italic;
    }
  }

  &__image-box {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 3000;

    img {
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 90%;
    }

    &_open {
      display: flex;
    }
  }
}
