.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;

  h2 {
    margin-bottom: 0.25rem;
  }

  p {
    margin-bottom: 0;
  }
}

form {
  margin-bottom: 0.5rem;
}

.paginator-wrapper {
  border-bottom: none;
}
