<div class="guide" [class.guide_hide-instruction]="!isShowInstruction">
  <ng-container *ngIf="guideType === 'flow'">
    <div
      #guidePanel
      class="guide__panel"
      [ngSwitch]="guideFlowType"
    >
      <div
        class="guide__box"
        *ngSwitchCase="'all'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="allGuideMargin"
      >
        <ng-container *ngTemplateOutlet="main"></ng-container>
      </div>

      <div
        class="guide__box"
        *ngSwitchCase="'product-structure'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="allGuideMargin"
      >
        <ng-container *ngTemplateOutlet="main"></ng-container>
      </div>

      <div
        class="guide__box guide__qc"
        *ngSwitchCase="'qc'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="qcGuideMargin"
      >
        <div class="guide__qc-box guide__qc-box_1">

          <div class="guide__qc-col guide__qc-col_1">
            <div class="guide__button guide__button_disabled">
              <pek-guide-button
                [disabled]="true"
                title="Manufacturing Procurement"
              ></pek-guide-button>
              <span></span>
            </div>

            <div class="guide__button guide__button_disabled">
              <pek-guide-button
                [disabled]="true"
                title="Outsourcing"
              ></pek-guide-button>
              <span></span>
            </div>
          </div>

          <div class="guide__qc-col guide__qc-col_2">
            <div class="guide__button guide__button_disabled guide__button_arrow-right">
              <pek-guide-button
                btnStyle="secondary"
                [disabled]="true"
                title="Completed Procurement Invoice"
              ></pek-guide-button>
              <span></span>
            </div>
          </div>

          <div class="guide__qc-col guide__qc-col_3">
            <div class="guide__button guide__button_qc-main">
              <pek-guide-button
                [hideButtons]="true"
                title="QC procurement invoices"
              ></pek-guide-button>
            </div>
          </div>

          <div class="guide__qc-col guide__qc-col_4">
            <div class="guide__button guide__button_1">
              <pek-guide-button
                [hideButtons]="true"
                btnStyle="secondary"
                title="Cancellation"
              ></pek-guide-button>
              <span></span>
            </div>

            <div class="guide__button guide__button_2">
              <pek-guide-button
                [hideButtons]="true"
                btnStyle="secondary"
                title="QC passed"
              ></pek-guide-button>
              <span></span>
            </div>

            <div class="guide__button guide__button_3">
              <pek-guide-button
                [hideButtons]="true"
                btnStyle="secondary"
                title="Isolator"
              ></pek-guide-button>
              <span></span>
            </div>
          </div>

          <div class="guide__qc-col guide__qc-col_5">
            <div class="guide__button guide__button_disabled">
              <pek-guide-button
                [disabled]="true"
                title="Outsourcing"
              ></pek-guide-button>
              <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <div class="guide__button guide__button_disabled">
              <pek-guide-button
                [disabled]="true"
                title="Warehouse"
              ></pek-guide-button>
              <div>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>

          <div class="guide__qc-col guide__qc-col_6">
            <pek-guide-button
              [disabled]="true"
              title="Manufacturing Procurement"
            ></pek-guide-button>
          </div>
        </div>

        <div class="guide__qc-box">

          <div class="guide__qc-col guide__qc-col_7">
            <div class="guide__button guide__button_disabled">
              <pek-guide-button
                [disabled]="true"
                title="Production"
              ></pek-guide-button>
            </div>
          </div>

          <div class="guide__qc-col guide__qc-col_8">
            <div class="guide__button guide__button_disabled guide__button_arrow-right">
              <pek-guide-button
                btnStyle="secondary"
                [disabled]="true"
                title="Completed production order"
              ></pek-guide-button>
              <span></span>
            </div>
          </div>


          <div class="guide__qc-col guide__qc-col_9">
            <div class="guide__button guide__button_qc-main">
              <pek-guide-button
                [hideButtons]="true"
                title="QC our manufacturing"
              ></pek-guide-button>
              <span></span>
            </div>
          </div>

          <div class="guide__qc-col guide__qc-col_10">

            <div class="guide__button guide__button_1">
              <pek-guide-button
                [hideButtons]="true"
                btnStyle="secondary"
                title="Rework All"
              ></pek-guide-button>
              <span></span>
            </div>

            <div class="guide__button guide__button_2">
              <pek-guide-button
                [hideButtons]="true"
                btnStyle="secondary"
                title="Rework Item"
              ></pek-guide-button>
              <span></span>
            </div>

            <div class="guide__button guide__button_3">
              <pek-guide-button
                [hideButtons]="true"
                btnStyle="secondary"
                title="QC passed"
              ></pek-guide-button>
              <span></span>
            </div>
          </div>

          <div class="guide__qc-col guide__qc-col_11">
            <div class="guide__button guide__button_disabled">
              <pek-guide-button
                [disabled]="true"
                title="Production"
              ></pek-guide-button>
              <div>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <div class="guide__button guide__button_disabled">
              <pek-guide-button
                [disabled]="true"
                title="Warehouse"
              ></pek-guide-button>
              <div>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div
        *ngSwitchCase="'sales'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="salesGuideMargin"
      >
        <app-guide-sales></app-guide-sales>
      </div>

      <div
        *ngSwitchCase="'outsource'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="outsourceGuideMargin"
      >
        <app-guide-outsourcing></app-guide-outsourcing>
      </div>

      <div
        *ngSwitchCase="'procurement'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="procurementGuideMargin"
      >
        <app-guide-procurement></app-guide-procurement>
      </div>

      <div
        *ngSwitchCase="'production'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="productionGuideMargin"
      >
        <app-guide-production></app-guide-production>
      </div>

      <div
        *ngSwitchCase="'warehouse'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="warehouseGuideMargin"
      >
        <pek-guide-warehouse></pek-guide-warehouse>
      </div>

      <div
        *ngSwitchCase="'confirmation'"
        [style.transform]="'scale(' + zoom + ')'"
        [style.margin]="confirmationGuideMargin"
      >
        <pek-guide-confirmation></pek-guide-confirmation>
      </div>
    </div>

    <div
      class="guide__instruction"
      mwlResizable
      [style.flex]="'0 0 ' + instructionWidth + 'px'"
      [enableGhostResize]="true"
      [resizeSnapGrid]="{left: 12}"
      (resizing)="moveInstruction($event)"
      (resizeEnd)="onResizeEnd($event)"
    >
      <div class="resize-handle" mwlResizeHandle [resizeEdges]="{ left: true }"></div>
      <div class="drag-handle" cdkDragHandle></div>
      <ng-container [ngSwitch]="guideFlowType">
        <ng-container *ngSwitchCase="'all'">
          <pek-main-instruction></pek-main-instruction>
        </ng-container>

        <ng-container *ngSwitchCase="'qc'">
          <pek-qc-instruction></pek-qc-instruction>
        </ng-container>

        <ng-container *ngSwitchCase="'sales'">
          <pek-sales-instruction></pek-sales-instruction>
        </ng-container>

        <ng-container *ngSwitchCase="'outsource'">
          <pek-outsource-instruction></pek-outsource-instruction>
        </ng-container>

        <ng-container *ngSwitchCase="'procurement'">
          <pek-procurement-instruction></pek-procurement-instruction>
        </ng-container>

        <ng-container *ngSwitchCase="'production'">
          <pek-production-instruction></pek-production-instruction>
        </ng-container>

        <ng-container *ngSwitchCase="'warehouse'">
          <pek-warehouse-instruction></pek-warehouse-instruction>
        </ng-container>

        <ng-container *ngSwitchCase="'confirmation'">
          <pek-confirmation-instruction></pek-confirmation-instruction>
        </ng-container>

        <ng-container *ngSwitchCase="'product-structure'">
          <pek-product-structure-instruction></pek-product-structure-instruction>
        </ng-container>
      </ng-container>
    </div>

  </ng-container>

  <ng-container *ngIf="guideType === 'map'">
    <pek-guide-map></pek-guide-map>
  </ng-container>

  <ng-container *ngIf="guideType === 'glossary'">
    <pek-guide-glossary></pek-guide-glossary>
  </ng-container>

  <div class="guide__image-box" (click)="closeImageModal()">
  </div>
  <button class="guide__image-box-close" (click)="closeImageModal()">
    <i class="pi pi-times"></i>
  </button>
  <!--  <button-->
  <!--    pButton-->
  <!--    *ngIf="data.type=='writeOff'"-->
  <!--    type="button"-->
  <!--    class="p-button-success"-->
  <!--    [label]="'Write Off'"-->
  <!--    (click)="writeOff()"-->
  <!--  ></button>-->

  <button
    pButton
    type="button"
    class="p-button-danger guide__close guide-action-button"
    label="Close Business guide"
    icon="pi pi-times"
    (click)="onClose()"
  >
  </button>

  <button
    pButton
    label="Back"
    class="guide__back mr-2"
    *ngIf="guideFlowType !== 'all' && guideType === 'flow'"
    (click)="onBack()"
    icon="pi pi-arrow-left"
  ></button>

  <div class="guide__header">
    <ng-container *ngIf="guideType === 'flow'">
      <button
        class="mr-2"
        (click)="plusScale()"
        pButton
        label="+"
        [disabled]="zoom >= 1.4">
      </button>
      <button
        pButton
        label="-"
        class="mr-3"
        (click)="minusScale()"
        [disabled]="zoom <= 0.7"
      ></button>
    </ng-container>

    <ng-container *ngIf="guideType === 'flow'">
      <button
        (click)="isFullScreen ? closeFullScreen() : goToFullScreen()"
        pButton
        [label]="isFullScreen ? 'Exit Full Screen' : 'Full Screen'"
        [icon]="isFullScreen ? 'pi pi-eye-slash' : 'pi pi-eye'"
        class="mr-2"
      ></button>
      <button
        (click)="toggleInstruction()"
        pButton
        [label]="isShowInstruction ? 'Hide Instruction' : 'Show Instruction'"
        [icon]="isShowInstruction ? 'pi pi-eye-slash' : 'pi pi-eye'"
        class="mr-3"
      ></button>
    </ng-container>

    <button
      class="guide-action-button"
      pButton
      [disabled]="guideType === 'flow'"
      (click)="onChoiceGuideType('flow')"
      label="Business Flow"
      icon="pi pi-box"
    ></button>
    <button
      pButton
      [disabled]="guideType === 'map'"
      class="ml-2 guide-action-button"
      (click)="onChoiceGuideType('map')"
      icon="pi pi-map"
      label="Business Processes Maps"
    ></button>
    <button
      [disabled]="guideType === 'glossary'"
      pButton
      class="ml-2 guide-action-button"
      icon="pi pi-book"
      (click)="onChoiceGuideType('glossary')"
      label="Glossary"
    ></button>
  </div>
</div>


<ng-template #main>
  <div class="guide__col guide__col_1">
    <div class="guide__button">
      <pek-guide-button
        title="Product Structure"
        routeUrl="product-structure/products"
        buttonsPosition="top"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>
    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        btnStyle="secondary"
        title="Nomenclature Confirmation"
        [i]="1"
        routeUrl="/confirmation/nomenclature"
        (navigate)="goToLinkWindow($event)"
        buttonsPosition="right"
      ></pek-guide-button>
      <span></span>
    </div>
    <div class="guide__button">
      <pek-guide-button
        title="Confirmation"
        routeUrl="/confirmation"
        buttonsPosition="right"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Business trips"
        routeUrl="/business-trips/trips"
        (navigate)="goToLink($event)"
        buttonsPosition="top"
      ></pek-guide-button>
    </div>
  </div>
  <div class="guide__col guide__col_2">
    <div class="guide__button guide__button_arrow-right some-button-1">
      <pek-guide-button
        btnStyle="secondary"
        title="Creating structure of product"
        routeUrl="/dash/product-structure/products"
        buttonsPosition="bottom"
        [i]="2"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Sales Chain Creating"
        [i]="5"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="primary"
        title="Contacts and Events"
        routeUrl="/crm/business-partners"
        buttonsPosition="right"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button guide__button_arrow-top-bottom">
      <pek-guide-button
        btnStyle="secondary"
        title="Marketing and Sales Events"
        [i]="7"
      ></pek-guide-button>
      <span class="top"></span>
      <span class="bottom"></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="outline"
        title="Customer"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Correspondents"
        routeUrl="/correspondents/incoming-correspondent"
        (navigate)="goToLink($event)"
        buttonsPosition="top"
      ></pek-guide-button>
    </div>
  </div>
  <div class="guide__col guide__col_3">
    <div class="guide__button">
      <pek-guide-button
        [hideButtons]="true"
        btnStyle="secondary"
        title="Manufacturing parts in advance"
        [i]="3"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Sales"
        routeUrl="/sales/sales-chains"
        (navigate)="goToLink($event)"
        buttonsPosition="right"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        [i]="6"
        btnStyle="secondary"
        title="Creation of delivery chain"
        buttonsPosition="right"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Delivery chain"
        buttonsPosition="right"
        routeUrl="/dash/delivery-chains"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        [i]="8"
        btnStyle="secondary"
        title="Delivery request"
        buttonsPosition="right"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        routeUrl="/warehouse/items"
        title="Warehouse"
        buttonsPosition="right"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        [i]="9"
        btnStyle="secondary"
        title="Delivery process"
        buttonsPosition="right"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="outline"
        title="Customer"
        buttonsPosition="right"
        [hideButtons]="true"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="ERP Statistics"
        routeUrl="/statistics"
        buttonsPosition="top"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>
  </div>
  <div class="guide__col guide__col_4">
    <div class="guide__button guide__button_arrow-right">
      <pek-guide-button
        btnStyle="secondary"
        [i]="4"
        title="Production request"
        routeUrl="/dash/warehouse/requests"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        [i]="54"
        title="Confirmation of reparation"
        routeUrl="/statistics"
        buttonsPosition="top"
      >
      </pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="QC"
        routeUrl="/quality-control"
        buttonsPosition="right"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Administration"
        buttonsPosition="right"
      ></pek-guide-button>
    </div>
  </div>
  <div class="guide__col guide__col_5">
    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        routeUrl="/product-structure/products"-->
    <!--        (navigate)="goToLink($event)"-->
    <!--        title="Product structure"-->
    <!--        buttonsPosition="top"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->
    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="Manufacturing parts in advance"-->
    <!--        buttonsPosition="right"-->
    <!--      ></pek-guide-button>-->
    <!--      <span></span>-->
    <!--    </div>-->
    <div class="guide__button">
      <pek-guide-button
        title="Confirmation"
        routeUrl="/confirmation"
        buttonsPosition="bottom"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>
    <div class="guide__button">
      <pek-guide-button
        title="Confirmation"
        routeUrl="/confirmation"
        buttonsPosition="left"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>
    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        btnStyle="secondary"
        [i]="14"
        title="Confirmed payment"
        buttonsPosition="left"
        routeUrl="/dash/confirmation"
      ></pek-guide-button>
      <span></span>
    </div>
    <div class="guide__button">
      <pek-guide-button
        title="Payments"
        routeUrl="/dash/payments"
        (navigate)="goToLinkWindow($event)"
        buttonsPosition="left"
      ></pek-guide-button>
    </div>
  </div>
  <div class="guide__col guide__col_6">
    <div class="guide__button guide__button_arrow-right">
      <pek-guide-button
        btnStyle="secondary"
        title="Creating Production list"
        [i]="10"
        routeUrl="/dash/sales/lists"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button guide__button_arrow-left some-button-2">
      <pek-guide-button
        [i]="13"
        btnStyle="secondary"
        routeUrl="/dash/confirmation"
        title="Payments confirmation"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        routeUrl="/dash/confirmation"
        title="Tender"
        [i]="15"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="top"
        btnStyle="primary"
        routeUrl="/dash/confirmation"
        title="Confirmation"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
      <div>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        routeUrl="/dash/confirmation"
        title="Tender"
        [i]="19"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button some-button-8">
      <pek-guide-button
        btnStyle="secondary"
        routeUrl="/dash/confirmation"
        title="Payment confirmation"
        [i]="20"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Direct tools placement"
        [i]="59"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="guide__col guide__col_7">

    <div class="guide__button">
      <pek-guide-button
        title="Warehouse"
        routeUrl="/warehouse/items"
        buttonsPosition="top"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom some-button-3">
      <pek-guide-button
        btnStyle="secondary"
        title="Procurement request"
        [i]="12"
        routeUrl="/dash/procurement/request-creation"
        buttonsPosition="left"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Production lists procurement"
        (navigate)="goToLinkWindow($event)"
        routeUrl="/dash/procurement/orders"
        buttonsPosition="left"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button guide__button_arrow-top-bottom">
      <pek-guide-button
        btnStyle="secondary"
        title="Procurement"
        [i]="16"
        buttonsPosition="left"
      ></pek-guide-button>
      <span class="top"></span>
      <span class="bottom"></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="outline"
        title="Supplier"
        buttonsPosition="left"
        [hideButtons]="true"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-top-bottom">
      <pek-guide-button
        [i]="18"
        btnStyle="secondary"
        title="Procurement"
        buttonsPosition="left"
        [hideButtons]="true"
      ></pek-guide-button>
      <span class="top"></span>
      <span class="bottom"></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="primary"
        routeUrl="/dash/purchasing/orders"
        title="General Procurement"
        (navigate)="goToLinkWindow($event)"
        buttonsPosition="left"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-top some-button-7">
      <pek-guide-button
        btnStyle="secondary"
        [i]="22"
        title="Manual procurement request"
        buttonsPosition="left"
        [hideButtons]="true"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="outline"
        title="Employees"
        buttonsPosition="left"
        [hideButtons]="true"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="primary"
        title="Instruments/ tools/ equipment"
        buttonsPosition="top"
        routeUrl="/dash/instruments/instruments-and-tools"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>
  </div>
  <div class="guide__col guide__col_8">
    <div class="guide__button">
      <pek-guide-button
        btnStyle="primary"
        title="Confirmation"
        routeUrl="/confirmation"
        buttonsPosition="top"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button some-button-4">
      <pek-guide-button
        btnStyle="secondary"
        [i]="24"
        title="Manufacturing schedule confirmation"
        routeUrl="/confirmation"
        buttonsPosition="top"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button guide__button_arrow-right">
      <pek-guide-button
        btnStyle="secondary"
        [i]="11"
        title=" Production list deficit"
        routeUrl="/dash/warehouse/lists"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <!--        <button-->
    <!--          class="guide__button guide__button_secondary guide__button_delivery"-->
    <!--          routerLinkActive="guide__button_active"-->
    <!--        >-->
    <!--          Delivery items (?)-->
    <!--          <span></span>-->
    <!--          <span></span>-->
    <!--          <span></span>-->
    <!--          <span></span>-->
    <!--          <span></span>-->

    <!--          <div class="guide__buttons guide__buttons_top">-->
    <!--            <button>?</button>-->
    <!--            <button>-->
    <!--              <app-in-icon></app-in-icon>-->
    <!--            </button>-->
    <!--            <button>R</button>-->
    <!--          </div>-->
    <!--        </button>-->

    <div class="guide__button guide__button_delivery">
      <pek-guide-button
        btnStyle="secondary"
        title="Delivery items"
        [i]="17"
        routeUrl="test"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>

      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button guide__button_rework">
      <pek-guide-button
        btnStyle="secondary"
        title="Rework"
        [i]="28"
        routeUrl="test"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>

      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Delivered items"
        [i]="21"
        buttonsPosition="left"
        [hideButtons]="true"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Tool request"
        [i]="31"
        buttonsPosition="left"
        [hideButtons]="true"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Automatic tool purchase order"
        [i]="58"
        buttonsPosition="left"
        [hideButtons]="true"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="primary"-->
    <!--        title="Instruments/ tools/ equipment"-->
    <!--        buttonsPosition="top"-->
    <!--        routeUrl="/dash/instruments/instruments-and-tools"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->
  </div>
  <div class="guide__col guide__col_9">
    <!--        <button-->
    <!--          class="guide__button"-->
    <!--          routerLinkActive="guide__button_active"-->
    <!--        >-->
    <!--          Warehouse-->
    <!--          <div class="guide__buttons guide__buttons_top">-->
    <!--            <button>?</button>-->
    <!--            <button routerLink="/dash/warehouse/products">-->
    <!--              <app-in-icon></app-in-icon>-->
    <!--            </button>-->
    <!--            <button>R</button>-->
    <!--          </div>-->
    <!--        </button>-->

    <div class="guide__button">
      <pek-guide-button
        title="Warehouse"
        routeUrl="/warehouse/items"
        buttonsPosition="top"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-top-bottom">
      <pek-guide-button
        btnStyle="secondary"
        title="Production request"
        [i]="54"
        routeUrl="/dash/warehouse/requests"
        buttonsPosition="right"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span class="bottom"></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Manufacturing"
        routeUrl="/dash/production/plan"
        buttonsPosition="right"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        btnStyle="secondary"
        title="Order to our production"
        [i]="26"
        routeUrl="/dash/production/orders"
        buttonsPosition="right"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Manufacturing"
        routeUrl="/dash/production/plan"
        buttonsPosition="right"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        btnStyle="secondary"
        [i]="27"
        title="Manufactured order"
        routeUrl="/dash/production/orders"
        buttonsPosition="right"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="QC"
        buttonsPosition="right"
        (getInfo)="showLorem = true"
        [info]="true"
        routeUrl="/dash/quality-control/invoices"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        btnStyle="secondary"
        [i]="30"
        title="QC passed"
        routeUrl="/dash/quality-control/invoices"
        buttonsPosition="right"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        title="Warehouse"
        routeUrl="/warehouse/items"
        buttonsPosition="bottom"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide__col guide__col_some-1">
    <div class="guide__button">
      <pek-guide-button
        title="QC"
        routeUrl="/quality-control"
        buttonsPosition="bottom"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button  guide__button_arrow-top-bottom">
      <pek-guide-button
        btnStyle="secondary"
        title="Confirmation of preparation"
        [i]="52"
        buttonsPosition="bottom"
      ></pek-guide-button>
      <span class="top"></span>
      <span class="bottom"></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Delivery to outsourcer request"
        [i]="23"
        buttonsPosition="bottom"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide__col guide__col_10">

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Declined Payment"
        buttonsPosition="top"
      >
      </pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button guide__button_arrow-right some-button-5">
      <pek-guide-button
        btnStyle="secondary"
        title="Outsourcing orders"
        [i]="25"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Rework production list creating"
        [i]="29"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button guide__button_arrow-left-bottom-big">
      <pek-guide-button
        btnStyle="secondary"
        title="QC not passed"
        [i]="40"
        routeUrl="/dash/quality-control/invoices"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>

      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Return to outsourcer"
        [i]="42"
        routeUrl="/dash/quality-control/invoices"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>

      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="primary"
        title="Outsourcing"
        (navigate)="goToLinkWindow($event)"
        routeUrl="/dash/procurement/orders"
      ></pek-guide-button>

      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Delivered Items"
        [i]="51"
        routeUrl="/dash/quality-control/invoices"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>

      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="outline"
        title="Outsourcer"
        routeUrl="/dash/quality-control/invoices"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>

      <div class="rma">
        RMA <i>i46</i>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="QC not passed"
        [i]="47"
        routeUrl="/dash/quality-control/invoices"
        buttonsPosition="bottom"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button some-button-6">
      <pek-guide-button
        [i]="32"
        btnStyle="secondary"
        title="QC Passed"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>



  <div class="guide__col guide__col_some-2">
    <div class="guide__button">
      <pek-guide-button
        [i]="53"
        btnStyle="secondary"
        title="Delivery to outsourcer"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide__col guide__col_some-3">
    <div class="guide__button">
      <pek-guide-button
        [i]="61"
        btnStyle="secondary"
        title="Moving to warehouse by decision of the commission"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide__col guide__col_some-4">
    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="primary"
        title="Warehouse"
        routeUrl="/warehouse"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        [i]="60"
        btnStyle="secondary"
        title="Direct inventarization"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide__col guide__col_some-5">
    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="primary"
        title="Warehouse"
        routeUrl="/warehouse"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        [i]="55"
        btnStyle="secondary"
        title="Delivery from outsourcer"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        [i]="57"
        btnStyle="secondary"
        title="Request for delivery from outsourcer"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        [i]="56"
        btnStyle="secondary"
        title="Delivered outsourced parts"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide__col guide__col_11">
    <div class="guide__button">
      <pek-guide-button
        title="Payments"
        routeUrl="/dash/payments"
        buttonsPosition="right"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>
    <div class="guide__button guide__button_arrow-top">
      <pek-guide-button
        btnStyle="secondary"
        [i]="37"
        title="Confirmed payment"
      ></pek-guide-button>
      <span></span>
    </div>
    <div class="guide__button">
      <pek-guide-button
        title="Confirmation"
        buttonsPosition="right"
        routeUrl="/confirmation"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>
    <div class="guide__button guide__button_arrow-top">
      <pek-guide-button
        btnStyle="secondary"
        [i]="33"
        title="Payment confirmation"
        routeUrl="/dash/confirmation"
      ></pek-guide-button>
      <span></span>
    </div>
    <div class="guide__button">
      <pek-guide-button
        title="Outsourcing"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom-left-big">
      <pek-guide-button
        btnStyle="secondary"
        title="Outsorsed parts"
        [i]="38"
        routeUrl="test"
        buttonsPosition="right"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>

      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="outline"
        title="Supplier"
        routeUrl="test"
        buttonsPosition="right"
      ></pek-guide-button>

      <div class="rma">
        RMA
        <i>i45</i>
        <span></span>
      </div>

      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!--    <div class="guide__button guide__button_delivered-items">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="Delivered items"-->
    <!--        buttonsPosition="right"-->
    <!--      ></pek-guide-button>-->

    <!--      <div>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        title="Warehouse isolator"-->
    <!--        routeUrl="/warehouse/isolator"-->
    <!--        buttonsPosition="bottom"-->
    <!--        (navigate)="goToLink($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <div>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="Return to procurement"-->
    <!--        routeUrl="/dash/warehouse/insulator"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <span></span>-->
    <!--    </div>-->

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        title="Manufacturing procurement"-->
    <!--        buttonsPosition="right"-->
    <!--        routeUrl="/dash/procurement/orders"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->

    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="Delivered Items"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <span></span>-->
    <!--    </div>-->

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        title="QC"-->
    <!--        routeUrl="/dash/quality-control/invoices"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <div>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="QC passed"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <span></span>-->
    <!--    </div>-->

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        title="Warehouse"-->
    <!--        buttonsPosition="right"-->
    <!--        routeUrl="/warehouse/items"-->
    <!--        (navigate)="goToLink($event)"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->
  </div>
  <div class="guide__col guide__col_12">
    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="top"
        btnStyle="primary"
        title="Confirmation"
        routeUrl="/confirmation"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>
    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="secondary"
        title="Tender"
        [i]="35"
        routeUrl="/confirmation"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button guide__button_arrow-right-left">
      <pek-guide-button
        [btnStyle]="'secondary'"
        title="Outsourcing"
        [i]="36"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span class="left"></span>
      <span class="right"></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="primary"
        title="Confirmation"
        routeUrl="/confirmation"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-top">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="secondary"
        [i]="39"
        title="Rework Request"
        routeUrl="/dash/confirmation"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="primary"
        title="Warehouse Isolator"
        routeUrl="/warehouse/isolator"
        (navigate)="goToLink($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="secondary"
        [i]="41"
        title="Return to procurement"
        routeUrl="/dash/confirmation"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button small">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="primary"
        title="Production lists procurement \ General procurement"
        (navigate)="goToLinkWindow($event)"
        routeUrl="/dash/procurement/orders"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="secondary"
        [i]="50"
        title="Delivered items"
        routeUrl="/dash/confirmation"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="right"
        btnStyle="primary"
        title="QC"
        routeUrl="/dash/quality-control/invoices"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>
    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        [btnStyle]="'secondary'"-->
    <!--        title="Disasembling request"-->
    <!--        routeUrl="/dash/outsource/outsource-chain"-->
    <!--        buttonsPosition="top"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <div>-->
    <!--        <span></span>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        buttonsPosition="top"-->
    <!--        btnStyle="primary"-->
    <!--        title="Confirmation"-->
    <!--        routeUrl="/dash/confirmation"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        [btnStyle]="'secondary'"-->
    <!--        title="Disasembled items"-->
    <!--        buttonsPosition="top"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <div>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        [btnStyle]="'secondary'"-->
    <!--        title="Write off request"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <span></span>-->
    <!--    </div>-->

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        buttonsPosition="right"-->
    <!--        btnStyle="primary"-->
    <!--        title="Confirmation"-->
    <!--        routeUrl="/dash/confirmation"-->
    <!--      ></pek-guide-button>-->

    <!--    </div>-->

    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        [btnStyle]="'secondary'"-->
    <!--        title="Write off"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <span></span>-->
    <!--    </div>-->

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        [btnStyle]="'outline'"-->
    <!--        title="Write off"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->


    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        title="Write off"-->
    <!--        routeUrl="/confirmation/write-off"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLink($event)"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->

    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="Disassembling"-->
    <!--        buttonsPosition="right"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->

    <!--      <div>-->
    <!--        <span></span>-->
    <!--        <span></span>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>

  <div class="guide__col guide__col_13">
    <div class="guide__button">
      <pek-guide-button
        btnStyle="outline"
        title="Outsourcer"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Disassembling request"
        [i]="43"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="primary"
        title="Confirmation"
        routeUrl="/confirmation/nomenclature"
        (navigate)="goToLink($event)"
        buttonsPosition="top"
      ></pek-guide-button>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Disassembled items"
        [i]="49"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        title="Purchasing"-->
    <!--        buttonsPosition="left"-->
    <!--        routeUrl="/dash/purchasing/orders"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->

    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="Payment confirmation"-->
    <!--        routeUrl="/dash/confirmation"-->
    <!--      ></pek-guide-button>-->
    <!--      <span></span>-->
    <!--    </div>-->
    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        title="Confirmation"-->
    <!--        buttonsPosition="left"-->
    <!--        routeUrl="/confirmation"-->
    <!--        (navigate)="goToLink($event)"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->
    <!--    <div class="guide__button guide__button_arrow-bottom">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="Confirmed payment"-->
    <!--        routeUrl="/dash/confirmation"-->
    <!--      ></pek-guide-button>-->
    <!--      <span></span>-->
    <!--    </div>-->
    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        title="Payments"-->
    <!--        buttonsPosition="left"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--        routeUrl="/dash/payments"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->
    <!--  </div>-->

    <!--  <div class="guide__col guide__col_14">-->
    <!--    <div class="guide__button guide__button_arrow-right-left">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="secondary"-->
    <!--        title="Purchasing"-->
    <!--        routeUrl="/dash/purchasing/orders"-->
    <!--        (navigate)="goToLinkWindow($event)"-->
    <!--      ></pek-guide-button>-->
    <!--      <span class="left"></span>-->
    <!--      <span class="right"></span>-->
    <!--    </div>-->
    <!--  </div>-->

    <!--  <div class="guide__col guide__col_15">-->
    <!--    <div class="guide__button">-->
    <!--      <pek-guide-button-->
    <!--        btnStyle="outline"-->
    <!--        title="Supplier"-->
    <!--        buttonsPosition="bottom"-->
    <!--        routeUrl="test"-->
    <!--      ></pek-guide-button>-->
    <!--    </div>-->
    <!--  </div>-->
  </div>
  <div class="guide__col guide__col_14">
    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Write off request"
        [i]="44"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="primary"
        title="Confirmation"
        routeUrl="/confirmation/nomenclature"
        (navigate)="goToLink($event)"
        buttonsPosition="top"
      ></pek-guide-button>
    </div>

    <div class="guide__button guide__button_arrow-bottom">
      <pek-guide-button
        btnStyle="secondary"
        title="Write off"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        [i]="48"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <span></span>
    </div>

    <div class="guide__button">
      <pek-guide-button
        btnStyle="outline"
        title="write off"
        routeUrl="/dash/outsource/outsource-chain"
        buttonsPosition="top"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide__col guide__buttons guide__buttons_1">
    <div class="guide__button">
      <pek-guide-button
        btnStyle="primary"
        routeUrl="/manufacturing/plans"
        title="Manufacturing"
        buttonsPosition="right"
      ></pek-guide-button>
    </div>
    <div class="guide__button">
      <pek-guide-button
        btnStyle="secondary"
        title="Service Order"
        [i]="62"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide__col guide__col_reports">
    <div class="guide__button">
      <pek-guide-button
        buttonsPosition="top"
        btnStyle="primary"
        title="Reports"
        routeUrl="/dash/accounting/cost-reports"
        (navigate)="goToLinkWindow($event)"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</ng-template>
