<div class="guide-procurement">
  <div class="guide-procurement__col guide-procurement__col_1">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Supplier"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmation"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmation"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-procurement__col guide-procurement__col_2">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Procurement request for production list"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Work with Supplier"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Confirmed payment"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Confirmed Supplier after lender confirmation"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-procurement__col guide-procurement__col_3">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Manufacturing procurement"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-procurement__col guide-procurement__col_4">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Work with Supplier request"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Delivered Items"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Request for confirmation of payment"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Request for confirmation of Supplier by tender"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-procurement__col guide-procurement__col_5">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Supplier"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="QC"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmation"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmation"
      ></pek-guide-button>
    </div>
  </div>
</div>
