.list-product-print-item {
  margin-bottom: 24px;

  h2 {
    font-weight: 500;
    margin-bottom: 12px;
    //margin-top: 24px;
  }

  &__row {
    width: 100%;
    display: flex;
    border: 1px solid #000;

    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid #000;
    }
  }

  &__col {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &_body {
      word-break: break-all;
    }

    &:nth-child(1) {
      width: 4%;
    }

    &:nth-child(2) {
      width: 15%;
    }

    &:nth-child(3) {
      width: 15%;
    }

    &:nth-child(4) {
      width: 7%;
      text-align: center;
    }

    &:nth-child(5) {
      width: 18%;
      text-align: center;
      place-content: center;
    }

    &:nth-child(6) {
      width: 15%;
      text-align: center;
      place-content: center;
    }

    &:nth-child(7) {
      width: 12%;
    }

    &:nth-child(8) {
      width: 14%;
    }
  }

}

@media print {
  .list-product-print-item {
    page-break-before: auto;
    page-break-after: auto;

    &_row {
      page-break-before: auto;
      page-break-after: auto;
    }
  } /* page-break-after works, as well */
}
