.multi-categories-picker {
  &::ng-deep {
    .p-treenode-children {
      margin-top: 0.1875rem !important;
    }

    .p-treenode-content {
      button.p-ripple.p-element.p-tree-toggler.p-link {
        display: none;
      }
      div.p-checkbox.p-component.p-checkbox-disabled {
        display: none;
      }
    }

    .country {
      >.p-treenode-content:first-child {
        font-weight: 700;
        font-size: 16px;

        &.p-highlight {
          background-color: unset !important;
          color: unset !important;
        }
      }
    }
  }
}
