<div class="multi-categories-picker">
  <p-treeSelect
    *ngIf="!isLoading; else spinner"
    [options]="regionsTree"
    selectionMode="checkbox"
    [(ngModel)]="selectedRegions"
    [showClear]="true"
    [disabled]="isDisabled"
    [filter]="true"
    placeholder="Select Region"
    (ngModelChange)="onChoiceCategories()"
  ></p-treeSelect>

  <ng-template #spinner>
    <div class="spinner-input">
      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
    </div>
  </ng-template>
</div>
