h2 {
  font-size: 1.1875rem;
  font-weight: 600;
}

.supplier {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;

  h2 {
    margin-bottom: 0;
  }
}
