<div class="guide-production">
  <div class="guide-production__col guide-production__col_1">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="QC"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-production__col guide-production__col_2">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Production list deficit"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Production request"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Tool request"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Rework all and rework item process"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-production__col guide-production__col_3">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-production__col guide-production__col_4">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Completed production order"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Creating order to Outsourcer"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Production request"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Tool request"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-production__col guide-production__col_5">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="QC"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Outsourcing"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
  </div>
</div>
