<div class="manufacturing-order-page">
  <div class="page">
    <div class="page__header">
      <div class="page__title">
        <pek-module-icon [module]="'manufacturing'" [isActive]="true"></pek-module-icon>
        <h1>
          Order {{orderId}}
          <ng-container *ngIf="isOrderLoading">(...)</ng-container>
          <ng-container
            *ngIf="!isOrderLoading && order.root_production_list_products[0]?.nomenclature"
          >
            ({{order.root_production_list_products[0].nomenclature.code}} {{order.root_production_list_products[0].nomenclature.name}})
          </ng-container>
        </h1>
      </div>
      <div class="page__tools">
        <div class="page__tools">
          <button
            pButton
            type="button"
            class="mr-2"
            icon="pi pi-pencil"
            label="Lead Date & Status"
            (click)="onEditOrder()"
            [disabled]="isOrderLoading"
          >
          </button>
          <button
            pButton
            type="button"
            class="mr-2 p-button-icon"
            icon="pi pi-angle-double-right"
            label="Move To QC"
            [disabled]="isOrderLoading"
            [loading]="isMovingToQC"
            (click)="moveToQc()"
          >
          </button>
          <button
            pButton
            type="button"
            icon="pi pi-print"
            label="Print"
            (click)="onPrintPage()"
            [disabled]="isOrderLoading || isLoadingProducts"
          >
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="page__content">
    <h2 class="mb-4">Ordered Items</h2>

    <div class="page__card mb-4">
      <div class="page__table">
        <p-table
          #dt
          scrollHeight="calc(100vh - 24rem)"
          [scrollable]="true"
          [paginator]="products.length > 0"
          [rows]="10"
          [(selection)]="selectedProduct"
          [value]="products"
          selectionMode="single"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <p class="subtitle" *ngIf="!selectedProduct">Choose the Item to edit</p>
              <p-menubar
                class="ml-auto"
                [model]="productMenuItems"
                [class.disabled]="!selectedProduct">
              </p-menubar>
              <button
                (click)="onAddProduct()"
                pButton type="button"
                icon="pi pi-plus"
                class="ml-2"
                label="Add Item"
                [disabled]="isLoadingProducts"
              >
              </button>
              <button
                pButton type="button"
                icon="pi pi-plus"
                class="ml-2"
                label="Add Material"
                (click)="onAddMaterial()"
                [disabled]="!selectedProduct"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5%" class="index-header text-center">#</th>
              <th style="width: 15%">Code</th>
              <th style="width: 20%">Name</th>
              <th style="width: 10%">Technology</th>
              <th style="width: 10%" class="text-center">Quantity</th>
              <th style="width: 20%">Employees</th>
              <th style="width: 10%;" class="text-center">
                <label class="all-checked">
                  <p-checkbox
                    (onChange)="toggleAllReady($event)"
                    inputId="ready"
                    [binary]="true"
                  ></p-checkbox>
                  <span class="ml-2">Ready</span>
                </label>
              </th>
              <th class="text-center" style="width: 10%">QC Pass</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-i="rowIndex">
            <tr [pSelectableRow]="product" class="table-row">
              <td style="width: 5%" class="text-center">{{i + 1}}</td>
              <td style="width: 15%">{{product.nomenclature.code}} </td>
              <td style="width: 20%">{{product.nomenclature.name}} </td>
              <td style="width: 10%">
                {{product.current_technology?.name}}
              </td>
              <td style="width: 10%" class="text-center">{{product.quantity}}</td>
              <td style="width: 20%">
                <div class="d-flex" *ngFor="let empl of product?.task_employees">
                  <span class="mr-2">{{empl.employee.first_name}} {{empl.employee.last_name}}</span>
                  <span>({{empl.duration}})</span>
                </div>
              </td>
              <td style="width: 10%">
                <div class="d-flex align-items-center justify-content-center">
                  <p-checkbox
                    [(ngModel)]="product.isReady"
                    [disabled]="product.quality_control || product.is_technology_ready"
                    [binary]="true"
                  ></p-checkbox>
                </div>
              </td>
              <td style="width: 10%" class="text-center">
                <div *ngIf="!product.quality_control && !product.is_technology_ready">—</div>
                <div *ngIf="product.is_technology_ready && !product.quality_control">In QC</div>
                <div *ngIf="product.quality_control">{{product.passed_quantity}}/{{product.initial_quantity}}
                  <span *ngIf="product.quality_control === '0'">(Not passed)</span>
                  <span *ngIf="product.quality_control === '1'">(Passed)</span>
                  <span *ngIf="product.quality_control === '2'">(Partly passed)</span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center p-4" [attr.colspan]="10">
                <i *ngIf="isLoadingProducts" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span *ngIf="!isLoadingProducts">No Records Found</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button
              type="button"
              (click)="dt.paginator=false"
              styleClass="p-button-text"
            >
              All
            </p-button>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="!dt.paginator && !isLoadingProducts && products.length > 0" class="paginator-return-pagination">
        <p-button
          type="button"
          (click)="dt.paginator=true"
          styleClass="p-button-text"
        >
          Return pagination
        </p-button>
      </div>
    </div>

    <h2 class="mb-4">
      Parts/Materials List
    </h2>


    <div class="page__card mb-4"  *ngIf="viewMode === ViewMode.LIST">
      <div class="page__table" >
        <p-table
          #mt
          selectionMode="single"
          scrollHeight="calc(100vh - 24rem)"
          [scrollable]="true"
          [paginator]="orderMaterials.length > 0"
          [rows]="10"
          [value]="orderMaterials"
          [(selection)]="selectedOrderMaterial"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">
              <button
                *ngIf="orderMaterials.length > 0"
                (click)="onCancelOrderMaterials()"
                pButton
                [loading]="isCancellation"
                type="button"
                label="Cancelation"
                icon="pi pi-times"
                class="ml-auto p-button-danger p-button-icon"
              >
              </button>
              <button
                *ngIf="orderMaterials.length > 0"
                (click)="onDeleteOrderMaterial()"
                pButton
                [disabled]="!selectedOrderMaterial || selectedOrderMaterial?.totalRequiredQuantity === 0"
                [loading]="isDeletingOrderMaterial"
                type="button"
                label="Delete"
                icon="pi pi-trash"
                class="ml-2 p-button p-button-danger p-button-icon"
              >
              </button>
              <button
                *ngIf="orderMaterials.length > 0"
                (click)="openHierarchyMode()"
                pButton
                [loading]="isCancellation"
                type="button"
                label="Hierarchy"
                icon="pi pi-table"
                class="ml-2 p-button p-button-icon"
              >
              </button>
              <button
                *ngIf="orderMaterials.length > 0"
                pButton
                type="button"
                class="ml-2"
                icon="pi pi-print"
                label="Print"
                (click)="printOrderProductsInfo()"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5%" class="index-header text-center">#</th>
              <th style="width: 15%">Code</th>
              <th style="width: 35%">Name</th>
              <th style="width: 20%">Technology</th>
              <th style="width: 15%" class="text-center">Required Quantity</th>
              <th style="width: 10%" class="text-center">Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-material let-i="rowIndex">
            <tr [pSelectableRow]="material">
              <td style="width: 5%" class="text-center">{{i + 1}}</td>
              <td style="width: 15%">
                <div *ngIf="material.material_nomenclature">
                  {{material.material_nomenclature.code}}
                </div>
                <div *ngIf="material.order_product_nomenclature">
                  {{material.order_product_nomenclature.code}}
                </div>
                <div *ngIf="material.list_product">
                  {{material.list_product.nomenclature.code}}
                </div>
              </td>
              <td style="width: 35%">
                <div *ngIf="material.material_nomenclature">
                  {{material.material_nomenclature.name}}
                </div>
                <div *ngIf="material.order_product_nomenclature">
                  {{material.order_product_nomenclature.name}}
                </div>
                <div *ngIf="material.list_product">
                  {{material.list_product.nomenclature.name}}
                </div>
              </td>
              <td style="width: 20%">
                <span *ngIf="material.technology">{{material.technology}}</span>
              </td>
              <td style="width: 15%" class="text-center">
                {{material?.totalInitialQuantity}}
              </td>
              <td style="width: 10%" class="text-center">
                <i *ngIf="material?.totalRequiredQuantity === 0" class="pi pi-check-circle"></i>
                <i *ngIf="material?.totalRequiredQuantity > 0" class="pi pi-times"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center p-4" [attr.colspan]="6">
                <i *ngIf="isLoadingProducts" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span *ngIf="!isLoadingProducts">No Records Found</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button
              type="button"
              (click)="mt.paginator=false"
              styleClass="p-button-text"
            >
              All
            </p-button>
          </ng-template>
        </p-table>
      </div>
      <div  *ngIf="!mt.paginator && !isLoadingProducts && orderMaterials.length > 0" class="paginator-return-pagination">
        <p-button
          type="button"
          (click)="mt.paginator=true"
          styleClass="p-button-text"
        >
          Return pagination
        </p-button>
      </div>
    </div>

    <div class="page__card mb-4"  *ngIf="viewMode === ViewMode.HIERARCHY">
      <div class="page__table" >
        <p-treeTable
          class="orders-tree"
          [value]="requestTree"
          selectionMode="single"
          scrollHeight="calc(100vh - 16.5rem)"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex">

              <button
                pButton
                type="button"
                class="ml-auto"
                icon="pi pi-angle-down"
                label="Expand all"
                (click)="expandCollapseAllOrders()"
              ></button>
              <button
                pButton
                type="button"
                class="ml-2"
                icon="pi pi-angle-up"
                label="Collapse all"
                (click)="expandCollapseAllOrders(false)"
              ></button>
              <button
                *ngIf="orderMaterials.length > 0"
                (click)="openListMode()"
                pButton
                [loading]="isCancellation"
                type="button"
                label="List"
                icon="pi pi-list"
                class="p-button p-button-icon ml-2"
              >
              </button>
              <button
                pButton
                type="button"
                class="ml-2"
                icon="pi pi-print"
                label="Print"
                (click)="printOrderProductsInfo()"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 25%; padding-left: 3.3125rem">ID</th>
              <th style="width: 15%;">Code</th>
              <th style="width: 10%;">Name</th>
              <th style="width: 10%;" class="text-center">Technology</th>
              <th class="text-center" style="width: 20%;">Required Quantity</th>
              <th class="text-center" style="width: 20%;">Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-i="rowIndex">
            <tr
              class="pagebreak"
              [ttRow]="rowNode"
              [class.is-added-after-order-creation]="rowData.request?.material_nomenclature"
              [id]="rowData.request ? 'row-' + rowData.request?.id : null"
              [class.tr-toggler]="rowNode.node.children.length > 0"
            >
              <td style="width: 25%;" class="ids-container">
                <h3 class="td-title">ID</h3>
                <div class="toggle-row hovered-info">
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <span [class.bold]="rowData.level < 4">
                    {{rowData.name}}  {{rowData.listId ? '(' + rowData.listId + ')' : ''}}
                  </span>
                  <span *ngIf="rowData.level === 4">
                     {{rowData.request.id}}
                    <span *ngIf="rowData.request.allIds?.length > 0">L({{rowData.request.allIds?.length}})</span>

                   <pek-hover-detailed-info-component
                     [moveLeft]="0"
                     *ngIf="rowData.request.allIds?.length > 0">
                                     <span class="ids">
                    <div *ngFor="let id of rowData.request.allIds">
                      {{id}}
                    </div>
                  </span>
                  </pek-hover-detailed-info-component>
                  </span>
                </div>
              </td>
              <td style="width: 15%;">
                <h3 class="td-title">Code</h3>
                <div *ngIf="rowData.level === 4">
                  <div *ngIf="rowData.request.material_nomenclature">
                    {{rowData.request.material_nomenclature.code}}
                  </div>
                  <div *ngIf="rowData.request.order_product_nomenclature">
                    {{rowData.request.order_product_nomenclature.code}}
                  </div>
                  <div *ngIf="!rowData.request.material_nomenclature && !rowData.request.order_product_nomenclature">
                    {{rowData.request.list_product.nomenclature.code}}
                  </div>
                </div>

              </td>
              <td style="width: 10%;" class="serial-numbers-container">
                <h3 class="td-title">Name</h3>
                <div *ngIf="rowData.level === 4">
                  <div *ngIf="rowData.request.material_nomenclature">
                    <b *ngIf="rowData.request?.list_product?.nomenclature?.bulk_or_serial === '1'">(S)</b>
                    {{rowData.request.material_nomenclature.name}}
                  </div>
                  <div *ngIf="rowData.request.order_product_nomenclature">
                    <b *ngIf="rowData.request?.list_product?.nomenclature?.bulk_or_serial === '1'">(S)</b>
                    {{rowData.request.order_product_nomenclature.name}}
                  </div>
                  <div *ngIf="!rowData.request.material_nomenclature && !rowData.request.order_product_nomenclature">
                    <b *ngIf="rowData.request?.list_product?.nomenclature?.bulk_or_serial === '1'">(S)</b>
                    {{rowData.request.list_product.nomenclature.name}}
                  </div>
                </div>
              </td>
              <td style="width: 10%" class="text-center">
                <h3 class="td-title">Technology</h3>
                <div *ngIf="rowData.level === 4">
                  <span *ngIf="rowData.request.technology">{{rowData.request.technology}}</span>
                </div>
              </td>
              <td style="width: 20%;" class="text-center">
                <h3 class="td-title">Required Quantity</h3>
                <div *ngIf="rowData.level === 4">
                  {{rowData.request.totalInitialQuantity}}
                </div>
              </td>
              <td style="width: 20%;" class="text-center">
                <h3 class="td-title">Status</h3>
                <i *ngIf="rowData.request?.totalRequiredQuantity === 0" class="pi pi-check-circle"></i>
                <i *ngIf="rowData.request?.totalRequiredQuantity > 0" class="pi pi-times"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="tr-spinner">
              <td class="text-center p-4" [attr.colspan]="8">
                <i  class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span>No Records Found</span>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </div>

    <h2 class="mb-4">
      Machines
    </h2>

    <div class="page__card mb-4">
      <div class="page__table">
        <p-table
          #ht
          selectionMode="single"
          scrollHeight="calc(100vh - 24rem)"
          [scrollable]="true"
          [paginator]="machines.length > 0"
          [rows]="10"
          [value]="machines"
        >
          <ng-template pTemplate="caption">
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5%" class="index-header text-center">#</th>
              <th style="width: 35%">Name</th>
              <th style="width: 30%">Description</th>
              <th style="width: 30%" class="text-center">Duration</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-machine let-i="rowIndex">
            <tr>
              <td class="text-center">{{i + 1}}</td>
              <td>{{machine.machine.name}}</td>
              <td>{{machine.machine.description}}</td>
              <td class="text-center">{{machine.duration}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center p-4" [attr.colspan]="6">
                <i *ngIf="isLoadingProducts" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span *ngIf="!isLoadingProducts">No Records Found</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button
              type="button"
              (click)="ht.paginator=false"
              styleClass="p-button-text"
            >
              All
            </p-button>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="!ht.paginator && !isLoadingProducts && machines.length > 0" class="paginator-return-pagination">
        <p-button
          type="button"
          (click)="ht.paginator=true"
          styleClass="p-button-text"
        >
          Return pagination
        </p-button>
      </div>
    </div>

    <h2 class="mb-4">
      Technical Equipments
    </h2>

    <div class="page__card">
      <div class="page__table">
        <p-table
          #et
          selectionMode="single"
          scrollHeight="calc(100vh - 24rem)"
          [scrollable]="true"
          [paginator]="technicalEquipments.length > 0"
          [rows]="10"
          [value]="technicalEquipments"
        >
          <ng-template pTemplate="caption">
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 5%" class="index-header text-center">#</th>
              <th style="width: 25%">Code</th>
              <th style="width: 25%">Name</th>
              <th style="width: 15%" class="text-center">Locator</th>
              <th style="width: 15%" class="text-center">Quantity</th>
              <th style="width: 15%" class="text-center">Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-technicalEquipment let-i="rowIndex">
            <tr [pSelectableRow]="technicalEquipment" class="table-row">
              <td class="text-center">{{i + 1}}</td>
              <td>{{technicalEquipment.nomenclature.code}}</td>
              <td>{{technicalEquipment.nomenclature.name}}</td>
              <td class="text-center">
                <span *ngFor="let locator of technicalEquipment.locators">
                  {{locator.name}}
                </span>
              </td>
              <td class="text-center">{{technicalEquipment.max_initial_quantity}}</td>
              <td class="text-center"
                  [class.text-danger]="!technicalEquipment.in_use || technicalEquipment.in_use && technicalEquipment.locators.length < 1"
                  [class.text-success]="technicalEquipment.in_use && technicalEquipment.locators.length > 0"
              >{{technicalEquipment.in_use && technicalEquipment.locators.length > 0 ? 'Received' : 'Not Received'}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center p-4" [attr.colspan]="6">
                <i *ngIf="isLoadingTechnicalEquipments " class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span *ngIf="!isLoadingTechnicalEquipments ">No Records Found</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button
              type="button"
              (click)="et.paginator=false"
              styleClass="p-button-text"
            >
              All
            </p-button>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="!et.paginator && !isLoadingTechnicalEquipments && technicalEquipments.length > 0"
           class="paginator-return-pagination">
        <p-button
          type="button"
          (click)="et.paginator=true"
          styleClass="p-button-text"
        >
          Return pagination
        </p-button>
      </div>
    </div>
  </div>
</div>

<div class="manufacturing-order-page-print" *ngIf="isShowPrint">
  <pek-manufacturing-order-page-print
    [machines]="machines"
    [materials]="orderMaterials"
    [order]="order"
    [orderId]="orderId"
    [products]="products"
  >
  </pek-manufacturing-order-page-print>
</div>

<div class="manufacturing-order-page-print" *ngIf="isShowOrderProductsPrint">
  <pek-manufacturing-order-products-info-print
    [order]="order"
    [orderId]="orderId"
    [products]="products"
    [materials]="orderMaterialsByOrderProduct"></pek-manufacturing-order-products-info-print>
</div>
