<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'confirmation'" [isActive]="true"></pek-module-icon>
      <h1>Payments Confirmation</h1>
    </div>
    <div class="page__tools">
      <button
        pButton
        type="button"
        icon="pi pi-pencil"
        label="Payment Confirmation Limit"
        (click)="onEditConfirmationLimit()">
      </button>
    </div>
  </div>
</div>


<div class="page__content">
  <div class="page__tabs">
    <p-tabView class="custom-tabs">
      <p-tabPanel
        [header]="'Production Lists Procurement and Outsourcing Payments (' + (isLoadingPayments ? '...' : payments.length) + ')'"
        [selected]="true"
      >
        <div class="page__table">
          <p-treeTable
            selectionMode="checkbox"
            [value]="paymentTree"
            [(selection)]="selectedPayments"
            scrollHeight="calc(100vh - 21.8rem)"
            [scrollable]="true"
            (selectionChange)="onCountSelectedPaymentsTotal()"
          >
            <ng-template pTemplate="caption">
              <div class="d-flex align-items-center">
                <div class="payment-price">
                  <ng-container *ngIf="!isLoadingPayments; else paymentsEmpty">
                    Total Price: {{paymentTotals.totalPricePayments | moneyFormat}} €,
                    Total Amount: {{paymentTotals.totalAmountPayments | moneyFormat}} €
                    <div class="selected-payments-price">
                      Selected Payments Total Price: {{selectedPaymentsTotals.totalPricePayments | moneyFormat}} €,
                      Selected Payments Total Amount: {{selectedPaymentsTotals.totalAmountPayments | moneyFormat}} €
                    </div>
                  </ng-container>
                </div>
                <button
                  pButton
                  type="button"
                  icon="pi pi-times"
                  label="Decline"
                  class="ml-auto p-button-danger p-button-icon mr-2"
                  [disabled]="selectedPayments?.length === 0"
                  [loading]="isPendingPaymentsDecline"
                  (click)="onDeclinePayments()"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-check"
                  label="Confirm"
                  class="p-button-success p-button-icon"
                  [disabled]="selectedPayments?.length === 0"
                  [loading]="isPendingPaymentsConfirm"
                  (click)="onConfirmPayments()"
                ></button>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 22%">
                  <div class="payment-header">
                    <div class="payment-header-checkbox">
                      <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
                    </div>
                    Date
                  </div>
                </th>
                <th style="width: 10%" class="text-center">Invoice</th>
                <th style="width: 18%">Supplier</th>
                <th style="width: 20%">Root list</th>
                <th style="width: 10%" class="text-center">Invoice Total Price</th>
                <th style="width: 10%" class="text-center">Amount</th>
                <th style="width: 10%" class="text-center">Order ID</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-paymentNode let-payment="rowData" let-i="rowIndex">
              <tr>
                <td style="width: 22%">
                  <div class="d-flex align-items-center">
                    <div class="table-toggler" *ngIf="!payment.invoice">
                      <p-treeTableToggler [rowNode]="paymentNode"></p-treeTableToggler>
                    </div>

                    <div class="table-checkbox" *ngIf="payment.invoice">
                      <p-treeTableCheckbox [value]="paymentNode"></p-treeTableCheckbox>
                    </div>

                    <div class="table-content">
                      <ng-container *ngIf="!payment.invoice; else paymentDate">
                        {{payment.name}}
                      </ng-container>
                    </div>

                    <ng-template #paymentDate>
                      {{payment.invoice.system_creation_date | date:'dd/MM/yyyy'}}
                    </ng-template>
                  </div>
                </td>
                <td style="width: 10%" class="text-center">
                  <ng-container *ngIf="payment.invoice">
                    <!--                    <a-->
                    <!--                      [routerLink]="['/external', link + 'accounting/invoices/products/' + payment.invoice.id]"-->
                    <!--                      target="_blank"-->
                    <!--                    >-->
                    <!--                      {{payment.invoice.self_serial_number}}-->
                    <!--                    </a>-->

                    <a
                      (click)="onGoToPaymentInvoice(payment)"
                    >
                      {{payment.invoice.self_serial_number}}
                    </a>
                  </ng-container>
                </td>
                <td style="width: 18%">
                  <ng-container *ngIf="payment.invoice">
                    {{payment.invoice.supplier.name}}
                  </ng-container>
                </td>
                <td style="width: 20%">
                  <ng-container>
                    <div *ngIf="payment.invoice">
                      <ng-container *ngFor="let rootList of payment.invoice.root_production_plans; let idx = index">
                        {{rootList.list_product.nomenclature.name}}<span
                        *ngIf="idx !== payment.invoice.root_production_plans.length - 1">,</span>
                      </ng-container>
                    </div>
                  </ng-container>
                </td>
                <td style="width: 10%" class="text-center">
                  <ng-container *ngIf="payment.invoice">
                    {{payment.invoice_total_price | moneyFormat}} €
                  </ng-container>
                </td>
                <td style="width: 10%" class="text-center">
                  <ng-container *ngIf="payment.invoice">
                    {{payment.payment_amount| moneyFormat}} €
                  </ng-container>
                </td>
                <td style="width: 10%" class="text-center">
                  <ng-container *ngIf="payment.invoice">
                    <!--                    <a-->
                    <!--                      *ngIf="payment.invoice.order.accounting_type == 1"-->
                    <!--                      rel="noopener noreferrer"-->
                    <!--                      target="_blank"-->
                    <!--                      [routerLink]="['/external', link + 'procurement/orders/products/' + payment.invoice.order.id]"-->
                    <!--                    >-->
                    <!--                      {{payment.invoice.order.id}}-->
                    <!--                    </a>-->
                    <!--                    <a-->
                    <!--                      *ngIf="payment.invoice.order.accounting_type == 2"-->
                    <!--                      rel="noopener noreferrer"-->
                    <!--                      target="_blank"-->
                    <!--                      [routerLink]="['/external', link + 'outsource/outsource-chain/products/' + payment.invoice.order.id]"-->
                    <!--                    >-->
                    <!--                      {{payment.invoice.order.id}}-->
                    <!--                    </a>-->

                    <a
                      (click)="onGoToPaymentOrder(payment)"
                    >
                      {{payment.invoice.order.id}}
                    </a>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center p-4" [attr.colspan]="7">
                  <i *ngIf="isLoadingPayments" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                  <span *ngIf="!isLoadingPayments">No Records Found</span>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>
      </p-tabPanel>
      <p-tabPanel
        [header]="'General Procurement Payments (' + (isLoadingServiceInvoicePayments ? '...' : serviceInvoicePayments.length) + ')'"
      >
        <div class="page__table">
          <p-treeTable
            selectionMode="checkbox"
            [value]="serviceInvoicePaymentsTree"
            [(selection)]="selectedServiceInvoicePayments"
            scrollHeight="calc(100vh - 21.8rem)"
            [scrollable]="true"
            (selectionChange)="countSelectedServiceInvoicePaymentsTotal()"
          >
            <ng-template pTemplate="caption">
              <div class="d-flex align-items-center">
                <div class="payment-price">
                  <ng-container *ngIf="!isLoadingServiceInvoicePayments; else paymentsEmpty">
                    Total Price: {{paymentTotals.totalPriceServiceInvoicePayments | moneyFormat}} €,
                    Total Amount: {{paymentTotals.totalAmountServiceInvoicePayments | moneyFormat}} €

                    <div class="selected-payments-price">
                      Selected Payments Total Price: {{selectedPaymentsTotals.totalPriceServiceInvoicePayments | moneyFormat}} €,
                      Selected Payments Total Amount: {{selectedPaymentsTotals.totalAmountServiceInvoicePayments | moneyFormat}} €
                    </div>
                  </ng-container>
                </div>
                <button
                  pButton
                  type="button"
                  icon="pi pi-times"
                  label="Decline"
                  class="ml-auto p-button-danger p-button-icon mr-2"
                  [disabled]="selectedServiceInvoicePayments?.length === 0"
                  [loading]="isPendingServiceInvoicePaymentsDecline"
                  (click)="onDeclineServiceInvoicePayments()"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-check"
                  label="Confirm"
                  class="p-button-success p-button-icon"
                  [disabled]="selectedServiceInvoicePayments?.length === 0"
                  [loading]="isPendingServiceInvoicePaymentsConfirm"
                  (click)="onConfirmServiceInvoicePayments()"
                ></button>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 22%">
                  <div class="payment-header">
                    <div class="payment-header-checkbox">
                      <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
                    </div>
                    Date
                  </div>
                </th>
                <th style="width: 10%" class="text-center">Invoice</th>
                <th style="width: 18%">Supplier</th>
                <th style="width: 20%">Root list</th>
                <th style="width: 10%" class="text-center">Invoice Total Price</th>
                <th style="width: 10%" class="text-center">Amount</th>
                <th style="width: 10%" class="text-center">Order ID</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-paymentNode let-payment="rowData" let-i="rowIndex">
              <tr>
                <td style="width: 22%">
                  <div class="d-flex align-items-center">
                    <div class="table-toggler" *ngIf="!payment.serviceinvoice && !payment.invoice">
                      <p-treeTableToggler [rowNode]="paymentNode"></p-treeTableToggler>
                    </div>

                    <div class="table-checkbox" *ngIf="payment.serviceinvoice || payment.invoice">
                      <p-treeTableCheckbox [value]="paymentNode"></p-treeTableCheckbox>
                    </div>

                    <div class="table-content">
                      <ng-container *ngIf="!payment.serviceinvoice || !payment.invoice">
                        {{payment.name}}
                        {{payment.id}}
                      </ng-container>

                      <ng-container *ngIf="payment.invoice">
                        {{payment.invoice.system_creation_date | date:'dd/MM/yyyy'}}
                      </ng-container>

                      <ng-container *ngIf="payment.serviceinvoice">
                        {{payment.serviceinvoice.system_creation_date | date:'dd/MM/yyyy'}}
                      </ng-container>
                    </div>
                  </div>
                </td>
                <td style="width: 10%" class="text-center">
                  <ng-container *ngIf="payment.serviceinvoice || payment.invoice">
                    <!--                    <a-->
                    <!--                      *ngIf="payment.serviceinvoice"-->
                    <!--                      [routerLink]="['/external', link + 'accounting/invoices/service-invoice/' + payment.serviceinvoice.id]"-->
                    <!--                      target="_blank"-->
                    <!--                    >-->
                    <!--                      {{payment.serviceinvoice.self_serial_number}}-->
                    <!--                    </a>-->

                    <!--                    <a-->
                    <!--                      *ngIf="payment.invoice"-->
                    <!--                      [routerLink]="['/external', link + 'accounting/invoices/service-invoice/' + payment.invoice.id]"-->
                    <!--                      target="_blank"-->
                    <!--                    >-->
                    <!--                      {{payment.invoice.self_serial_number}}-->
                    <!--                    </a>-->

                    <a
                      *ngIf="payment.serviceinvoice"
                      (click)="onGoToServicePaymentInvoice(payment)"
                    >
                      {{payment.serviceinvoice.self_serial_number}}
                    </a>

                    <a
                      *ngIf="payment.invoice"
                      (click)="onGoToPaymentServiceInvoice(payment)"
                    >
                      {{payment.invoice.self_serial_number}}
                    </a>
                  </ng-container>
                </td>
                <td style="width: 18%">
                  <ng-container *ngIf="payment.serviceinvoice">
                    {{payment.serviceinvoice.supplier.name}}
                  </ng-container>

                  <ng-container *ngIf="payment.invoice">
                    {{payment.invoice.supplier.name}}
                  </ng-container>
                </td>
                <td style="width: 20%">
                  <ng-container *ngIf="payment.serviceinvoice">
                    <div *ngFor="let rootList of payment.serviceinvoice.root_production_plans; let idx = index">
                      {{rootList.list_product.nomenclature.name}}
                      <span *ngIf="idx !== payment.serviceinvoice.root_production_plans.length - 1">,</span>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="payment.invoice">
                    <ng-container *ngFor="let rootList of payment.invoice.root_production_plans; let idx = index">
                      {{rootList.list_product.nomenclature.name}}<span
                      *ngIf="idx !== payment.invoice.root_production_plans.length - 1">,</span>
                    </ng-container>
                  </ng-container>
                </td>
                <td style="width: 10%" class="text-center">
                  <ng-container *ngIf="payment.serviceinvoice">
                    {{payment.service_invoice_total_price | moneyFormat}} €
                  </ng-container>

                  <ng-container *ngIf="payment.invoice">
                    {{payment.invoice_total_price | moneyFormat}} €
                  </ng-container>
                </td>
                <td style="width: 10%" class="text-center">
                  <ng-container *ngIf="payment.serviceinvoice">
                    {{payment.service_invoice_payment_amount | moneyFormat}} €
                  </ng-container>

                  <ng-container *ngIf="payment.invoice">
                    {{payment.payment_amount | moneyFormat}} €
                  </ng-container>
                </td>
                <td style="width: 10%" class="text-center">
                  <ng-container *ngIf="payment.serviceinvoice">
                    <!--                    <a-->
                    <!--                      *ngIf="payment.serviceinvoice.order.accounting_type == 1"-->
                    <!--                      rel="noopener noreferrer"-->
                    <!--                      target="_blank"-->
                    <!--                      [routerLink]="['/external', link + 'procurement/orders/products/' + payment.serviceinvoice.order.id]"-->
                    <!--                    >-->
                    <!--                      {{payment.serviceinvoice.order.id}}-->
                    <!--                    </a>-->
                    <!--                    <a-->
                    <!--                      *ngIf="payment.serviceinvoice.order.accounting_type == 2"-->
                    <!--                      rel="noopener noreferrer"-->
                    <!--                      target="_blank"-->
                    <!--                      [routerLink]="['/external', link + 'outsource/outsource-chain/products/' + payment.serviceinvoice.order.id]"-->
                    <!--                    >-->
                    <!--                      {{payment.serviceinvoice.order.id}}-->
                    <!--                    </a>-->

                    <a
                      (click)="onGoToServiceOrder(payment)"
                    >
                      {{payment.serviceinvoice.order?.id}}
                    </a>
                  </ng-container>

                  <ng-container *ngIf="payment.invoice">
                    <!--                    <a-->
                    <!--                      *ngIf="payment.invoice.order.accounting_type == 1"-->
                    <!--                      rel="noopener noreferrer"-->
                    <!--                      target="_blank"-->
                    <!--                      [routerLink]="['/external', link + 'procurement/orders/products/' + payment.invoice.order.id]"-->
                    <!--                    >-->
                    <!--                      {{payment.invoice.order.id}}-->
                    <!--                    </a>-->
                    <!--                    <a-->
                    <!--                      *ngIf="payment.invoice.order.accounting_type == 2"-->
                    <!--                      rel="noopener noreferrer"-->
                    <!--                      target="_blank"-->
                    <!--                      [routerLink]="['/external', link + 'outsource/outsource-chain/products/' +  payment.invoice.order.id]"-->
                    <!--                    >-->
                    <!--                      {{payment.invoice.order.id}}-->
                    <!--                    </a>-->

                    <a
                      (click)="onGoToPaymentOrder(payment)"
                    >
                      {{payment.invoice.order.id}}
                    </a>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center p-4" [attr.colspan]="7">
                  <i
                    *ngIf="isLoadingServiceInvoicePayments"
                    class="pi pi-spin pi-spinner"
                    style="font-size: 2.25rem"
                  >
                  </i>
                  <span *ngIf="!isLoadingServiceInvoicePayments">No Records Found</span>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<ng-template #paymentsEmpty>
  <ng-container>
    Total Price: ... €, Total Amount: ... €

    <div class="selected-payments-price">
      Selected Payments Total Price: {{0 | moneyFormat}} €,
      Selected Payments Total Amount: {{0 | moneyFormat}} €
    </div>
  </ng-container>
</ng-template>
