<div pekPasteScreenImage [trackMousePosition]="true" (imageAdded)="printFileAdded($event)">
  <div class="">
    <div class="col-12">
      <div class="form-group">
        <pek-upload-file-picker #filePicker (fileChanged)="filesChanged($event)"></pek-upload-file-picker>
      </div>
    </div>
  </div>
  <p-table
    [paginator]="files.length > 10"
    [rows]="10"
    [value]="files"
    selectionMode="single"
    [scrollable]="true"
    [(selection)]="selectedFile"
  >
    <ng-template pTemplate="caption">
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="index-header text-center" style="width: 5%">#</th>
        <th style="width: 75%">File Name</th>
        <th class="text-center" style="width: 20%">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-file let-i="rowIndex">
      <tr>
        <td class="text-center" style="width: 5%">
          <h3 class="td-title">#</h3>
          {{i + 1}}
        </td>
        <td style="width: 75%" class="word-break">
          <h3 class="td-title">File Name</h3>
          <a>
            {{getName(file.file)}}
          </a>
        </td>
        <td style="width: 20%">
          <h3 class="td-title">Actions</h3>
          <div class="btn-actions">
            <button
              pButton
              (click)="deleteFile(file.id)"
              [loading]="deletion.has(file.id)"
              type="button"
              class="p-button-danger p-button-rounded p-button-outlined p-button-rounded_small"
              icon="pi pi-trash"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center p-4" [attr.colspan]="4">
          <span>No Records Found</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

