<div class="main-instruction">
  <h2>MODULES AND CONNECTIONS</h2>

  <p>
    R-WAVE erp supports all business processes required for the operation of manufacturing and development companies.
    All departments of the company are presented in the form of modules:
  </p>

  <p>
    <img src="assets/images/instructions/main/1.jpg">
  </p>

  <h2>ADVANTAGES</h2>

  <p>
    The advantage of R-WAVE ERP is full cycle of manufacturing process. R-WAVE ERP contains and supports all the processes necessary for the production of the final product, from
    the structure of the product, purchase, storage in a warehouse, and ending directly with production and subsequent sale
  </p>

  <p>
    <img src="assets/images/instructions/main/2.jpg">
  </p>

  <p>
    In R-WAVE ERP we use special concepts:<br>
    -	product structure<br>
    -	production list<br>
    -	production plan<br>
    -	procurement chain
  </p>

  <p>
    <img src="assets/images/instructions/main/3.jpg">
  </p>

  <p>
    These special concepts allow you to organize an end-to-end production process for the final product.
    The product structure defines the composition of the product, the sequence of assembly and required technologies.
  </p>

  <p>
    <img src="assets/images/instructions/main/4.jpg">
    <img src="assets/images/instructions/main/3.jpg">
  </p>
</div>
