<div class="qr-code-item">
  <img [src]="qrCode.qr_src" [alt]="qrCode.name">
  <div class="qr-code-item__content">
    <p *ngIf="qrCode?.serial_number">{{qrCode.serial_number}}</p>
    <p class="qr-code-item__code">{{qrCode.code}}</p>
    <p class="qr-code-item__name">{{qrCode.name}}</p>
    <p *ngIf="qrCode.root_list_id">Id Root Pl {{qrCode.root_list_id}}</p>
    <p *ngIf="qrCode.list_id">Assembly ID {{qrCode.list_id}}</p>
    <p *ngIf="qrCode.total_quantity">Qty {{qrCode.total_quantity}}</p>
    <p *ngIf="invoiceId">Invoice {{invoiceId}}</p>
    <p *ngIf="orderId">Order {{orderId}}</p>
  </div>
</div>
