<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'product-structure'" [isActive]="true"></pek-module-icon>
      <h1>Prefixes</h1>
    </div>
    <div class="page-header__tools">
      <button pButton type="button" icon="pi pi-plus" label="New Prefix" (click)="onAddPrefix()"></button>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <div class="page__table">
      <p-table
        #dt
        selectionMode="single"
        scrollHeight="calc(100vh - 21.75rem)"
        [scrollable]="true"
        [paginator]="prefixes.length > 0"
        [rows]="10"
        [(selection)]="selectedPrefix"
        [value]="prefixes"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <p-menubar class="ml-auto" [model]="menuItems" [class.disabled]="!selectedPrefix"></p-menubar>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="index-header text-center" style="width: 5%">#</th>
            <th style="width: 30%">Name</th>
            <th style="width: 50%">Description</th>
            <th class="text-center" style="width: 15%">Type</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prefix let-i="rowIndex">
          <tr [pSelectableRow]="prefix">
            <td class="text-center" style="width: 5%">{{i + 1}}</td>
            <td style="width: 30%">{{prefix.prefix}}</td>
            <td style="width: 50%">{{prefix.description}}</td>
            <td class="text-center" style="width: 15%">
              <ng-container [ngSwitch]="prefix.service_or_material">
                <span *ngSwitchCase="'0'">
                  Service
                </span>
                <span *ngSwitchCase="'1'">
                  Material
                </span>
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="4">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="dt.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!dt.paginator && !isLoading && prefixes.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="dt.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>
</div>
