<div class="create-edit-product-structure-category">
  <div class="modal-header">
    <h2 class="modal-header__title">
      {{data.type}} Correspondent
    </h2>
  </div>

  <mat-dialog-content>
    <form [formGroup]="form" class="d-flex justify-content-around">
      <div style="width: 48%">
        <div class="form-group">
          <label>Date Received*</label>
          <p-calendar
            class="position-relative"
            formControlName="date_received"
            inputId="basic"
            dateFormat="dd/mm/yy"
            id="date_received"
            [readonlyInput]="true"
          ></p-calendar>
        </div>
        <div *ngIf="type === types.INCOMING" class="form-group">
          <label for="external_id">ExternalID*</label>
          <input type="text" id="external_id" pInputText formControlName="external_id">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" [rows]="2" pInputTextarea [autoResize]="true"
                    formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label>Category</label>
          <pek-correspondnet-categories-picker
            [correspondentType]="type"
            [currentCategoryId]="form.get('category').value"
            (choiceCategory)="onSelectCategory($event)"
          ></pek-correspondnet-categories-picker>
        </div>
      </div>
      <div style="width: 48%">
        <div class="form-group">
          <pek-upload-file-picker (fileChanged)="filesSelected($event)"></pek-upload-file-picker>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-between">
    <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
    <button
      pButton
      type="button"
      class="p-button-success"
      [label]="data.type"
      [loading]="isSaving"
      [disabled]="form.invalid"
      (click)="onSave()"
    ></button>
  </mat-dialog-actions>
</div>
