<div class="create-edit-product-structure-category"  pekPasteScreenImage (imageAdded)="fileAdded($event)">
  <div class="modal-header">
    <h2 class="modal-header__title">
      {{data.type}} Correspondent
    </h2>
  </div>

  <mat-dialog-content>
    <form [formGroup]="form" class="d-flex justify-content-around pb-4">
      <div style="width: 48%">
        <div class="form-group dark-disabled">
          <label>Letter Registration Date</label>
          <p-calendar
            class="position-relative"
            formControlName="date_received"
            inputId="basic"
            dateFormat="dd/mm/yy"
            id="date_received"
            [readonlyInput]="true"
          ></p-calendar>
        </div>
        <div *ngIf="type === types.INCOMING" class="form-group">
          <label>External date *</label>
          <p-calendar
            class="position-relative"
            formControlName="external_date"
            inputId="basic"
            dateFormat="dd/mm/yy"
            id="external_date"
            [readonlyInput]="true"
          ></p-calendar>
        </div>
        <div *ngIf="type === types.INCOMING" class="form-group">
          <label for="external_id">ExternalID *</label>
          <input type="text" id="external_id" pInputText formControlName="external_id">
        </div>
        <div *ngIf="type === types.OUTGOING" class="form-group dark-disabled highlight">
          <label for="letter_registration_number">Letter Registration Number</label>
          <input type="text"  id="letter_registration_number" pInputText formControlName="letter_registration_number" [disabled]="true">
        </div>
        <div class="form-group">
          <label for="origin">{{type === types.OUTGOING ? 'To' : 'From'}}</label>
          <input type="text"  id="origin" pInputText formControlName="origin">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" [rows]="2" pInputTextarea [autoResize]="true"
                    formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label>Category</label>
          <pek-correspondnet-categories-picker
            [correspondentType]="type"
            [currentCategoryId]="form.get('category').value"
            (choiceCategory)="onSelectCategory($event)"
          ></pek-correspondnet-categories-picker>
        </div>

        <div class="col-3">
          <div class="form-group">
            <button pButton type="button" icon="pi pi-eye" label="View files" (click)="viewFiles()"></button>
          </div>
        </div>

      </div>
      <div  style="width: 48%">
        <div class="form-group">
          <label>Files</label>
          <pek-upload-file-picker
            #filePicker
            [files]="this.files"
            [showLabel]="false"
            class="files" (fileChanged)="filesSelected($event)"></pek-upload-file-picker>
        </div>
      </div>
    </form>
    <div class="row">
      <p-table
        class="table-full-loading adaptive-table adaptive-table_filters"
        [rows]="5"
        [paginator]="true"
        [value]="correspondentFiles"
        selectionMode="single"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 80%">Name</th>
            <th style="width: 20%">Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-file let-i="rowIndex">
          <tr [pSelectableRow]="file" *ngIf="isFileToBeDisplayed(file.id)">
            <td style="width: 20%">
              {{ getName(file.file) }}
            </td>
            <td style="width: 30%">
              <div class="d-flex justify-content-center">
                <button
                  pButton
                  (click)="downloadFile(file)"
                  type="button"
                  class="p-button-primary p-button-rounded p-button-outlined p-button-rounded_small mr-2"
                  icon="pi pi-download"
                ></button>
                <button
                  pButton
                  (click)="deleteCorrespondentFile(file.id)"
                  type="button"
                  class="p-button-danger p-button-rounded p-button-outlined p-button-rounded_small"
                  icon="pi pi-trash"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr class="no-content">
            <td style="width: 100%;" class="text-center p-4" [attr.colspan]="3">
              <span>
              No Files Found
            </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-between">
    <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
    <button
      pButton
      type="button"
      class="p-button-success"
      [label]="data.type"
      [loading]="isSaving"
      [disabled]="form.invalid"
      (click)="onSave()"
    ></button>
  </mat-dialog-actions>
</div>
