<div class="create-edit-product-form">
  <form [formGroup]="form">
    <div class="edit-product">
      <div class="edit-product__left" *ngIf="product.nomenclature.type !== nomenclatureType.PURCHASED">
        <div class="form-group edit-product__technology-picker">
          <label>Technologies</label>
          <pek-multi-technology-picker
            (selectTechnologies)="onSelectTechnology($event)"
            [currentTechnologiesIds]="selectedTechnologiesIds"
          >
          </pek-multi-technology-picker>
        </div>
        <div class="form-group">
          <label>Order of Technologies</label>
          <div
            class="edit-product__list"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="edit-product__technology"
              *ngFor="let technology of form.get('technologies').value"
              cdkDrag
            >
              <div class="edit-product__placeholder" *cdkDragPlaceholder></div>
              {{technology.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="edit-product__right">
        <div class="edit-product__column">
          <div class="edit-product__image">
            <pek-images-slider
              [width]="'15.75rem'"
              [height]="'15.75rem'"
              [images]="product.nomenclature.images"
              (removeImage)="onRemoveImage($event)"
              (choiceImages)="onUploadImages($event)"
            ></pek-images-slider>
          </div>
          <div class="edit-product__fields">
            <div class="form-group">
              <label>Type</label>
              <pek-nomenclature-type-picker
                [isDisabled]="true"
                [currentNomenclatureType]="form.get('type').value"
              ></pek-nomenclature-type-picker>
            </div>
            <div class="form-group" *ngIf="form.get('type').value !== nomenclatureType.PURCHASED">
              <label for="code">Code*</label>
              <input type="text" id="code" pInputText formControlName="code">
            </div>

            <div class="form-group">
              <label for="name">Name*</label>
              <input type="text" id="name" pInputText formControlName="name">
            </div>

            <div class="form-group" *ngIf="form.get('type').value === nomenclatureType.PURCHASED">
              <label>Category</label>
              <pek-product-category-picker
                (choiceCategory)="onSelectCategory($event)"
                [currentCategoryId]="this.form.get('category').value"
              >
              </pek-product-category-picker>
            </div>
          </div>
        </div>
        <div class="product-add__box">
          <div class="form-group">
            <label for="bulk">Bulk / With Serial Numbers*</label>
            <p-dropdown
              id="bulk"
              [options]="bulkOrSerial"
              formControlName="bulk_or_serial"
              optionLabel="label"
              optionValue="value"
              (ngModelChange)="showWarehouseQuantityConfirm()"
            ></p-dropdown>
          </div>
          <div class="form-group" *ngIf="type === 'edit'">
            <label for="id">Id</label>
            <input type="text" id="id" pInputText formControlName="codeId">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              [rows]="2"
              pInputTextarea
              [autoResize]="false"
              formControlName="description"
            ></textarea>
          </div>
          <div class="form-group" *ngIf="(product.parent || type === 'create') && isShowQuantity">
            <label for="quantity">Quantity*</label>
            <input type="number" min="1" step="1" id="quantity" pInputText formControlName="quantity">
          </div>
          <div *ngIf="product.nomenclature.type !== nomenclatureType.PURCHASED" class="form-group">
            <label for="technicalEquipment">Required Technical Equipment</label>
            <p-checkbox id="technicalEquipment" formControlName="canAddTechnicalEquipment" [binary]="true"
                        inputId="binary"></p-checkbox>
          </div>
          <div class="d-flex justify-content-end mb-3"
               *ngIf="form.get('canAddTechnicalEquipment').value && !isItemSelected">
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded"
              (click)="addTechnicalEquipment()"
            ></button>
          </div>
          <div *ngIf="form.get('canAddTechnicalEquipment').value">
            <pek-technical-equipments-table
              (isSelectedEquipmentEmitter)="isItemSelected = $event" [technicalEquipments]="technicalEquipments"
              (deleteEquipmentIndex)="equipmentDeleted($event)"
              (equipmentChanged)="equipmentChanged($event)"></pek-technical-equipments-table>
          </div>
          <div class="form-group">
            <pek-nomenclature-files [nomenclatureId]="product.nomenclature.id"></pek-nomenclature-files>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
