<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'manufacturing'" [isActive]="true"></pek-module-icon>
      <h1>Plans</h1>
    </div>
    <div class="page__tools">
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        label="Create Outsource Chain"
      ></button>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <form
      [formGroup]="searchForm"
      class="form mb-3"
    >
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              pInputText
              formControlName="nomenclature__name"
            >
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Code</label>
            <input
              type="text"
              pInputText
              formControlName="nomenclature__code"
            >
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Technologies</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Date</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Status</label>
<!--            <p-dropdown-->
<!--              [options]="statuses"-->
<!--              formControlName="status"-->
<!--              optionValue="value"-->
<!--              [showClear]="true"-->
<!--              placeholder="Choose Status"-->
<!--              (ngModelChange)="search$.next()"-->
<!--            ></p-dropdown>-->
          </div>
        </div>
      </div>
    </form>
    <div class="table-pagination-preloader">
      <p-table
        #dt
        selectionMode="multiple"
        [rows]="10"
        [scrollable]="true"
        scrollHeight="calc(100vh - 24.25rem)"
        [value]="tasks$ | async"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" style="width: 5%;">#</th>
            <th class="text-center" style="width: 20%;">Serial Numbers</th>
            <th class="text-center" style="width: 10%;">List ID</th>
            <th style="width: 15%;"> Code</th>
            <th style="width: 25%;">Name</th>
            <th style="width: 10%;">Created</th>
            <th style="width: 10%;" class="text-center">Status</th>
            <th style="width: 10%;" class="text-center">Quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task let-i="rowIndex">
          <tr [pSelectableRow]="task">
            <td style="width: 5%;" class="text-center">{{i + 1 }}</td>
            <td style="width: 20%;" class="text-center serials">
              <ul>
                <li *ngIf="task.serials.length > 1">
                  <div>
                    {{1}}
                    . {{task.serials[0].type_with_number ? task.serials[0].type_with_number : task.serials.serial.id}}
                  </div>
                  <div>...</div>
                </li>
                <li *ngIf="task.serials.length === 1">
                  {{1}}
                  . {{task.serials[0].type_with_number ? task.serials[0].type_with_number : task.serials.serial.id}}
                </li>
              </ul>

              <ul class="hidden-ul" *ngIf="task.serials.length > 1">
                <li *ngFor="let serial of task.serials; let idx = index">
                  {{idx + 1}}. {{serial.type_with_number ? serial.type_with_number : serial.id}}
                </li>
              </ul>
            </td>
            <td class="text-center" style="width: 10%">{{task.production_list_id}}</td>
            <td style="width: 15%;"><a rel="noopener noreferrer" [routerLink]="['tasks', task.id]"
                                       routerLinkActive="router-link-active"
                                       target="_blank">{{task.list_product.nomenclature.code}}</a>
            </td>
            <td style="width: 25%;">
              <b *ngIf="task.list_product.nomenclature.bulk_or_serial === '1'">(S) </b>
              <b *ngIf="task.list_product.nomenclature.has_technical_equipment">(T) </b>
              {{task.list_product.nomenclature.name}}
            </td>
            <td style="width: 10%;">{{task.created | date: 'dd/MM/y' }}</td>
            <td style="width: 10%;" class="text-center">{{getStatus(task.status)}}</td>
            <td style="width: 10%;" class="text-center">{{task.required_quantity}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="16">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="pagination-preloader pagination-preloader_bord" *ngIf="isLoading">
        <i class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
      </div>
      <div
        *ngIf="!isShowAll"
        class="paginator-wrapper"
        [class.paginator-wrapper_hide]="tasksCount === 0"
      >
        <p-paginator
          #paginator
          [rows]="10"
          [totalRecords]="tasksCount"
          (onPageChange)="paginate($event)"
        >
        </p-paginator>
        <p-button
          (click)="onShowAll(true)"
          class="paginator-all"
          type="button"
          styleClass="p-button-text"
        >
          All
        </p-button>
      </div>
    </div>
    <div *ngIf="isShowAll" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="onShowAll(false)"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>
</div>
