<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'manufacturing'" [isActive]="true"></pek-module-icon>
      <h1>Plans</h1>
    </div>
    <div class="page__tools">
      <button
        class="mr-2"
        pButton
        type="button"
        icon="pi pi-calendar"
        label="Production Calendar"
      ></button>
      <button
        class="mr-2"
        pButton
        type="button"
        icon="pi pi-chart-line"
        label="Workload"
      ></button>
      <button
        class="mr-2"
        pButton
        type="button"
        icon="pi pi-sliders-v"
        routerLink="all"
        label="All Plans"
      ></button>
      <button
        class="mr-2"
        pButton
        type="button"
        icon="pi pi-table"
        label="Hierarchy"
        [disabled]="mode === 'hierarchy'"
        (click)="onSelectMode('hierarchy')"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-list"
        label="List"
        [disabled]="mode === 'list'"
        (click)="onSelectMode('list')"
      ></button>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <form
      [formGroup]="searchForm"
      class="form"
    >
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label>Status</label>
            <p-dropdown
              [showClear]="true"
              [options]="statuses"
              formControlName="statuses"
              (ngModelChange)="search$.next()"
              optionValue="value"
              optionLabel="name"
              placeholder="Choose Status"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              pInputText
              placeholder="Enter a Name"
              formControlName="list_product__nomenclature__name"
              (ngModelChange)="name$.next()"
            >
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Code</label>
            <input
              type="text"
              placeholder="Enter a Code"
              pInputText
              formControlName="list_product__nomenclature__code"
              (ngModelChange)="code$.next()"
            >
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Serial Number</label>
            <input
              pInputText
              formControlName="type_with_number"
              class="form-control"
              type="text"
              id="type_with_number"
              (ngModelChange)="serial$.next()"
            >
          </div>
        </div>
      </div>
    </form>
    <ng-container *ngIf="mode === 'list'">
      <div class="table-pagination-preloader">
        <p-table
          #dt
          selectionMode="multiple"
          [rows]="10"
          [paginator]="tasks.length > 0"
          [scrollable]="true"
          scrollHeight="calc(100vh - 24.25rem)"
          [value]="tasks"
          [(selection)]="selectedTasks"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center" style="width: 5%;">#</th>
              <th class="text-center" style="width: 20%;">Serial Numbers</th>
              <th class="text-center" style="width: 10%;">List ID</th>
              <th style="width: 15%;"> Code</th>
              <th style="width: 25%;">Name</th>
              <th style="width: 10%;" class="text-center">Created</th>
              <th style="width: 10%;" class="text-center">Status</th>
              <th style="width: 10%;" class="text-center">Quantity</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="caption">
            <div class="d-flex table-caption">
              <button
                class="ml-auto mr-2 p-button-icon"
                pButton
                type="button"
                icon="pi pi-chart-pie"
                label="Add Split"
                [disabled]="selectedTasks.length !== 1 || selectedTasks[0]?.required_quantity === 1"
              >
              </button>
              <button
                class="p-button-icon"
                pButton
                type="button"
                icon="pi pi-chart-bar"
                label="Selected Plans"
                [disabled]="selectedTasks.length === 0"
              >
              </button>
            </div>
          </ng-template>
          <ng-template pTemplate="body" let-task let-i="rowIndex">
            <tr [pSelectableRow]="task">
              <td style="width: 5%;" class="text-center">{{i + 1 }}</td>
              <td style="width: 20%;" class="text-center">
                <ng-container *ngIf="task.serials.length > 0">
                  <div pekTippy [content]="getTippyContent(task)" class="serials">
                    <span>{{1}}
                      . {{task.serials[0].type_with_number ? task.serials[0].type_with_number : task.serials.serial.id}}</span>
                    <span *ngIf="task.serials.length > 1">...</span>
                  </div>
                </ng-container>

              </td>
              <td class="text-center" style="width: 10%">
                {{task.production_list_id}}
              </td>
              <td style="width: 15%;">
                <a
                  rel="noopener noreferrer"
                  [routerLink]="['plan', task.id]"
                  routerLinkActive="router-link-active"
                  target="_blank"
                >
                  {{task.list_product.nomenclature.code}}
                </a>
              </td>
              <td style="width: 25%;">
                <b *ngIf="task.list_product.nomenclature.bulk_or_serial === '1'">(S) </b>
                <b *ngIf="task.list_product.nomenclature.has_technical_equipment">(T) </b>
                {{task.list_product.nomenclature.name}}
              </td>
              <td style="width: 10%;" class="text-center">
                {{task.created | date: 'dd/MM/y'}}
              </td>
              <td style="width: 10%;" class="text-center">
                {{task.status}}
              </td>
              <td style="width: 10%;" class="text-center">
                {{task.required_quantity}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center p-4" [attr.colspan]="16">
                <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span *ngIf="!isLoading">No Records Found</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button
              type="button"
              (click)="dt.paginator = false"
              styleClass="p-button-text"
            >
              All
            </p-button>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="!dt.paginator && !isLoading && tasks.length > 0" class="paginator-return-pagination">
        <p-button
          type="button"
          (click)="dt.paginator = true"
          styleClass="p-button-text"
        >
          Return pagination
        </p-button>
      </div>
    </ng-container>

    <ng-container *ngIf="mode === 'hierarchy'">
      <p-treeTable
        [value]="ownProductionCategorizedList"
        selectionMode="multiple"
        [scrollable]="true" scrollHeight="calc(100vh - 24.5rem)"
        [(selection)]="selectedTasksNodes"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="padding-left: 48px; width: 30%">Name</th>
            <th style="width: 20%">Code</th>
            <th style="width: 20%" class="text-center">Serial Numbers</th>
            <th style="width: 7%" class="text-center">List ID</th>
            <th style="width: 8%" class="text-center">Created</th>
            <th style="width: 7%" class="text-center">Status</th>
            <th style="width: 8%;" class="text-center">Quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="caption">
          <div class="d-flex table-caption">
            <button
              pButton
              type="button"
              icon="pi pi-angle-down"
              label="Expand All"
              class="ml-auto mr-2"
              (click)="onExpandAll()"
              [disabled]="isLoading"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-angle-up"
              label="Collapse All"
              class="mr-2"
              (click)="onCollapseAll()"
              [disabled]="isLoading"
            ></button>
            <button
              class="mr-2 p-button-icon"
              pButton
              type="button"
              icon="pi pi-chart-pie"
              label="Add Split"
              [disabled]="selectedTasksNodes.length !== 1 || selectedTasksNodes[0]?.data?.task?.required_quantity === 1"
            >
            </button>
            <button
              class="p-button-icon"
              pButton
              type="button"
              icon="pi pi-chart-bar"
              label="Selected Plans"
              [disabled]="selectedTasksNodes.length === 0"
            >
            </button>
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr *ngIf="!rowData.hideFromTable" [ttRow]="rowNode" [ttSelectableRow]="rowNode"
              [ttSelectableRowDisabled]="!rowData.task">
            <td style="width: 30%" class="word-break">
              <div class="toggle-row">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                <span [class.bold]="!rowData.task" *ngIf="!rowData.task">
                      {{rowData.name}}
                  <i *ngIf="!rowData.task" style="font-style: normal">(L {{rowData.categories}})</i>
                    </span>
                <span *ngIf="rowData.task">
                        <b *ngIf="rowData.task && rowData.task.serial_numbers.length > 0">(S)</b>
                      <b *ngIf="rowData.task.list_product.nomenclature.has_technical_equipment">(T)</b>
                  {{rowData.task.list_product.nomenclature.name}} (L {{rowData.task.required_quantity}})
                    </span>
              </div>
            </td>
            <td style="width: 20%">
              <span *ngIf="rowData.task">
                <a rel="noopener noreferrer" class="plan-link" target="_blank" [routerLink]="['plan', rowData.task.id]">
                  {{rowData.task.list_product.nomenclature.code}}
                </a>
              </span>
            </td>
            <td class="text-center" style="width: 20%">
              <ng-container *ngIf="rowData.task?.serials?.length > 0">
                <div pekTippy [content]="getTippyContent(rowData.task)" class="serials">
                  <span>{{1}}
                    . {{rowData.task.serials[0].type_with_number ? rowData.task.serials[0].type_with_number : rowData.task.serials.serial.id}}</span>
                  <span *ngIf="rowData.task.serials.length > 1">...</span>
                </div>
              </ng-container>
            </td>
            <td class="text-center" style="width: 7%">
              <span *ngIf="rowData.task">
                {{rowData.task.production_list_id}}
              </span>
            </td>
            <td class="text-center" style="width: 8%">
              <span *ngIf="rowData.task">
                {{rowData.task.created | date: 'dd/MM/y' }}
              </span>
            </td>
            <td class="text-center" style="width: 7%">
              <span *ngIf="rowData.task">
                {{rowData.task.status}}
              </span>
            </td>
            <td class="text-center" style="width: 7%">
              <span *ngIf="rowData.task">
                {{rowData.task.required_quantity}}
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="16">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </ng-container>
  </div>
</div>
