<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'correspondents'" [isActive]="true"></pek-module-icon>
      <h1>{{type === types.INCOMING ? 'Incoming' : 'Outgoing'}} Categories</h1>
    </div>
    <div class="page__tools">
      <button pButton type="button" icon="pi pi-plus" label="New Category" (click)="add()"></button>
    </div>
  </div>

  <div class="page__content">
    <div class="page__card">
      <div class="page__table">
        <p-treeTable
          #dt
          [value]="categories"
          selectionMode="single"
          [(selection)]="selectedNode"
          [scrollable]="true"
          scrollHeight="calc(100vh - 19.2rem)"
          (onNodeSelect)="onSelectNode()"
          cdkDropListGroup
        >
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center">
              <button
                pButton
                type="button"
                icon="pi pi-arrow-up"
                class="p-button-rounded mr-2"
                [disabled]="selectedNode?.data.parent === null"
                [loading]="isMovingUp"
                (click)="up()"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-arrow-down"
                class="p-button-rounded mr-2"
                [disabled]="selectedNode?.data.parent === null"
                [loading]="isMovingDown"
                (click)="down()"
              ></button>
              <p class="ml-1 subtitle" *ngIf="!selectedNode">Choose the Product to edit</p>
              <p-menubar
                class="product-structure-bar ml-auto mr-2"
                [model]="menuItems"
                [class.disabled]="!selectedNode"
              ></p-menubar>
              <button
                pButton
                type="button"
                icon="pi pi-angle-down"
                label="Expand All"
                class="mr-2"
                (click)="expandAll()"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-angle-up"
                label="Collapse All"
                (click)="collapseAll()"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50%">Name</th>
              <th style="width: 50%" class="text-center">Description</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
              <td
                style="width: 50%"
                [ngStyle]="{'padding-left': rowNode.level * 0.5 + 'rem'}"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="rowData.id"
                cdkDropList
              >
                <div class="table-toggle">
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <span
                    cdkDrag
                    [cdkDragData]="rowData.id"
                    class="drag-cursor"
                  >
                    {{rowData.name}}
                  </span>
                </div>
              </td>
              <td style="width: 50%">
                {{rowData.description}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center p-4" [attr.colspan]="2">
                <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span *ngIf="!isLoading">No Records Found</span>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </div>
  </div>
</div>
