<!--<div *ngIf="technicalEquipment">-->
<!--  <p>edit-technical-equipment works!</p>-->
<!--  {{technicalEquipment.technicalEquipment.technical_equipment.code}}-->
<!--  /-->
<!--  {{technicalEquipment.technicalEquipment.quantity}}-->
<!--</div>-->

<div class="modal-header">
  <h2 class="modal-header__title">
    Edit Technical Equipment
  </h2>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="text" id="quantity" pInputText formControlName="quantity">
    </div>
    <div  class="form-group">
      <label for="quantity">Technology (Select Technology of the Product)</label>
      <pek-technology-picker [showClear]="false" [predefinedTechnologies]="technologies" [selectTechnologyId]="form.get('technology').value" (selectTechnology)="technologySelected($event)"></pek-technology-picker>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
  <button
    pButton
    type="button"
    class="p-button-success"
    label="Update"
    [disabled]="form.invalid"
    (click)="onSave()"
  ></button>
</mat-dialog-actions>
