<div class="modal-header">
  <h2 class="modal-header__title">
    Serial Numbers Info
  </h2>
</div>

<!--<mat-dialog-content>-->

<div class="nomenclature-serial-info">
  <p-table
    [rows]="10"
    rowExpandMode="single"
    dataKey="id"
    selectionMode="single"
    [value]="data.extraInfo"
    [paginator]="data.extraInfo.length > 10"
    scrollHeight="calc(100vh - 20rem)"
    [scrollable]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%" class="index-header text-center">#</th>
        <th style="width: 15%" class="text-center">Invoice</th>
        <th style="width: 15%" class="text-center">Order</th>
        <th style="width: 20%" class="text-center">Protocol</th>
        <th style="width: 40%" class="text-center">Serial Number</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-info let-i="rowIndex">
      <tr [pRowToggler]="info">
        <td style="width: 10%" class="text-center">
          <h3 class="td-title">#</h3>
          {{i + 1}}
        </td>
        <td style="width: 15%" class="text-center">
          <h3 class="td-title">Invoice</h3>
          <a *ngIf="info?.invoice_id" (click)="goToInvoice(info.invoice_id)">{{info.invoice_id}}</a>
          <div *ngIf="!info?.invoice_id">None</div>
        </td>
        <td style="width: 15%" class="text-center">
          <h3 class="td-title">Order</h3>
          <a *ngIf="info?.order_id" (click)="goToOrder(info.order_accounting_type, info.order_id)">{{info.order_id}}</a>
          <div *ngIf="!info?.order_id">None</div>
        </td>
        <td style="width: 20%" class="text-center">
          <h3 class="td-title">Protocol</h3>
          <a
            *ngIf="data?.nomenclature?.qc_protocol"
            (click)="protocolInfo(data.nomenclature.qc_protocol, info.serial_number_str, info.warehouseproductqcprotocol)"
          >
            {{data.nomenclature.qc_protocol}}
          </a>
          <div *ngIf="!data?.nomenclature?.qc_protocol">None</div>
        </td>
        <td style="width: 40%" class="text-center">
          <h3 class="td-title">Serial Number</h3>
          <div *ngIf="info?.serial_number_str">{{info.serial_number_str}}</div>
          <div *ngIf="!info?.serial_number_str">None</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center p-3" [attr.colspan]="5">
          <span>No Records Found</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--</mat-dialog-content>-->
</div>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
</mat-dialog-actions>
