<div class="company-picker">
  <p-dropdown
    [filter]="true"
    *ngIf="!isLoading else spinner"
    [options]="positions"
    placeholder="Select Position"
    [(ngModel)]="selectedPositionId"
    (ngModelChange)="onSelectCompany()"
    optionLabel="title"
    optionValue="id"
    [showClear]="true"
    [disabled]="isDisabled"
  >
  </p-dropdown>
</div>

<ng-template #spinner>
  <div class="spinner-input">
    <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
  </div>
</ng-template>
