.p-button {
  border-radius: 0.625rem;
  line-height: 1;
  font-size: var(--theme-font-size-s);
  text-transform: capitalize;
  transition: opacity 0.25s, background-color 0.25s;
  padding: 0.625rem 1.125rem;
  background: var(--theme-color-primary);
  border: 1px solid var(--theme-color-primary);

  &:enabled {
    &:hover {
      background: var(--theme-color-primary-hover);
      border-color: var(--theme-color-primary-hover);
    }
  }

  &.p-button-rounded {
    height: 2.5625rem !important;
    width: 2.5625rem;

    .pi {
      font-size: 0.875rem;
    }
  }

  &.p-button-text {
    color: var(--theme-color-primary);

    &:enabled {
      &:hover {
        color: var(--theme-color-primary-hover) !important;
      }
    }
  }
}

.p-button-icon {
  font-size: var(--theme-font-size-s);
}

.p-button-label {
  font: inherit;
  font-weight: 500;
}

.p-button-loading {
  display: flex;
  justify-content: center;

  .p-button-label {
    //display: none;
    padding-left: 23px;
    opacity: 0;
    margin: 0;
  }

  .p-button-icon {
    position: absolute;
    margin: auto !important;
  }
}
