.p-inputtext {
  font-size: var(--theme-font-size-s);
  background: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.625rem;

  &:enabled:focus {
    border-color: var(--theme-color-primary);
  }

  &.input-fill {
    background: #f4f5f7;
    border-color: transparent;
  }

  &:enabled {
    &:hover {
      border-color: var(--theme-color-primary);
    }
  }
}

.p-checkbox {
  width: 1.375rem !important;
  height: 1.375rem !important;

  .p-checkbox-box {
    border: 1px solid #ced4da;
    width: 1.375rem !important;
    height: 1.375rem !important;

    &.p-highlight {
      border-color: var(--theme-color-primary);
      background: var(--theme-color-primary);
    }
  }

  &:not(.p-checkbox-disabled) {
    .p-checkbox-box {
      &:hover {
        border-color: var(--theme-color-primary);
      }

      &.p-highlight {
        &:hover {
          background: var(--theme-color-primary-hover);
          border-color: var(--theme-color-primary);
        }
      }
    }
  }
}

.p-dropdown {
  width: 100%;
  border-radius: 0.625rem;

  .p-dropdown-item {
    &.p-highlight {
      color: var(--theme-color-primary) !important;
    }
  }

  &:not(.p-disabled) {
    &:hover {
      border-color: var(--theme-color-primary);
    }
  }
}

.p-dropdown-label {
  line-height: 1.334;
}

.table-toggle {
  display: flex;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  margin-bottom: 0.125rem;

  label {
    width: max-content;
    font-weight: 500;
    margin-bottom: 0.75rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-box {
  align-items: center;
  justify-content: space-between;
  display: flex;

  .form-group {
    margin-bottom: 0;

    label {
      margin-bottom: 0.5rem;
    }
  }

  &_2 {
    .form-group {
      width: calc(50% - 0.5rem);
    }
  }

  &_3 {
    .form-group {
      width: calc(33% - 0.5rem);
    }
  }
}

p-menubar {
  transition: opacity 0.25s;

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;

    .p-menuitem-link {
      background: #e9ecef !important;
    }
  }
}

.p-menubar {
  .p-submenu-list {
    z-index: 3 !important;
  }
}

.p-checkbox-label,
.p-radiobutton-label {
  cursor: pointer;
  margin-bottom: 0 !important;
}

.custom-tabs {
  .p-tabview-nav-content {
    overflow: initial !important;
  }

  .p-tabview-nav {
    background: none;
    border: none !important;

    li {
      min-width: 10rem;
      margin-right: 0.75rem;
      border-radius: 1rem 1rem 0 0 !important;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        height: 6px;
        background: #fff;
        z-index: 6;
      }
    }

    .p-highlight {
      box-shadow: 0 0 0.5rem #00000010 !important;

      .p-tabview-nav-link {
        background: #fff !important;
        color: var(--theme-text-primary) !important;
      }
    }
  }

  .p-tabview-ink-bar {
    display: none !important;
  }

  .p-tabview-panels {
    box-shadow: 0 0 0.5rem #00000010 !important;
    border-radius: 0 1rem 1rem 1rem !important;
    padding: 0.75rem 1.75rem 1.75rem !important;
  }

  .p-tabview-nav-link {
    font-weight: 500 !important;
    border-radius: 1rem 1rem 0 0 !important;
    background: var(--theme-color-secondary) !important;
    color: var(--theme-color-primary) 0 !important;
    padding: 1rem 1.75rem !important;
    justify-content: center;
    border: none !important;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.p-radiobutton {
  width: 1.375rem !important;
  height: 1.375rem !important;

  .p-radiobutton-box {
    width: 1.375rem !important;
    height: 1.375rem !important;

    &:not(.p-disabled) {
      &:not(.p-highlight) {
        &:hover {
          border-color: var(--theme-color-primary)
        }
      }
    }

    &.p-highlight {
      border-color: var(--theme-color-primary);
      background: var(--theme-color-primary);

      .p-radiobutton-icon {
        width: 13px !important;
      }

      &:not(.p-disabled) {
        &:hover {
          border-color: var(--theme-color-primary);
          background: var(--theme-color-primary);
        }
      }
    }
  }
}

.p-multiselect {
  width: 100%;
  border-radius: 0.625rem;
  height: 2.375rem;

  .p-multiselect-label {
    font-size: var(--theme-font-size-s);
    padding: 0.4375rem 0.75rem;
  }

  .pi {
    font-size: var(--theme-font-size-s);
  }
}

.p-multiselect-panel {
  .p-multiselect-item {
    font-size: var(--theme-font-size-s);
    padding: 0.625rem 1.25rem !important;
  }
}

.p-treeselect-items-wrapper,
.p-multiselect-items-wrapper, {
  &::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    background-color: #d1d2d8;
  }

  &::-webkit-scrollbar {
    cursor: auto;
    width: 0.5rem;
    background-color: #f8f9fa;
  }
}

textarea {
  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #d1d2d8;
  }

  &::-webkit-scrollbar {
    cursor: auto;
    width: 0.5rem;
    background-color: transparent;
  }
}

.p-treeselect {
  height: 2.375rem;
  width: 100%;
  border-radius: 0.625rem;
  font-size: var(--theme-font-size-s);

  .p-tree {
    padding: 0.5rem !important;
  }

  .p-treeselect-label {
    padding: 0.5rem 0.75rem;
  }

  .p-tree-toggler {
    width: 1.75rem !important;
    height: 1.75rem !important;
    margin-right: 0.375rem !important;

    .pi {
      font-size: 0.875rem !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  .p-treenode-label {
    padding-right: 0.5rem !important;
  }

  .p-treenode-content {
    line-height: 1.2;
    font-size: 0.875rem;
    padding: 0.25rem !important;

    &.p-highlight {
      color: var(--theme-color-primary) !important;

      .p-tree-toggler {
        color: var(--theme-color-primary) !important;
      }
    }
  }

  &:not(.p-disabled) {
    &:hover {
      border-color: var(--theme-color-primary) !important;
    }
  }
}

.p-treeselect-panel {
  top: 2.5rem !important;
}

.p-tree {
  padding: 0.75rem !important;

  .p-tree-container {
    .p-treenode {
      .p-treenode-content {
        padding: 0.25rem;
        font-size: 0.9375rem;

        .p-tree-toggler {
          width: 1.75rem;
          height: 1.75rem;
          position: relative;

          &:focus {
            box-shadow: none !important;
          }

          .p-tree-toggler-icon {
            font-size: 0.9375rem !important;
          }
        }

        &:focus {
          box-shadow: none !important;
        }

        &.p-highlight {
          color: var(--theme-color-primary);

          .p-tree-toggler {
            color: var(--theme-color-primary);
          }
        }
      }
    }
  }
}
