.mat-dialog-actions {
  padding: 1rem 0 !important;

  button {
    min-width: 6.25rem;
  }
}

.modal {
  &_visible {
    mat-dialog-content,
    mat-dialog-container {
      overflow: visible !important;
    }
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  &_vertical {
    align-items: flex-start;
    flex-direction: column;
  }

  &__title {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 500;
  }
}


.modal-picker {
  .mat-dialog-container {
    overflow: inherit !important;
  }

  .mat-dialog-content {
    max-height: 56vh !important;
  }
}

.modal-overflow-visible {
  mat-dialog-content {
    overflow: initial !important;
    max-height: 70vh !important;
  }

  .mat-dialog-container {
    overflow: initial !important;
  }
}
