.p-treetable {
  .p-treetable-tbody {
    tr:focus {
      outline: 0;
    }

    & > tr {
      transition: background 0.1s, color 0.1s;
      font-size: var(--theme-font-size-s);

      &.p-highlight {
        color: var(--theme-color-primary);
        background: #EFF6FF !important;

        .p-treetable-toggler {
          color: var(--theme-color-primary);
        }
      }

      &:not(.p-highlight) {
        &:hover {
          background: #e9ecef !important;
        }
      }

      .p-treetable-toggler {
        &:focus {
          box-shadow: none !important;
        }
      }

      & > td {
        vertical-align: middle;
        padding: 0.125rem 0.75rem;
      }
    }
  }

  .p-treetable-thead, {
    & > tr {
      & > th {
        vertical-align: middle;
        padding: 0.5rem 0.75rem;
        font-weight: 500;
      }
    }
  }

  .p-treetable-header {
    border: none;
    background: none;
    padding: 0 0 0.75rem;
  }
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon,
.p-menubar {
  padding: 0;
  background: transparent;
  border: none;

  .p-menubar-root-list {
    & > .p-menuitem > {
      .p-menuitem-link {
        height: 2.4375rem !important;
        transition: background 0.25s;
        background: #f4f5f7;
        border-radius: 0.625rem;
        font-weight: 500;
        font-size: var(--theme-font-size-s);
      }
    }
  }

  .p-menuitem {
    &.p-menuitem-active {
      .p-submenu-icon {
        color: var(--theme-color-primary) !important;
      }

      & > .p-menuitem-link {
        .p-menuitem-icon,
        .p-menuitem-text {
          color: var(--theme-color-primary) !important;
        }
      }
    }
  }
}

.p-datatable {
  .p-datatable-tbody {
    & > tr {
      transition: background 0.1s, color 0.1s;
      font-size: var(--theme-font-size-s);

      &.disabled {
        &:hover {
          background: transparent !important;
        }
      }

      &.p-highlight {
        background: #EFF6FF !important;
        color: var(--theme-color-primary);
      }

      &:not(.p-highlight) {
        &:hover {
          background: #e9ecef !important;
        }
      }

      &:focus {
        outline: none;
      }

      & > td {
        vertical-align: middle;
        padding: 0.375rem 0.75rem;

        a {
          color: var(--theme-color-primary);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .p-datatable-thead {
    & > tr {
      & > th {
        font-weight: 500;
        vertical-align: middle;
        padding: 0.5rem 0.625rem;
      }
    }
  }

  .p-datatable-header {
    border: none;
    background: none;
    padding: 0 0 0.75rem;
  }
}

.p-link {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.p-datatable-thead,
.p-datatable-tbody,
.p-datatable-tfoot {
  display: table-row-group !important;

  tr {
    display: table-row !important;
  }
}


.p-datatable-scrollable .p-datatable-thead > tr > th,
.p-datatable-scrollable .p-datatable-tbody > tr > td,
.p-datatable-scrollable .p-datatable-tfoot > tr > td {
  display: table-cell !important;
  flex: auto !important;
  vertical-align: middle;
}

.p-paginator-element {
  transition: background 0.1s !important;
}

.p-paginator-right-content {
  position: absolute;
  right: 0;

  .p-button:focus {
    box-shadow: none;
  }
}

.custom-button {
  width: fit-content !important;

  button {
    padding: 0.625rem 2rem 0.625rem 1.75rem !important;
    width: fit-content !important;
    display: flex;
    align-items: center;

    .p-button-icon {
      order: -1;
      margin-right: 0.75rem;
    }
  }

  .p-button {
    background: rgba(59, 130, 246, 0.04);

    &:focus {
      box-shadow: none;
    }
  }
}

.paginator-return-pagination {
  border-top: 1px solid #dee2e6;
  position: relative;
  top: -1px;
  display: flex;
  padding-top: 0.75rem;
  margin-bottom: -1rem;

  .p-button {
    background: rgba(59, 130, 246, 0.04);

    &:focus {
      box-shadow: none;
    }
  }

  p-button {
    margin-left: auto;
  }
}

.p-paginator {
  .p-paginator-pages {
    .p-paginator-page {
      &.p-highlight {
        color: var(--theme-color-primary);
      }
    }
  }
}

.p-treetable-scrollable-header-box {
  padding-right: 0.5rem !important;
}

.p-datatable-wrapper,
.p-dropdown-items-wrapper,
.p-treetable-scrollable-body {
  &::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    background-color: #d1d2d8;
  }

  &::-webkit-scrollbar {
    cursor: auto;
    width: 0.5rem;
    background-color: #f8f9fa;
  }
}

.p-datatable-thead {
  p-tableheadercheckbox {
    position: relative;
    left: 0.125rem;
  }
}

.table-pagination-preloader {
  position: relative;
}

.pagination-preloader {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-bottom: 1px solid #dee2e6;

  &_bord {
    border-top: 1px solid #dee2e6;
  }
}

.paginator-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  border-bottom: 1px solid #dee2e6;

  &_hide {
    display: none;
  }
}

.paginator-all {
  position: absolute;
  right: 0;

  button {
    &:focus {
      box-shadow: none !important;
    }
  }
}

.filters-visibility {
  &_hide {
    form {
      display: none;
    }

    .filters-visibility__header {
      display: flex;
      padding-right: 2rem;
    }

    .icon {
      top: 0.875rem !important;
    }
  }

  &__header {
    align-items: center;
    width: 100%;
    display: none;
    margin-bottom: 0.75rem;
    min-height: 2.375rem;

    button, a {
      margin-bottom: 0 !important;
    }
  }

  .icon {
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 1.25rem;
    top: 0.5625rem;
    z-index: 3;
    background: transparent;
  }
}
