:root {
  --theme-text-primary: #1B1B1B;
  --theme-text-secondary: #828789;
  --theme-text-light: #D2E7FF;
  --theme-text-alternative-01: #FBFBFB;
  --theme-text-alternative-02: #72899A;

  --theme-color-primary: #3e69af;
  --theme-color-secondary: #ecf2fe;
  --theme-color-dark: #283241;
  --theme-color-danger: #EF4444;
  --theme-color-success: #22c55e;

  --theme-color-primary-hover: #2d518d;

  /*12px*/
  --theme-font-size-xs: 0.75rem;
  /*15px*/
  --theme-font-size-s: 0.9375rem;
  /*16px*/
  --theme-font-size-m: 1rem;
  /*18px*/
  --theme-font-size-l: 1.125rem;
  /*20px*/
  --sm-theme-font-size-ml: 1.25rem;
  /*22px*/
  --sm-theme-font-size-xl: 1.375rem;
  /*24px*/
  --theme-font-size-xxl: 1.5rem;
  /*36px*/
  --theme-font-size-xxxl: 2.25rem;
}

