<div class="multi-company-category-picker">
  <p-multiSelect
    *ngIf="!isLoading; else spinner"
    [options]="companies"
    [(ngModel)]="selectedCompanyCategories"
    optionLabel="name"
    placeholder="Select Company Categories"
    (ngModelChange)="onSelectCompanyCategories()"
    [disabled]="isDisabled"
    [showClear]="true"
    [filter]="true"
  ></p-multiSelect>

  <ng-template #spinner>
    <div class="spinner-input">
      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
    </div>
  </ng-template>
</div>
