@page {
  size: portrait !important;
}

.page,
.page__content {
  @media print {
    display: none;
  }
}

.row-toggler {
  display: flex;
  align-items: center;
  width: 100%;

  .toggle {
    margin-right: 1.5rem;
  }
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.request-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.request-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.request-row {
  margin-bottom: 25px;
  box-sizing: border-box;
  padding-right: 30px;

  h4 {
    font-weight: 500;
    font-size: 19px;
    margin: 0 0 10px;
    line-height: 1.2;
  }

  p {
    font-size: 18px;
    margin: 0;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(5),
  &:nth-child(6) {
    width: 30%;
  }

  &:nth-child(3),
  &:nth-child(4) {
    width: 20%;
  }
}

.user-info {
  font-size: 19px;
  display: flex;

  h3 {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  div {
    width: 25%;
  }
}

.user-info {
  display: none;
  justify-content: space-between;
  margin-top: 50px;

  p {
    height: 20px;
  }

  .left, .right {
    div {
      margin-bottom: 25px;
    }
  }
}

.print-info {
  display: none;
}

.root-plans {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


.toggle-row {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

::ng-deep {
  .orders-tree {
    .p-treetable-wrapper {
      max-height: calc(100vh - 16.625rem);
      overflow: auto;
    }
  }

  table {
    tbody {
      tr.qr-code-scanned {
        background: #e1efe2 !important;
      }

      tr.partly-scanned {
        background: #f5dfe1 !important;
      }

      tr.last-scanned {
        box-shadow: inset 0 0 10px 7px rgb(58 83 108 / 25%);
      }

      .is-added-after-order-creation {
        background: #fb8f8f !important;
      }
    }
  }

}

.colors {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: 1rem;

  &__color {
    display: flex;
    align-items: center;
  }

  &__color-block {
    width: 1.5rem;
    height: 0.75rem;
    margin-right: 0.5rem;

    &_scanned {
      background: #e1efe2;
    }

    &_partly-scanned {
      background: #f5dfe1;
    }
  }
}

.in-plan {
  background-color: rgb(124 133 245 / 52%) !important;
}

.print-page {
  z-index: 9999;
  background: #fff;
  //position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
  height: 100%;

  @media print {
    display: block;
  }
}


::ng-deep {
  @media print {
    .layout-header {
      display: none;
    }
  }
}


.ids-container {
  position: relative;

  .ids {
    display: none;
    color: #495057 !important;
  }

  &:hover {
    .ids {
      &.is-absolute {
        position: absolute;
        top: 0;
        left: +100%;

        &.is-last {
          top: unset;
          bottom: 0;
        }
      }
      display: block;

      width: 6.25rem;
      height: auto;
      padding: .5rem 1rem;
      background-color: white;
      color: #495057 !important;
      border-radius: 0.625rem;
      box-shadow: 0 0 6px 5px rgb(0 0 0 / 15%);
      z-index: 100;
      right: -86%;

      &.is-fixed {
        position: fixed;
        transform: translate(80%, -1.5rem);
        top: unset;
        left: unset;
        right: unset;
      }
      &.hierarchy {
        right: unset;
        left: 10.25rem;
      }
    }
  }
}

.serial-numbers-container {
  color: #495057 !important;
  position: relative;

  .serial-numbers {
    display: none;
    color: #495057 !important;
  }

  &:hover {
    .serial-numbers {
      position: absolute;
      display: block;
      top: 0;
      left: -11rem;
      width: 11rem;
      height: auto;
      padding: .5rem 1rem;
      color: #495057 !important;
      background-color: white;
      border-radius: 0.625rem;
      box-shadow: 0 0 6px 5px rgb(0 0 0 / 15%);
      z-index: 100;
    }
  }
}

