@import "src/app/shared/styles/screens-variables";

.hide {
  display: none;
}

.count-link {
  padding: 4px 10px;
  cursor: pointer;
}

.toggle-row {
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.colors {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: 1rem;

  &__color {
    display: flex;
    align-items: center;
  }

  &__color-block {
    width: 1.5rem;
    height: 0.75rem;
    margin-right: 0.5rem;

    &_free-products {
      background: #e1efe2;
    }

    &_deficit {
      background: #f5dfe1;
    }
  }
}

.free-products {
  background: #e1efe2 !important;
}

.deficit {
  background: #f5dfe1 !important;
}

form {
  margin-top: -0.25rem;
}

.page__card {
  position: relative;
}

@media (max-width: $tablet-width) {
  .page__title {
    flex-direction: column;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
  }

  .colors {
    margin: 0.375rem 0 0.25rem 0.75rem;
  }
}

.table {
  &::ng-deep {
    .p-datatable-thead {
      position: relative !important;
    }
  }
}

.bord-right {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #dee2e6;
    right: 0;
    top: 0;
  }
}
