<div class="create-edit-product-structure-category">
  <div class="modal-header">
    <h2 class="modal-header__title">
      {{data.type}} Prefix
    </h2>
  </div>

  <mat-dialog-content>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name">Name*</label>
        <input type="text" id="name" pInputText formControlName="name">
      </div>
      <div class="form-group">
        <label for="description">Description*</label>
        <textarea id="description" [rows]="2" pInputTextarea [autoResize]="true"
                  formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label>Unit of measure*</label>
        <pek-unit-measure-picker
          [currentMeasureUnitId]="form.get('unit_of_measure').value"
          (selectMeasureUnit)="onSelectMeasureUnit($event)"
        ></pek-unit-measure-picker>
      </div>
      <div class="form-group">
        <label>Parent Category</label>
        <pek-product-structure-category-picker
          [currentCategoryId]="form.get('parent').value"
          (choiceCategory)="onSelectCategory($event)"
        ></pek-product-structure-category-picker>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-between">
    <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
    <button
      pButton
      type="button"
      class="p-button-success"
      [label]="data.type"
      [loading]="isSaving"
      [disabled]="form.invalid || !form.get('unit_of_measure').value"
      (click)="onSave()"
    ></button>
  </mat-dialog-actions>
</div>
