<div class="modal-header">
  <h2 class="modal-header__title">
    Add Event to Company {{data.type === 'withEmployee' ? 'with' : 'without'}} Employee
  </h2>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label>Event Type*</label>
      <pek-crm-event-type-picker
        [filters]="[
          {name: 'is_inner', value: true},
          {name: 'is_auto', value: false}
        ]"
        (selectEventType)="onSelectEventType($event)"
      >
      </pek-crm-event-type-picker>
    </div>
    <div class="form-group" *ngIf="data.type === 'withEmployee'">
      <label>Employees*</label>
      <pek-crm-employee-picker (selectEmployees)="onSelectEmployees($event)"></pek-crm-employee-picker>
    </div>
    <div class="form-group">
      <label>Contacts</label>
      <pek-crm-multi-contact-persons-picker
        (selectContactPersons)="onSelectContactPersons($event)"
      ></pek-crm-multi-contact-persons-picker>
    </div>

    <ng-container *ngIf="data.type === 'withoutEmployee'">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Start Date and Time*</label>
            <pek-date-time-picker
              [maxDate]="form.get('end')?.value"
              (clearDate)="onClearStartDate()"
              (setDate)="onSetStartDate($event)"
              placeholder="Choice Start Date and Time"
            ></pek-date-time-picker>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>End Date and Time*</label>
            <pek-date-time-picker
              [minDate]="form.get('start')?.value"
              (clearDate)="onClearEndDate()"
              (setDate)="onSetEndDate($event)"
              placeholder="Choice End Date and Time"
            ></pek-date-time-picker>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="data.type === 'withEmployee'">
      <div
        (click)="onOpenDatesEmployees()"
        [class.disabled]="form.get('employee_ids').value.length === 0"
        class="row select-date"
      >
        <div class="col-6">
          <div class="form-group">
            <label>Start Date and Time*</label>
            <p-calendar
              [minDate]="form.get('end')?.value"
              [showTime]="true"
              [showClear]="true"
              [showButtonBar]="true"
              dateFormat="dd/mm/yy"
              hourFormat="24"
              formControlName="start"
              placeholder="Choice Start Date and Time"
            >
            </p-calendar>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>End Date and Time*</label>
            <p-calendar
              [minDate]="form.get('start')?.value"
              [showTime]="true"
              [showClear]="true"
              [showButtonBar]="true"
              dateFormat="dd/mm/yy"
              hourFormat="24"
              formControlName="end"
              placeholder="Choice End Date and Time"
            >
            </p-calendar>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        [rows]="2"
        pInputTextarea
        formControlName="description"
        [autoResize]="true"
      ></textarea>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
  <button
    pButton
    type="button"
    class="p-button-success"
    [label]="'Add'"
    [loading]="isSaving"
    [disabled]="form.invalid"
    (click)="onSave()"
  ></button>
</mat-dialog-actions>
