<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'contacts-events'" [isActive]="true"></pek-module-icon>
      <h1>Events</h1>
    </div>
    <div class="page__tools">
      <button
        class="mr-2 p-button-warning"
        pButton
        type="button"
        (click)="toggleAutoEvents()"
        [icon]="'pi' + ' ' + (hideAutoEvents ? 'pi-eye' : 'pi-eye-slash')"
        [label]="hideAutoEvents ? 'Show Sales Chain Status' : 'Hide Sales Chain Status'"
      >
      </button>
      <button
        class="mr-2"
        pButton
        type="button"
        icon="pi pi-plus"
        label="New Event with Employee"
        (click)="onAddEvent('withEmployee')"
      >
      </button>
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        label="New Event without Employee"
        (click)="onAddEvent('withoutEmployee')"
      >
      </button>
    </div>
  </div>
</div>

<div class="page__content calendar-events-page">
  <div class="page__card calendar mb-4">
    <div class="main-calendar">
      <p-calendar
        class="events-calendar"
        [firstDayOfWeek]="1"
        [numberOfMonths]="3"
        (onSelect)="onEventsRange()"
        [inline]="true"
        [(ngModel)]="rangeCalendar"
        selectionMode="range"
        [minDate]="minDateRange"
      >
        <ng-template pTemplate="date" let-date>
            <b *ngIf="getEventsCount(date)" class="event-count">{{getEventsCount(date)}}</b>
            <b *ngIf="getExternalEventsCount(date)" class="external-event-count">{{ getExternalEventsCount(date)}}</b>
            <b *ngIf="getAutoStatusCount(date)" class="event-count auto-event-count">{{ getAutoStatusCount(date)}}</b>
            <span>{{ date.day }}</span>
            <span *ngIf="isDateFirst(date)" class="range-border start-date"></span>
            <span *ngIf="isDateLast(date)" class="range-border end-date"></span>
            <i *ngIf="datesNotEqual() && isDateFirst(date)" class="pi pi-angle-double-right date-arrow forward-date-arrow"></i>
            <i *ngIf="datesNotEqual() && isDateLast(date)" class="pi pi-angle-double-left date-arrow backward-date-arrow"></i>
          <span
            class="hover-register"
            #dateElement
            [class.is-in-selected-mode]="isSelectedInSelectedNode(date, dateElement)"
            (mouseenter)="monthHoveredOver(date)">
          </span>
        </ng-template>
      </p-calendar>
    </div>
  </div>

  <h2 class="mb-4">Filter Events</h2>

  <div class="page__card">

    <div class="filters-visibility" [class.filters-visibility_hide]="isHideFilters">
      <div class="filters-visibility__header">
        <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
      </div>

      <button
        class="icon pi"
        [class.pi-angle-double-up]="!isHideFilters"
        [class.pi-angle-double-down]="isHideFilters"
        (click)="toggleFilterVisibility()"
        [pTooltip]="isHideFilters ? 'Expand Filters' : 'Collapse Filters'"
        tooltipPosition="left"
      ></button>

      <form
        [formGroup]="searchForm"
        class="form mb-3"
      >
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label>Employees</label>
              <pek-crm-employee-picker (selectEmployees)="onSelectEmployees($event)"></pek-crm-employee-picker>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Event Types</label>
              <pek-crm-multi-event-types-picker
                [isInner]="true"
                (selectEventTypes)="onSelectEventType($event)"
              ></pek-crm-multi-event-types-picker>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Date From</label>
              <p-calendar
                [firstDayOfWeek]="1"
                [showButtonBar]="true"
                inputId="basic"
                dateFormat="dd/mm/yy"
                formControlName="start"

                (onSelect)="changeRangeEventStart($event)"
                [readonlyInput]="true"
                [maxDate]="maxDate"
              ></p-calendar>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Date To</label>
              <p-calendar
                [firstDayOfWeek]="1"
                [showButtonBar]="true"
                inputId="basic"
                formControlName="end"
                (onSelect)="changeRangeEventEnd($event)"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
                [minDate]="minDate"
              ></p-calendar>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>External Calendars</label>
              <pek-crm-multi-event-types-picker
                [isExternal]="true"
                (selectEventTypes)="onSelectExternalEventType($event)"
              ></pek-crm-multi-event-types-picker>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Description</label>
              <input class="form-control" formControlName="description" pInputText #searchBoxDescription>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="capitalize">sales chain statuses</label>
              <pek-multi-sales-status-picker (selectNumericStatuses)="salesChainStatusesSelected($event)"></pek-multi-sales-status-picker>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="capitalize">enable event type colors</label>
              <p-checkbox
                class="checkbox-big mt-1"
                name="group1"
                [binary]="true"
                inputId="enableColors"
                formControlName="enableColors"
              >
              </p-checkbox>
            </div>
          </div>
          <div class="col-2">
            <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
          </div>
        </div>
      </form>
    </div>
    <div class="table-pagination-preloader">
      <p-table
        #dt
        selectionMode="single"
        [scrollHeight]="'calc(100vh - ' + tableScrollHeight + ')'"
        [scrollable]="true"
        [paginator]="eventsList.length > 0"
        dataKey="id"
        [rows]="10"
        [(selection)]="selectedEventItem"
        [value]="eventsList"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5%" class="text-center">#</th>
            <th style="width: 20%">Name</th>
            <th style="width: 30%">Description</th>
            <th style="width: 15%" class="text-center">Employee Name</th>
            <th style="width: 15%" class="text-center">Event Start</th>
            <th style="width: 15%" class="text-center">Event End</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-filterEvent let-i="rowIndex">
          <tr [pSelectableRow]="filterEvent"
              [class.show-colored]="searchForm.get('enableColors').value"
              [class.is-inner]="filterEvent.is_inner"
              [class.is-external]="!filterEvent.is_inner"
              [class.chain-status]="filterEvent.sales_chain"
          >
            <td style="width: 5%" class="text-center">{{ i + 1 }}</td>
            <td style="width: 20%">
              {{ filterEvent.event_type?.name }}
              <span *ngIf="filterEvent.sales_chain">
                - {{filterEvent.sales_chain_status ? filterEvent.sales_chain_status.name : 'New'}}
              </span>
            </td>
            <td style="width: 30%">
              {{ filterEvent.description }}
            </td>

            <td style="width: 15%" class="text-center">
              <ng-container *ngIf="filterEvent.employee.length === 0">
                Not Related
              </ng-container>

              <ng-container *ngIf="filterEvent.employee.length > 0">
                <div *ngFor="let employee of filterEvent.employee">
                  {{ employee.first_name + " " + employee.last_name }} <br>
                </div>
              </ng-container>
            </td>
            <td style="width: 15%" class="text-center">
              {{ filterEvent.start | date: "dd/MM/yyyy, HH:mm" }}
            </td>
            <td style="width: 15%" class="text-center">
              {{ filterEvent.end | date: "dd/MM/yyyy, HH:mm" }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="12">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="dt.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
      <div class="pagination-preloader pagination-preloader_bord" *ngIf="isLoading">
        <i class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
      </div>
    </div>
    <div *ngIf="!dt.paginator && !isLoading && eventsList.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="dt.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>

  <div class="event-full-calendar mt-5">

<!-- [eventList]="eventsList" -->
    <pek-crm-full-calendar
      [hideAutoEvents]="hideAutoEvents"
      [description]="searchForm.get('description').value"
      [employee]="searchForm.get('employee').value"
      [eventsTypes]="searchForm.get('events').value"
      [externalEvent]="searchForm.get('externalEvent').value"
    ></pek-crm-full-calendar>
<!--
      [startDate]="searchForm.get('start').value"
      [endDate]="searchForm.get('end').value"
      -->
  </div>
</div>

<ng-template #actionButtons>
  <div class="action-buttons">
    <p-menubar class="ml-auto" [model]="menuItems" [class.disabled]="!selectedEventItem"></p-menubar>
  </div>
</ng-template>
