<div class="guide-warehouse">
  <div class="guide-warehouse__col guide-warehouse__col_1">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmations"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="QC"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Delivery chain"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-warehouse__col guide-warehouse__col_2">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Creating production list"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Production request"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="QC passed invoices and orders from own manufacture"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Sipment request"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Tools request"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide-warehouse__col guide-warehouse__col_3">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide-warehouse__col guide-warehouse__col_4">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Production list deficit"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Production request"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Delivery process"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="QC passed item"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Physical inventory"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Tool request"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Procurement request for production list"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide-warehouse__col guide-warehouse__col_5">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="outline"
        [hideButtons]="true"
        title="Customer"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Warehouse"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Production"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Manufacturing procurement"
      ></pek-guide-button>
    </div>
  </div>
</div>
