<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'warehouse'" [isActive]="true"></pek-module-icon>
      <h1>
        Production List
        <ng-container *ngIf="list">
          ({{list.id}}) {{list.nomenclature.code}} ({{list.nomenclature.name}})
        </ng-container>
        <ng-container *ngIf="!list">...</ng-container>
      </h1>

      <div class="colors">
        <div class="colors__color">
          <div class="colors__color-block colors__color-block_deficit"></div>
          <p>Deficit Accepted</p>
        </div>
        <div class="colors__color">
          <div class="colors__color-block colors__color-block_free-products"></div>
          <p>Free Warehouse Products</p>
        </div>
      </div>
    </div>
    <div class="page__tools">
      <p-menubar
        class="production-list-bar ml-auto mr-2"
        [model]="menuItems"
      ></p-menubar>
<!--      <button-->
<!--        class="mr-2"-->
<!--        pButton-->
<!--        type="button"-->
<!--        icon="pi pi-print"-->
<!--        label="Print"-->
<!--        (click)="printPage()"-->
<!--      ></button>-->
<!--      <button-->
<!--        (click)="setQuantities()"-->
<!--        class="mr-2"-->
<!--        pButton-->
<!--        type="button"-->
<!--        icon="pi pi-angle-double-right"-->
<!--        label="Set Actual Quantities"-->
<!--        [disabled]="(selectedNodeTree && !selectedNodeTree.data.list_url) || list?.completed"-->
<!--      ></button>-->
<!--      <button-->
<!--        class="mr-2"-->
<!--        pButton-->
<!--        type="button"-->
<!--        label="Make Requests"-->
<!--        (click)="makeDeficit()"-->
<!--        *ngIf="list && !list?.completed && !list?.is_deficit_requested && isSetAllActualQuantities"-->
<!--      ></button>-->

<!--      <button-->
<!--        class="mr-2"-->
<!--        pButton-->
<!--        type="button"-->
<!--        label="Make request for all"-->
<!--        (click)="makeRequestsForAll()"-->
<!--        *ngIf="list && !list?.completed && !list?.is_deficit_requested && isSetAllActualQuantities"-->
<!--      ></button>-->
      <button
        class="mr-2"
        pButton
        type="button"
        icon="pi pi-table"
        label="Hierarchy"
        [disabled]="mode === 'hierarchy'"
        (click)="selectMode('hierarchy')"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-list"
        label="List"
        [disabled]="mode === 'list'"
        (click)="selectMode('list')"
      ></button>
    </div>
  </div>
</div>

<div class="page__content locators">
  <div class="page__card">
    <ng-container *ngIf="mode === 'list'">
      <p-table
        #dt
        [scrollable]="true"
        scrollHeight="calc(100vh - 16.625rem)"
        [value]="products"
        selectionMode="single"
        [(selection)]="selectedNode"
        (selectionChange)="onSelectTreeNode()"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <p-menubar
              [class.disabled]="!selectedNode"
              class="production-list-bar ml-auto"
              [model]="selectedNodeMenuItems"
            ></p-menubar>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3%" class="text-center">#</th>
            <th style="width: 16%">
              <button class="back" (click)="_location.back()">
                <i class="pi pi-arrow-left"></i>
              </button>
              Code
            </th>
            <th style="width: 16%">Name</th>
            <th style="width: 8%" class="text-center">Total Req Qty</th>
            <th style="width: 10%" class="text-center">Req Qty Per One</th>
            <th style="width: 8%" class="text-center">Free Wh Qty</th>
            <th style="width: 7%" class="text-center">Reserved Qty</th>
            <th style="width: 7%" class="text-center">Actual Qty</th>
            <th style="width: 5%" class="text-center">UOM</th>
            <th style="width: 10%" class="text-center">Locator</th>
            <th style="width: 10%" class="d-print-none text-center">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
          <tr
            [pSelectableRow]="product"
            [class.deficit]="(product.descendants_has_deficit_accepted || product.is_deficit_accepted) && product.total_required_quantity > product.actual_quantity"
            [class.free-products]="(product.has_free_warehouse_products || product.descendants_has_free_warehouse_products) && product.total_required_quantity > product.actual_quantity"
          >
            <td style="width: 3%" class="index-header text-center">{{i + 1}}</td>
            <td style="width: 16%" class="code-column">
              <a
                *ngIf="product.list_url"
                class="list-parent"
                [routerLink]="['/warehouse/production-lists/', product.list]"
                [class.disabled]="product.list_url && (product.status == 1 || product.status == 3)"
              >
                {{product.nomenclature?.code}}
              </a>
              <span
                *ngIf="!product.list_url">
                {{product.nomenclature?.code}}
              </span>
            </td>
            <td style="width: 16%">
              <b *ngIf="product.nomenclature.bulk_or_serial === '1'">(S)</b>
              ({{product.id}})
              {{product.nomenclature?.name}}
            </td>
            <td style="width: 8%" class="text-center">{{product.total_required_quantity}}</td>
            <td style="width: 10%" class="text-center">{{product.required_quantity_per_one}}</td>
            <td style="width: 8%" class="text-center">
              {{product.warehouse_quantity}}
            </td>
            <td style="width: 7%" class="text-center">
              {{product.reserved_quantity ? product.reserved_quantity : 0}}
            </td>
            <td style="width: 7%" class="text-center">{{product.actual_quantity}}</td>
            <td style="width: 5%"
                class="text-center">
              {{product.nomenclature.category?.unit_of_measure?.symbol ? product.nomenclature?.category?.unit_of_measure?.symbol : 'Pcs'}}
            </td>
            <td style="width: 10%" class="text-center">
              {{product.available_on_locator}}
            </td>
            <td
              style="width: 10%"
              class="d-print-none text-center">
              <span
                class="badge"
                [ngClass]="{
                'badge_secondary': product.status == 0,
                'badge_success': product.status == 1,
                'badge_danger': product.status == 2,
                'badge_reserved': product.status == 3}"
              >
                {{statuses[product.status]}}
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="11">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>

    <ng-container *ngIf="mode === 'hierarchy'">
      <p-treeTable
        class="categories-tree"
        [value]="tree"
        selectionMode="single"
        [(selection)]="selectedNodeTree"
        scrollHeight="calc(100vh - 19.125rem)"
        [scrollable]="true"
        (selectionChange)="onSelectTreeNode()"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <p-menubar
              [class.disabled]="!selectedNodeTree"
              class="production-list-bar ml-auto mr-2"
              [model]="selectedNodeTreeMenuItems"
            ></p-menubar>
            <button
              [disabled]="isLoadingTree"
              class="mr-2 p-button-icon"
              pButton
              type="button"
              icon="pi pi-camera"
              label="Scan QR Codes"
              (click)="onStartScanning()"
            >
            </button>
            <button
              class="mr-2"
              pButton
              type="button"
              label="Expand All"
              icon="pi pi-angle-down"
              (click)="expandAll()"
            ></button>
            <button
              pButton
              type="button"
              class="mr-3"
              label="Collapse All"
              icon="pi pi-angle-up"
              (click)="collapseAll()"
            ></button>
            <p *ngIf="this.foundRowsIds.length > 0" class="d-flex align-items-center mr-2">
              Found {{foundRowsIds.length}} products
            </p>
            <button
              pButton
              *ngIf="this.foundRowsIds.length > 1"
              type="button"
              label="Go to previous"
              icon="pi pi-backward"
              class="p-button-secondary mr-2"
              (click)="goToPrev()"
            ></button>
            <button
              *ngIf="this.foundRowsIds.length > 1"
              pButton
              type="button"
              label="Go to next"
              icon="pi pi-forward"
              class="p-button-secondary mr-2"
              (click)="goToNext()"
            ></button>
            <button
              *ngIf="this.foundRowsIds.length > 0"
              pButton
              type="button"
              icon="pi pi-times-circle"
              class="p-button-danger"
              (click)="clearQrResults()"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="padding-left: 16px; width: 19%">
              <button class="back" (click)="_location.back()">
                <i class="pi pi-arrow-left"></i>
              </button>
              Code
            </th>
            <th style="width: 16%">Name</th>
            <th style="width: 8%" class="text-center">Total Req Qty</th>
            <th style="width: 10%" class="text-center">Req Qty Per One</th>
            <th style="width: 8%" class="text-center">Free Wh Qty</th>
            <th style="width: 7%" class="text-center">Reserved Qty</th>
            <th style="width: 7%" class="text-center">Actual Qty</th>
            <th style="width: 5%" class="text-center">UOM</th>
            <th style="width: 10%" class="text-center">Locator</th>
            <th style="width: 10%" class="d-print-none text-center">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode"
              [class.deficit]="(rowData.descendants_has_deficit_accepted || rowData.is_deficit_accepted) && rowData.total_required_quantity > rowData.actual_quantity"
              [class.is-found-row]="isFoundRow(rowData.id)"
              [class.selected-for-change]="rowData.id === currentDisplayRowId"
              [id]="'row-' + rowData.id"
              [class.free-products]="(rowData.has_free_warehouse_products || rowData.descendants_has_free_warehouse_products) && rowData.total_required_quantity > rowData.actual_quantity"
          >
            <td style="width: 19%">
              <div class="toggle-row">
                <p-treeTableToggler [rowNode]="rowNode" [class.disabled-toggler]="rowData.status == 1"></p-treeTableToggler>
                <a
                  [class.disabled]="rowData.list_url && (rowData.status == 1 || rowData.status == 3)"
                  *ngIf="rowData.list_url"
                  class="list-parent"
                  [routerLink]="['/warehouse/production-lists/', rowData.list]"
                >
                  {{rowData.nomenclature.code}}
                </a>
                <span *ngIf="!rowData.list_url">{{rowData.nomenclature.code}}</span>
              </div>
            </td>
            <td style="width: 16%">
              <b *ngIf="rowData.nomenclature.bulk_or_serial === '1'">(S)</b> ({{rowData.id}}) {{rowData.nomenclature.name}}
            </td>
            <td style="width: 8%" class="text-center">{{rowData.total_required_quantity}}</td>
            <td style="width: 10%" class="text-center">{{rowData.required_quantity_per_one}}</td>
            <td style="width: 8%" class="text-center">{{rowData.warehouse_quantity}}</td>
            <td style="width: 8%" class="text-center">{{rowData.reserved_quantity ? rowData.reserved_quantity : 0}}</td>
            <td style="width: 7%" class="text-center">{{rowData.actual_quantity}}</td>
            <td style="width: 5%"
                class="text-center">{{rowData.nomenclature.category?.unit_of_measure?.symbol ? rowData.nomenclature?.category?.unit_of_measure?.symbol : 'Pcs'}}</td>
            <td style="width: 10%" class="text-center">{{rowData.available_on_locator}}</td>
            <td style="width: 10%" class="d-print-none text-center">
              <span
                class="badge"
                [ngClass]="{
                'badge_secondary': rowData.status == 0,
                'badge_success': rowData.status == 1,
                'badge_danger': rowData.status == 2,
                'badge_reserved': rowData.status == 3}"
              >
                {{statuses[rowData.status]}}
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td class="text-center p-5" [attr.colspan]="10">
              <i *ngIf="isLoadingTree" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoadingTree">No Records Found</span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </ng-container>
  </div>
</div>

<div class="print-list-product" *ngIf="isShowPrint">
  <div class="print-list-product__list">
    <div class="print-list-product__item" *ngFor="let product of productsForPrint">
      <app-list-product-print-item [product]="product"></app-list-product-print-item>
    </div>
  </div>
</div>

<pek-qr-code-scanner
  *ngIf="isScanned"
  (scanned)="onScanned($event)"
  (cancel)="onCancelScanned()"
></pek-qr-code-scanner>
