<div class="modal-header">
  <h2 class="modal-header__title">Choice Nomenclature</h2>
</div>

<mat-dialog-content>
  <div
    class="nomenclature-picker-modal"
  >
    <div class="nomenclature-picker-modal__form">
      <form [formGroup]="searchForm">
        <div
          class="form-box form-box_3"
        >
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" id="code" pInputText formControlName="code" #searchBoxCode>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" pInputText formControlName="name" #searchBoxName>
          </div>
          <div class="form-group" *ngIf="data.type === null">
            <label>Type</label>
            <pek-nomenclature-type-picker
              (choiceNomenclatureType)="selectNomenclatureType($event)"
            ></pek-nomenclature-type-picker>
          </div>

          <div class="form-group" *ngIf="data.type === nomenclatureType.PURCHASED">
            <label>Category</label>
            <pek-product-category-picker (choiceCategory)="onSelectCategory($event)"></pek-product-category-picker>
          </div>
        </div>
      </form>
    </div>
    <div class="table-pagination-preloader">
      <p-table
        [value]="nomenclatures"
        [rows]="10"
        selectionMode="single"
        [(selection)]="selectedNomenclature"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" style="width: 7%">#</th>
            <th style="width: 22%">Code</th>
            <th style="width: 30%">Name</th>
            <th style="width: 10%">UOM</th>
            <th style="width: 15%;">Technology</th>
            <th style="width: 15%" class="text-center">Category</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nomenclature let-i="rowIndex">
          <tr
            [pSelectableRow]="nomenclature"
            [pSelectableRowDisabled]="nomenclature.approved === '0' && nomenclature.type === '0'"
          >
            <td style="width: 7%" class="text-center">{{(this.searchForm.get('page').value - 1) * 10 + i + 1}}</td>
            <td style="width: 22%">{{nomenclature.code}}</td>
            <td style="width: 30%">
              <span *ngIf="nomenclature.approved === '0' && nomenclature.type === '0'" class="badge badge_warning">NEW</span>
              {{nomenclature.name}}
            </td>
            <td
              style="width: 10%">{{nomenclature.category?.unit_of_measure?.symbol ? nomenclature.category?.unit_of_measure?.symbol : 'Pcs' }}</td>
            <td style="width: 15%">
              <div *ngFor="let technology of nomenclature.technologies">
                {{technology.name}}
              </div>
            </td>
            <td style="width: 15%" class="text-center">{{nomenclature.category?.name}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="6">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="pagination-preloader" *ngIf="isLoading">
        <i class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
  <p-paginator
    #paginator
    [class.hide]="nomenclatures.length === 0"
    [rows]="10"
    [totalRecords]="countNomenclatures"
    (onPageChange)="paginate($event)"
  >
  </p-paginator>
  <button
    pButton
    type="button"
    class="p-button-success"
    [disabled]="!selectedNomenclature"
    [label]="'Choice'"
    (click)="onSelectNomenclature()"
  ></button>
</mat-dialog-actions>
