<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'sales'" [isActive]="true"></pek-module-icon>
      <h1>Countries & Regions</h1>
    </div>
    <div class="page__tools">
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        label="Create Country"
        (click)="createCountry()"
      >
      </button>
    </div>
  </div>
</div>


<div class="page__content">
  <div class="page__card">
    <div class="page__table">
      <p-treeTable
        [value]="tree"
        selectionMode="single"
        [(selection)]="selected"
        [scrollable]="true"

        scrollHeight="calc(100vh - 19.2rem)"
      >
        <ng-template pTemplate="caption">
          <div class="action-buttons">
            <p-menubar
              *ngIf="selected && selected.data.region"
              class="ml-auto"
              [model]="menuItemsRegion"
              [class.disabled]="!selected"></p-menubar>
            <p-menubar
              *ngIf="selected && selected.data.country"
              class="ml-auto"
              [model]="menuItemsCountry"
              [class.disabled]="!selected"></p-menubar>
            <p-menubar
              *ngIf="selected && selected.data.subRegion"
              class="ml-auto"
              [model]="menuItemsSubRegion"
              [class.disabled]="!selected"></p-menubar>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="padding-left: 52px; width: 60%">Name</th>
            <th style="width: 40%">Code</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td style="width: 60%">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.region?.name}}
              {{rowData.country?.name}}
              {{rowData.subRegion?.name}}
            </td>
            <td style="width: 40%">
              <ng-container>
                {{rowData.country?.alpha2_code}}
              </ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="6">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>
