<div class="procurement-order-page">
  <div class="page">
    <div class="page__header">
      <div class="page__title">
        <pek-module-icon [module]="'manufacturing-procurement'" [isActive]="true"></pek-module-icon>
        <h1>Order {{orderId}}</h1>
      </div>
      <div class="page__tools">
        <form class="align-items-center d-flex" [formGroup]="form">
          <p-checkbox
            inputId="binary"
            formControlName="can_select_supplier"
            [binary]="true"
            (onChange)="tenderToggle($event)"
          >
          </p-checkbox>
          <label class="capitalize ml-2 mr-3">enable tender supplier required</label>
        </form>
        <button
          pButton
          type="button"
          icon="pi pi-file"
          label="Order Files"
          class="mr-2"
          (click)="openOrderFiles()"
          [disabled]="isOrderLoading"
        >
        </button>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          label="Lead Date & Status"
          (click)="editOrder()"
          [disabled]="isOrderLoading"
        >
        </button>
      </div>
    </div>
  </div>

  <div class="page__content">
    <pek-order-page
      #orderPage
      [orderType]="'purchase'"
      (loaded)="loaded($event)"
      [orderId]="orderId"
    ></pek-order-page>
  </div>
</div>
