<div class="warehouse-instruction">
  <h2>Warehouse Module Instruction</h2>

  <h3>MENU ITEMS</h3>

  <p>
    <img src="assets/images/instructions/warehouse/1.jpg">
  </p>

  <p>
    In this section, you can view the current state of the warehouse, and filter the available items by filters:<br>
    • warehouse category<br>
    • location<br>
    • type of<br>
    • product structure category (for the root nomenclature<br>
    • search by name<br>
    • search by code<br>
    • search by description
  </p>

  <p>
    You can also create a new nomenclature, where you first need to select the type of item to be created and then fill
    in the required fields
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/2.jpg">
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/3.jpg">
  </p>

  <h3>QC-WAREHOUSE</h3>

  <p>
    <img src="assets/images/instructions/warehouse/4.jpg">
  </p>

  <p>
    This section includes invoices and orders from own production that have passed QC. <br>
    They are categorized
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/5.jpg">
  </p>

  <p>
    Open the necessary invoice or order for your production, select items, select the locator where you want to place
    the selected item.
    Locators that already have positions of this item are marked in blue. Within the same warehouse, we can only select
    a locator, where position data is already located.
  </p>

  <h3>PRODUCTION LIST</h3>

  <p>
    <img src="assets/images/instructions/warehouse/6.jpg">
  </p>

  <p>
    A production list is an assembly sent to production, for which it is necessary to check the availability of the
    necessary items in the warehouse, send a request for the purchase of purchased items and prepare all available items
    on one locator, so that later, when production requests the necessary items for sub assemblies, quickly prepare them
    and put into production
  </p>

  <p>
    It is necessary to put down the actual quantity when creating a new production list, as well as track the receipt of
    items that were previously in deficit, and their transfer to the production list locator. Items that were previously
    in deficit, but then received at the warehouse and became available, are marked in color<br>
    red - available items that are not related to this production list (manually ordered to the warehouse) green - items
    received at the warehouse, ordered directly through this production list or through the plan (auto request)<br>
    If, when preparing a production list, we decide to use a ready-made assembly included in this production list, there
    is no need to prepare the items included in this assembly.
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/7.jpg">
  </p>

  <h3>PRODUCTION REQUEST</h3>

  <p>
    <img src="assets/images/instructions/warehouse/8.jpg">
  </p>

  <p>
    Production requests - requests from production for certain items needed to produce specific sub- assemblies of the
    production list or to produce specific manufactured items at the moment
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/9.jpg">
  </p>

  <p>
    It is a list of required items, subassemblies or material, indicating the required quantity and location in the
    warehouse
  </p>

  <p>
    It is necessary to prepare, print out the form, sign the form yourself and at the production site, keep a copy for
    yourself, complete the request, transfer the positions according to the list to production. It is possible to cancel
    a production request if it was created by mistake.
    it is possible to use scanning when searching for items in the warehouse
  </p>

  <h3>TOOL REQUEST</h3>

  <p>
    A list of tools or supplies requested by the employee for use or requested for the department. During processing,
    they are moved to the employee's (department's) locator
  </p>

  <h3>WHERE USED</h3>

  <p>
    Filter to find which builds use the selected stock item
  </p>

  <h3>PHYSICAL INVENTORY</h3>

  <p>
    Allows you to make an inventory of the selected locators in order to bring the number in the erp system in line with
    the real number
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/10.jpg">
  </p>

  <p>
    To create a new physical inventory, select the warehouses and shelves for which you need an inventory
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/11.jpg">
  </p>

  <p>
    After creation, a list of all positions recorded on the selected locators will be displayed.
    It is necessary to bring the recorded quantity into conformity with the real one. To do this, you need to edit the
    entered quantity field.
    If during the inventory process it is necessary to inventory an item that is not in the list, you need to click the
    add product button, find the required item, enter the quantity, select the locator to which we want to record it,
    and enter the technology if it is a manufactured item or assembly.
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/12.jpg">
  </p>

  <p>
    Also, if you need to change the position locator in the inventory list, you can do this by clicking the move product
    button.
    After the completion of the inventory, you must click the Complite button, after which all changes will be written
    to the system
  </p>

  <h3>ISOLATOR</h3>

  <h3>CONFIG MENU</h3>

  <h3>Warehouses</h3>

  <p>
    It is possible to create the required number of warehouses - storage areas with their own structure locators.
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/13.jpg">
  </p>

  <p>
    Each warehouse has locators — specific storage locations within the warehouse.
    Each locator, in addition to the name and description, can have coordinates - a row, a column, a shelf, a place.
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/14.jpg">
  </p>

  <h3>Unit of measure</h3>

  <p>
    Units of measure to be used for warehouse categories
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/15.jpg">
  </p>

  <h3>
    Serial numbers type
  </h3>

  <p>
    You can assign a serial number to a warehouse item. The assignment of a serial number occurs when completing an
    invoice (purchase chains and chain outsourcing), ordering to your own production or when confirming production (a
    serial number is assigned only to the root assembly)
  </p>

  <p>
    In order for the item to have a serial number, you need to create a new type of serial number, in which you need to
    fill in the prefix - the invariable part of the serial number, code - the part of the number that will increase by
    one when creating a new one, and the suffix - the invariable part of the serial number.
  </p>

  <p>
    <img src="assets/images/instructions/warehouse/16.jpg">
  </p>

  <p>
    And then select an item that will obey the created serial number assignment rule.
  </p>
</div>
