@import "src/app/shared/styles/screens-variables";

.warning-quantity-more {
  color: var(--theme-color-success)
}

.warning-quantity-less {
  color: var(--theme-color-danger)
}

.sort-label {
  cursor: pointer;
}

.page__card {
  display: flex;
}

.left-side {
  width: 24rem;
}

.right-side {
  width: 100%;
  margin-left: 1.75rem;
}

@media (max-width: $tablet-width) {
  .page__card {
    flex-direction: column;
  }

  .left-side {
    width: calc(100% - 1rem);
    padding: 0.5rem;
  }

  .right-side {
    margin-left: 0;
    margin-top: 1rem;

    form {
      padding: 0.5rem;
    }
  }
}

.mobile-version {
  &.mobile-scan {
    position: fixed;
    top: 10px;
    right: 50px;
    z-index: 4;
  }
}
