<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'product-structure'" [isActive]="true"></pek-module-icon>
      <h1>Product Structure ({{!isLoading ? productsTree[0].data.nomenclature.name : '...'}})</h1>
    </div>
    <div class="page-header__tools">
      <div class="p-input-icon-left mr-2">
        <i class="pi pi-search"></i>
        <input
          #searchCodeInput
          pInputText
          type="text"
          class="input-fill"
          placeholder="Search by code"
        >
      </div>
      <div class="p-input-icon-left mr-2">
        <i class="pi pi-search"></i>
        <input
          #searchNameInput
          pInputText
          type="text"
          class="input-fill"
          placeholder="Search by name"
        >
      </div>
    </div>
  </div>

  <div class="page__content">
    <div class="page__card">
      <div class="page__table">
        <p-treeTable
          #dt
          [value]="productsTree"
          selectionMode="single"
          [(selection)]="selectedNode"
          [scrollable]="true"
          scrollHeight="calc(100vh - 20.4375rem)"
          (onNodeSelect)="onSelectNode()"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center">
              <button
                pButton
                type="button"
                icon="pi pi-arrow-up"
                class="p-button-rounded mr-2"
                [disabled]="selectedNode?.data.parent === null"
                (click)="up()"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-arrow-down"
                class="p-button-rounded mr-2"
                [disabled]="selectedNode?.data.parent === null"
                (click)="down()"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-print"
                label="Print"
                class="mr-2"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-refresh"
                label="Sort"
                class="mr-2"
                (click)="sort()"
              ></button>
              <p-menubar class="product-structure-bar ml-auto mr-2" [model]="menuItems" [class.disabled]="!selectedNode"></p-menubar>
              <button
                pButton
                type="button"
                icon="pi pi-angle-down"
                label="Expand All"
                class="mr-2"
                (click)="onExpandAll()"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-angle-up"
                label="Collapse All"
                (click)="onCollapseAll()"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 30%; padding-left: 40px">Code</th>
              <th style="width: 20%">Name</th>
              <th style="width: 7%" class="text-center">Quantity</th>
              <th style="width: 6%" class="text-center">UOM</th>
              <th style="width: 14%" class="text-center">Technologies</th>
              <th style="width: 11%" class="text-center">Type</th>
              <th style="width: 12%" class="text-center">Confirmation</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
              <td
                style="width: 30%"
                [ngStyle]="{'padding-left': rowNode.level * 0.5 + 'rem'}"
                [class.font-italic]="rowData.nomenclature.type !== '1'"
              >
                <div class="table-toggle">
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <span class="category-name">{{rowData.nomenclature.code}}</span>
                </div>
              </td>
              <td style="width: 20%" [class.font-italic]="rowData.nomenclature.type !== '1'">{{rowData.nomenclature.name}}</td>
              <td
                style="width: 7%"
                class="text-center"
                [class.font-italic]="rowData.nomenclature.type !== '1'"
              >
                {{rowData.quantity}}
              </td>
              <td
                style="width: 6%"
                class="text-center"
                [class.font-italic]="rowData.nomenclature.type !== '1'"
              >
                <ng-container *ngIf="rowData.nomenclature.category; else symbol">
                  {{rowData.nomenclature.category.unit_of_measure?.symbol}}
                </ng-container>
              </td>
              <td
                style="width: 14%"
                class="text-center"
                [class.font-italic]="rowData.nomenclature.type !== '1'"
              >
                <ng-container *ngIf="rowData.nomenclature.technologies.length > 0">
                  <ng-container *ngFor="let tech of rowData.nomenclature.technologies; let idx = index">
                    {{tech.name}}<span *ngIf="idx !== rowData.nomenclature.technologies.length - 1">,</span>
                  </ng-container>
                </ng-container>
              </td>
              <td style="width: 11%" class="text-center">
                <ng-container [ngSwitch]="rowData.nomenclature.type">
                  <span *ngSwitchCase="'0'" class="font-italic">Purchased</span>
                  <span *ngSwitchCase="'2'" class="font-italic">Manufactured</span>
                  <ng-container *ngSwitchCase="'1'">Assembly</ng-container>
                </ng-container>
              </td>
              <td
                style="width: 12%"
                class="text-center"
                [class.font-italic]="rowData.nomenclature.type !== '1'"
              >
                <ng-container *ngIf="rowData.nomenclature.type === '0'">
                  <ng-container [ngSwitch]="rowData.nomenclature.approved">
                    <span *ngSwitchCase="'0'" class="text-warning">NEW</span>
                    <span *ngSwitchCase="'1'" class="text-success">APPROVED</span>
                    <span *ngSwitchCase="'2'" class="text-danger">DECLINED</span>
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center p-4" [attr.colspan]="7">
                <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span *ngIf="!isLoading">No Records Found</span>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </div>
  </div>
</div>

<ng-template #symbol>Pcs</ng-template>
