.table {
  border: 1px solid #ced4da;
  border-radius: 0.625rem;
  overflow: hidden;
}

.create-empty-purchasing-chain {
  p {
    font-weight: 500;
  }

  .table {
    &::ng-deep {
      .p-treetable-scrollable-header {
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
      }

      table {
        tr {
          &:last-child {
            border-bottom-right-radius: 0.625rem;
            border-bottom-left-radius: 0.625rem;

            td {
              border-radius: 0.625rem;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
