<div class="modal-header">
  <h2 class="modal-header__title">
    Quality Control (Name: {{data.product.nomenclature.name}}) ({{data.currentCount}}/{{data.count}})
  </h2>
  <div class="tools">
    <button pButton type="button" class="p-button-success" (click)="generateQrCode()">Generate QR-code</button>
    <button pButton type="button" class="p-button-icon step-btn ml-3" size="s" icon="pi pi-arrow-left" (click)="prevSerial()" [disabled]="data.currentCount <= 1">
    </button>
    <button pButton type="button" class="p-button-icon step-btn ml-3" icon="pi pi-arrow-right" (click)="nextSerial()" [disabled]="data.currentCount >= this.data.count">
    </button>
  </div>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-9">
      <div class="form-group">
        <label for="serial"> Serial Number </label>
        <div class="serial">
          <input pInputText formControlName="serial" class="form-control disabled" type="text" id="serial">
        </div>
      </div>
      </div>

      <div class="col-1">
        <div class="form-group passing">
          <label for="serial">Passed</label>
          <div class="column-filter-box">
            <button type="button" [class.active]="form.get('is_passed').value === true"
                    (click)="changePassedTrue()">
              <i class="pi pi-check"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-1">
        <div class="form-group passing">
          <label for="serial">To Isolator</label>
          <div class="column-filter-box">
            <button type="button" [class.active]="form.get('is_passed').value === false"
                    (click)="changePassedFalse()">
              <i class="pi pi-times"></i>
            </button>
          </div>
        </div>
      </div>


<!--      <div class="d-flex align-items-center mb-3">-->
<!--        <div class="passing mr-3">-->
<!--          <label for="serial">Passed</label>-->
<!--          <div class="column-filter-box">-->
<!--            <button type="button" [class.active]="form.get('is_passed').value === true"-->
<!--                    (click)="changePassedTrue()">-->
<!--              <i class="pi pi-check"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="passing">-->
<!--          <label for="serial">To Isolator</label>-->
<!--          <div class="column-filter-box">-->
<!--            <button type="button" [class.active]="form.get('is_passed').value === false"-->
<!--                    (click)="changePassedFalse()">-->
<!--              <i class="pi pi-times"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
  <button pButton type="button" label="Complete" class="p-button-success" (click)="complete()" [disabled]="form.get('is_passed').value === null" [loading]="isPending"></button>
</mat-dialog-actions>
