<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'contacts-events'" [isActive]="true"></pek-module-icon>
      <h1>Employees</h1>
    </div>
    <div class="page__tools">
      <button pButton type="button" icon="pi pi-plus" label="New Event Type" (click)="onAddEmployee()"></button>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <div class="page__table">
      <p-table
        #dt
        selectionMode="single"
        scrollHeight="calc(100vh - 18.8rem)"
        [scrollable]="true"
        [paginator]="employees.length > 0"
        [rows]="10"
        [(selection)]="selectedEmployee"
        [value]="employees"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <p class="subtitle" *ngIf="!selectedEmployee">Choose the Employee to edit</p>
            <p-menubar class="ml-auto" [model]="menuItems" [class.disabled]="!selectedEmployee"></p-menubar>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5%" class="text-center">#</th>
            <th style="width: 45%">First Name</th>
            <th style="width: 50%">Last Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee let-i="rowIndex">
          <tr [pSelectableRow]="employee">
            <td style="width: 5%" class="text-center">{{ i + 1 }}</td>
            <td style="width: 45%">{{ employee.first_name }}</td>
            <td style="width: 50%">{{ employee.last_name }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="5">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="dt.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!dt.paginator && !isLoading && employees.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="dt.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>
</div>
