.album {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  &__item {
    img {
      border: 1px solid #ced4da;
      object-fit: contain;
      height: 15rem;
      width: 100%;
    }
  }

  &__content {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.75rem;
  }
}

.image-plug {
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;

  i {
    color: #ced4da;
    font-size: 3rem;
  }
}

.print-album-page {
  @media print {
    .album {
      position: relative;
      float: none;

      &__list {
        position: relative;
        float: none;
      }
    }

    .print-page {
      display: none !important;
    }

    .pagebreak {
      //page-break-before: always;
      page-break-inside: avoid;
      page-break-after: always;
    }

    .cdk-overlay-pane {
      position: absolute !important;
      left: 0;
      top: 0;
      right: 0;
      width: 100% !important;
      max-width: initial !important;
    }

    .cdk-overlay-backdrop {
      display: none !important;
    }

    .cdk-overlay-container {
      position: absolute !important;
      height: auto !important;
      bottom: 0;
      background: #fff;
      right: 0;
    }

    .modal-header {
      display: none;
    }

    .mat-dialog-content {
      overflow: initial !important;
      max-height: initial !important;
    }

    .mat-dialog-actions {
      display: none !important;
    }

    .mat-dialog-container {
      overflow: initial !important;
      box-shadow: none !important;
      border-radius: 0 !important;
    }
  }
}
