section {
  position: fixed;
  opacity: 0;
  background: #fff;
  z-index: 3;
  width: auto;
  padding: 0.75rem 1rem;
  box-shadow: 0 0 7px 1px rgb(0 0 0 / 15%);
  border-radius: 0.5rem;
  text-align: left;

  &.show {
    opacity: 1;
  }
}
