<div class="dashboard">
  <div class="page__content">
    <h1 class="dashboard__title">Welcome To R-WAVE ERP</h1>
    <ul class="dashboard__list">
      <li
        *ngFor="let route of routes"
        class="dashboard__item"
      >
        <a
          class="dashboard__button"
          pButton
          type="button"
          [routerLink]="route.routerLink"
          [label]="route.label"
          [icon]="route.icon"
        ></a>
      </li>

      <li class="dashboard__item">
        <a
          class="dashboard__button p-button-secondary"
          pButton
          type="button"
          [label]="'Log Out'"
          [icon]="'icon-logout'"
          (click)="logout()"
        ></a>
      </li>
    </ul>
  </div>
</div>
