<div class="dashboard">
  <div class="page__content">
    <h1 class="dashboard__title">Welcome To R-WAVE ERP</h1>
    <ul class="dashboard__list">
      <ng-template ngFor [ngForOf]="routes" let-route>
        <li
          *ngIf="auth.user[route.requiredModulePermission] === true"
          class="dashboard__item"
        >
          <a
            class="dashboard__button"
            pButton
            type="button"
            [routerLink]="route.routerLink"
            [label]="route.label"
            [icon]="route.icon"
          ></a>
        </li>
      </ng-template>

    </ul>
    <ul class="dashboard__list">
      <li class="dashboard__item">
        <a
          class="dashboard__button dashboard__button_guide"
          pButton
          type="button"
          icon="pi pi-book"
          label="Business Guide"
          (click)="showGuide()"
        ></a>
      </li>

      <li class="dashboard__item_hide">
      </li>
      <li class="dashboard__item_log-out">
        <a
          class="dashboard__button dashboard__button_log-out p-button-secondary"
          pButton
          type="button"
          label="Log Out"
          [icon]="'icon-logout'"
          (click)="logout()"
        ></a>
      </li>
    </ul>
  </div>
</div>
