<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'confirmation'" [isActive]="true"></pek-module-icon>
      <h1>Suppliers Confirmation</h1>
    </div>
  </div>
</div>

<div class="page__content">
  <div class="page__card">
    <h2 class="page__caption">Suppliers Confirmation Orders</h2>
    <div class="page__table">
      <p-table
        #dt
        selectionMode="single"
        scrollHeight="calc(100vh - 21.75rem)"
        [scrollable]="true"
        [paginator]="orderSupplierConfirmations.length > 0"
        [rows]="10"
        [(selection)]="selectedOrderSupplierConfirmation"
        [value]="orderSupplierConfirmations"
        (selectionChange)="onSelectOrder()"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5%" class="text-center">#</th>
            <th style="width: 60%">Order</th>
            <th style="width: 35%">Root Lists</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-confirmation let-i="rowIndex">
          <tr [pSelectableRow]="confirmation ">
            <td style="width: 5%" class="text-center">{{i + 1}}</td>
            <td style="width: 60%">
              <a
                target="_blank"
                [routerLink]="'/dash/outsource/outsource-chain/products/' + confirmation.order.id"
              >
                {{confirmation.order.id}}
              </a>
            </td>
            <td>
              <div
                *ngFor="let item of getRootLists(confirmation.order.root_production_list_products); let idx = index">
                {{item.list.nomenclature.code}}~{{item.list.nomenclature.name}} ({{item.count}})
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="3">
              <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoading">No Records Found</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="dt.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!dt.paginator && !isLoading && orderSupplierConfirmations.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="dt.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>

  <div class="page__card page__card_bottom">

    <div class="page__table">
      <p-table
        #st
        selectionMode="single"
        scrollHeight="calc(100vh - 21.75rem)"
        [scrollable]="true"
        [paginator]="orderSuppliers.length > 0"
        [rows]="10"
        [(selection)]="selectedOrderSupplier"
        [value]="orderSuppliers"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center">
            <h2 class="page__caption mb-0">Suppliers Confirmation Items For Order {{selectedOrder ? selectedOrder.order.id : '...'}}</h2>
            <button
              pButton
              type="button"
              icon="pi pi-times"
              label="Decline All"
              class="ml-auto p-button-danger p-button-icon mr-2"
              (click)="onDeclineAll()"
              [loading]="isPendingDeclineAll"
              [disabled]="!selectedOrderSupplierConfirmation"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-times"
              label="Decline"
              class="p-button-danger p-button-icon mr-2"
              (click)="onDecline()"
              [loading]="isPendingDecline"
              [disabled]="!selectedOrderSupplier || !selectedOrderSupplierConfirmation || selectedOrderSupplier?.confirm_status === orderSupplierConfirmStatus.DECLINED"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-check"
              label="Confirm"
              class="p-button-success p-button-icon"
              (click)="onConfirm()"
              [loading]="isPendingConfirm"
              [disabled]="!selectedOrderSupplier || !selectedOrderSupplierConfirmation"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5%" class="index-header text-center">#</th>
            <th style="width: 30%">Supplier</th>
            <th style="width: 10%" class="text-center">Price</th>
            <th style="width: 15%" class="text-center">Delivery Date</th>
            <th style="width: 30%">Comment</th>
            <th style="width: 10%" class="text-center">Confirm Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-orderSupplier let-i="rowIndex">
          <tr [pSelectableRow]="orderSupplier">
            <td style="width: 5%" class="text-center">{{i + 1}}</td>
            <td style="width: 30%">{{orderSupplier.supplier}}</td>
            <td style="width: 10%" class="text-center">{{orderSupplier.price | moneyFormat}} €</td>
            <td style="width: 15%" class="text-center">{{orderSupplier.delivery_date | date: 'dd/MM/yyyy'}}</td>
            <td style="width: 30%" class="text-center">{{orderSupplier.comment}}</td>
            <td style="width: 10%" class="text-center">{{getConfirmStatus(orderSupplier.confirm_status)}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center p-4" [attr.colspan]="6">
              <i *ngIf="isLoadingOrderSuppliers" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
              <span *ngIf="!isLoadingOrderSuppliers">Select An Order</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            (click)="st.paginator=false"
            styleClass="p-button-text"
          >All
          </p-button>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!st.paginator && !isLoadingOrderSuppliers && orderSuppliers.length > 0" class="paginator-return-pagination">
      <p-button
        type="button"
        (click)="st.paginator=true"
        styleClass="p-button-text"
      >
        Return pagination
      </p-button>
    </div>
  </div>
</div>
