<div class="page">
  <div class="page__header">
    <div class="page__title">
      <pek-module-icon [module]="'product-structure'" [isActive]="true"></pek-module-icon>
      <h1>Product Structure Categories</h1>
    </div>

    <div class="page-header__tools">
      <button pButton type="button" icon="pi pi-plus" label="New Category" (click)="onCreateCategory()"></button>
    </div>
  </div>

  <div class="page__content">
    <div class="page__card">
      <div class="page__table">
        <p-treeTable
          [value]="categoriesTree"
          selectionMode="single"
          [(selection)]="selectedCategory"
          [scrollable]="true"
          scrollHeight="calc(100vh - 19.2rem)"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center">
              <button
                pButton
                type="button"
                icon="pi pi-arrow-up"
                class="p-button-rounded mr-2"
                [loading]="isMovingUp"
                (click)="up()"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-arrow-down"
                class="p-button-rounded mr-2"
                [loading]="isMovingDown"
                (click)="down()"
              ></button>

              <p class="subtitle ml-1 mr-2" *ngIf="!selectedCategory">Choose the Category to edit</p>
              <p-menubar class="ml-auto mr-2" [model]="menuItems" [class.disabled]="!selectedCategory"></p-menubar>

              <button
                pButton
                type="button"
                icon="pi pi-angle-down"
                label="Expand All"
                class="mr-2"
                (click)="onExpandAll()"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-angle-up"
                label="Collapse All"
                (click)="onCollapseAll()"
              ></button>
              <!--              <button-->
              <!--                pButton-->
              <!--                type="button"-->
              <!--                icon="pi pi-print"-->
              <!--                label="Print"-->
              <!--                class="mr-2"-->
              <!--              ></button>-->
              <!--              <button-->
              <!--                pButton-->
              <!--                type="button"-->
              <!--                icon="pi pi-refresh"-->
              <!--                label="Sort"-->
              <!--                class="mr-2"-->
              <!--                (click)="sort()"-->
              <!--              ></button>-->
              <!--              <p class="ml-1 subtitle" *ngIf="!selectedProduct">Choose the Product to edit</p>-->
              <!--              <p-menubar-->
              <!--                class="product-structure-bar ml-auto mr-2"-->
              <!--                [model]="menuItems"-->
              <!--                [class.disabled]="!selectedProduct"-->
              <!--              ></p-menubar>-->
              <!--              <button-->
              <!--                pButton-->
              <!--                type="button"-->
              <!--                icon="pi pi-angle-down"-->
              <!--                label="Expand All"-->
              <!--                class="mr-2"-->
              <!--                (click)="onExpandAll()"-->
              <!--              ></button>-->
              <!--              <button-->
              <!--                pButton-->
              <!--                type="button"-->
              <!--                icon="pi pi-angle-up"-->
              <!--                label="Collapse All"-->
              <!--                (click)="onCollapseAll()"-->
              <!--              ></button>-->
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 35%; padding-left: 52px">Name</th>
              <th style="width: 30%">Unit of Measure</th>
              <th style="width: 35%">Description</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
              <td style="width: 35%">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.name}}
              </td>
              <td style="width: 30%">
                {{getMeasure(rowData.unit_of_measure)}}
              </td>
              <td style="width: 35%">
                <ng-container>
                  {{rowData.description}}
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center p-4" [attr.colspan]="4">
                <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
                <span *ngIf="!isLoading">No Records Found</span>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </div>
  </div>
</div>
