<div class="guide-sales">
  <div class="guide-sales__col guide-sales__col_1">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Contact and events"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-sales__col guide-sales__col_2">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Marketing events"
      ></pek-guide-button>
      <div>
        <span></span>
        <span class="arrow"></span>
      </div>
    </div>
  </div>

  <div class="guide-sales__col guide-sales__col_3">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Sales"
      ></pek-guide-button>
    </div>
  </div>

  <div class="guide-sales__col guide-sales__col_4">
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Sales events"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Request for creating a new production"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="guide-button">
      <pek-guide-button
        btnStyle="secondary"
        [hideButtons]="true"
        title="Creating a new delivery chain"
      ></pek-guide-button>
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="guide-sales__col guide-sales__col_5">
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Contacts and events"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Confirmations"
      ></pek-guide-button>
    </div>
    <div class="guide-button">
      <pek-guide-button
        [hideButtons]="true"
        title="Delivery chain"
      ></pek-guide-button>
    </div>
  </div>
</div>
