<div class="company-categorized-multi-picker">
  <p-treeSelect
    *ngIf="!isLoading; else spinner"
    selectionMode="checkbox"
    [metaKeySelection]="true"
    [filter]="true"
    [(ngModel)]="selectedCategories"
    (ngModelChange)="selectionChanged()" [options]="categoriesTree"
    placeholder="Select Categories">
    <ng-template pTemplate="empty">
      Empty
    </ng-template>
  </p-treeSelect>
  <ng-template #spinner>
    <div class="spinner-input">
      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
    </div>
  </ng-template>
</div>
