<div class="guide-map-item">
  <img src="assets/images/business-map/production-list-preparation-by-warehouse/1.png" alt="Image">

  <h3>Confirmation of request for production of new products</h3>

  <p>
    Open the Confirmation/Production List confirmation menu. Select the required production. To confirm the send to
    production, click the Confirm button, to reject the send to production, click Decline. If the production has been
    confirmed, the production list for the submitted product will appear in the Warehouse/Production lists menu, and the
    corresponding plan will appear in the Manufacturing/Plans menu.
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/2.png" alt="Image">

  <h3>Setting actual qtt in the ERP for production list items</h3>

  <p>
    In the Warehouse/Production lists menu, select the required production list. Click the Selected Production List/Set
    List Locator button to select the warehouse locator where the items prepared for this production list will be
    placed. Then click the Selected Production List/Production List button to open the production list structure.
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/3.png" alt="Image">

  <p>
    Each position of the production list has the required quantity, free quantity in stock and a locator where this
    position is located. It is necessary to find this position, collect the required quantity, put it on the selected
    production sheet locator and set the taken quantity in the ERP system.
  </p>

  <p>
    If you use a mobile device to prepare a production sheet, select the required position, click the Scan QR Codes
    button, scan the expected QR code for the desired position. If an invalid code is scanned, you will see this in a
    pop-up window and you need to click the cancel button. If the correct code is scanned, a pop-up window will prompt
    you to enter the amount taken for this position and print the QR code.
  </p>

  <p>
    If a mobile device is not used, you can print the production list using the Root Production List/Print button,
    collect the necessary positions and enter the result into the ERP system. To do this, select the desired position,
    press the Selected Production List / Set Actual Qty button and enter the collected quantity.
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/4.png" alt="Image">

  <h3> Sending deficits for purchased items for procurement</h3>

  <p>
    For items that were not found in stock, the value entered must be zero. In this case, the status of such an item
    will be DEFICIT. For items that are in stock, the status will be COMPLETED.<br>
    After affixing Actual Qty, you must click the Root Production List / Make request for ALL button. After that, all
    purchased items in short supply will be sent as purchase requests and linked to this production list.
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/5.png" alt="Image">

  <h3> Checking the statuses of production list items inside of production plan</h3>

  <p>
    To check the status of the production sheet after preparation by the warehouse, go to the Manufacturing / Plans
    menu, select the required plan associated with the production sheet and click the Selected Plans button to open the
    desired plan.
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/6.png" alt="Image">

  <p>Items in stock are displayed in green, in stock in yellow, and in short supply in red.</p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/7.png" alt="Image">

  <h3>Checking of procurement request inside of production list procurement module</h3>

  <p>
    To check purchase requests for scarce items according to the production list, you need to open the menu Production
    List Procurement / Procurement chain creation
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/8.png" alt="Image">

  <h3>QC process of delivered items in QC module</h3>

  <p>
    After delivering the items purchased for production lists, the QC manager should go to the QC/invoises/Production
    Lists Procurement or Outsourcing Invoices menu, open the invoice using the Items button, check the quantity and
    quality and click the Complete button
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/9.png" alt="Image">
  <img src="assets/images/business-map/production-list-preparation-by-warehouse/10.png" alt="Image">

  <h2>Proceccing of QC-Warehouse invoices and orders</h2>

  <p>
    After passing the QC, the items must be placed on the selected shelf of the warehouse or directly on the production
    list for which these items were purchased. To do this, go to the Warehouse/QC-Warehouse menu, select the invoice in
    which these items are located and open it with the Items button.
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/11.png" alt="Image">

  <p>
    Then select the positions and set the required locator using the Accept to Warehouse button, select the locator on
    which you put these positions and click the Accept button
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/12.png" alt="Image">

  <p>
    If you need to immediately transfer these positions to the production list, in the pop-up window, select the
    Distribute to PL option. In the window that opens, the production sheets and assemblies of the production sheet and
    the required quantity will be indicated. The top table shows the production lists for which this item was directly
    purchased, and the lower production lists are in short supply, but not yet sent for purchase. It is necessary to
    select the Allocate checkbox opposite the production sheet for which we want to take these positions, and for the
    remainder, set the locator in the warehouse and click the Execute button. After pressing the button, part of the
    positions will move to the locator of the production sheet for which the checkmark was selected, and the rest will
    move to the selected locator.
  </p>

  <h3>Setting actual qtt for new delivered parts, required for production list</h3>

  <p>
    If the newly purchased items were not reported to the production list directly at qc-Warehouse via Distribution to
    Pl, but were placed on the warehouse locator, it is necessary to complete the production list. To do this, open the
    list of production sheets in the Warehouse/Production Lists menu. Those sheets for which there are items that have
    arrived at the warehouse will be marked in color - red, if the items purchased by the requests of this production
    list and reserved for this production list have arrived, green - items purchased without reference to a specific
    production list, available for use in any production sheet.
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/13.png" alt="Image">

  <p>
    Select the production list you want to build and open it with the Selected Production List/Production List button.
  </p>

  <img src="assets/images/business-map/production-list-preparation-by-warehouse/14.png" alt="Image">

  <p>
    Production list items that were in decicit during preparation, the purchase request for which was sent from this production list, are marked in red. Items with available free stock are marked in green.
    For the collection and processing of item data, see point <b>Setting actual qtt in the ERP for production list items</b>
  </p>
</div>
