<div class="modal-header">
  <h2 class="modal-header__title">
<!--    {{data.type}} Employee-->
  </h2>
</div>

<mat-dialog-content>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
<!--  <button-->
<!--    pButton-->
<!--    type="button"-->
<!--    class="p-button-success"-->
<!--    [label]="data.type"-->
<!--    [loading]="isSaving"-->
<!--    [disabled]="form.invalid"-->
<!--    (click)="onSave()"-->
<!--  ></button>-->
</mat-dialog-actions>
