<p-multiSelect
  optionValue="id"
  optionLabel="employee.fullName"
  [options]="customEmployees"
  [(ngModel)]="selectedEmployees"
  [showClear]="true"
  placeholder="Choice Employees"
  (ngModelChange)="onChange($event)"
>
  <ng-template let-employee pTemplate="item">
    <div class="contact-item">
      <div *ngIf="employee.employee">{{employee.employee.first_name}} {{employee.employee.last_name}}</div>
      <div *ngIf="employee.customEmployee">{{employee.customEmployee.first_name}} {{employee.customEmployee.last_name}} (C) </div>
    </div>
  </ng-template>
</p-multiSelect>
