<div class="d-flex align-items-center mb-2">
  <div class="d-flex align-items-center ">
    <span class="color-box name-changed"></span>
    <div>
      Name Changed
    </div>
  </div>

  <div class="d-flex align-items-center ml-3">
    <span class="color-box is-deleted"></span>
    <div>
      Is Deleted
    </div>
  </div>

  <div class="d-flex align-items-center ml-3">
    <span class="color-box quantity-changed"></span>
    <div>
      Quantity Changed
    </div>
  </div>

  <div class="d-flex align-items-center ml-3">
    <span class="color-box is-cycled"></span>
    <div>
      Is Looped
    </div>
  </div>

  <div class="d-flex align-items-center ml-3">
    <span class="color-box is-new"></span>
    <div>
      Is New
    </div>
  </div>

  <div class="d-flex align-items-center ml-3">
    <span class="color-box original-structure-changing"></span>
    <div class="capitalize">
      original structure changing
    </div>
  </div>
</div>
<div class="compare">
  <div class=" page__table mr-2">
    <div class="page__title">
      <h1 style="width: 100%" class="d-flex align-items-center justify-content-between mb-2">
        <div>
          Current Structure
        </div>
        <div class="d-flex align-item-center">
          <p-menubar
            *ngIf="!data.isCompareView"
            class="product-structure-bar ml-auto mr-2"
            [model]="currentMenuItems"
            [class.disabled]="!currentSelectedItem || currentSelectedItem && (hasNoMultipleNames(currentSelectedItem.data) || codeHasMoreThanOne(currentSelectedItem.data))"
          ></p-menubar>
          <button
            pButton
            type="button"
            icon="pi pi-angle-down"
            class="mr-2"
            (click)="expandAllCurrent()"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-angle-up"
            (click)="collapseAllCurrent()"
          ></button>
        </div>
      </h1>
    </div>
    <p-treeTable
      #dt
      [value]="currentProductsTree"
      [(selection)]="currentSelectedItem"
      selectionMode="single"
      [scrollable]="true"
      scrollHeight="calc(100vh - 19.2rem)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%; padding-left: 40px">Code</th>
          <th style="width: 20%">Name</th>
          <th style="width: 7%" class="text-center">Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode"
            [class.is-new]="rowData?.isNew"
            [class.quantity-changed]="rowData?.hasQuantityChanged && !rowData?.hasNameChanged && !rowData?.isDeleted"
            [class.name-changed]="hasNameChanged(rowData) && !rowData?.hasQuantityChanged && !rowData?.isDeleted"
            [class.is-deleted]="rowData?.isDeleted && !rowData?.hasQuantityChanged && !rowData?.hasNameChanged">
          <td
            style="width: 30%"
            [ngStyle]="{'padding-left': rowNode.level * 0.5 + 'rem'}"
          >
            <div class="table-toggle">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              <span>
                    {{rowData?.code}}
                </span>
            </div>
          </td>
          <td style="width: 20%" class="name">
            {{rowData?.name}}
            <span *ngIf="rowData ? codeHasMoreThanOne(rowData) : false">
              <p class="badge_warning">Has Multiple Names In Import</p>
            </span>
            <span *ngIf="getPossibleName(rowData?.code) &&
             getPossibleName(rowData?.code) !== rowData?.name && !codeHasMoreThanOne(rowData)">
              <b>
                <br>
                New Name:
                <br>
                {{getPossibleName(rowData?.code)}}
              </b>
            </span>
          </td>
          <td
            style="width: 7%"
            class="text-center"
          >
            {{rowData ? rowData?.quantity : rowData | json}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center p-4" [attr.colspan]="7">
            <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
            <span *ngIf="!isLoading">No Records Found</span>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>

  <div class="page__table">
    <div class="page__title ml-2">
      <h1 style="width: 100%" class="d-flex align-items-center justify-content-between mb-2">
        <div>
          New Structure
        </div>
        <div class="d-flex align-item-center">
          <p-menubar
            class="product-structure-bar ml-auto mr-2"
            [model]="newMenuItems"
            *ngIf="!data.isCompareView && (!newSelectedItem || newSelectedItem)"
            [class.disabled]="
            !newSelectedItem ||
             newSelectedItem &&
              (hasNoMultipleNames(newSelectedItem.data) ||
               codeHasMoreThanOne(newSelectedItem.data)) &&
               newSelectedItem &&
               !newSelectedItem.data.existing_structure"
          ></p-menubar>

          <p-menubar
            class="product-structure-bar ml-auto mr-2"
            [model]="newMenuOriginalTreeItems"
            [class.disabled]="!newSelectedItem || !newSelectedItem?.data?.existing_structure"
            *ngIf="data.isCompareView"
          ></p-menubar>
          <button
            pButton
            type="button"
            icon="pi pi-angle-down"
            class="mr-2"
            (click)="expandAllNew()"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-angle-up"
            (click)="collapseAllNew()"
          ></button>
        </div>
      </h1>
    </div>
    <p-treeTable
      #dt
      [value]="newProductsTree"
      selectionMode="single"
      [scrollable]="true"
      scrollHeight="calc(100vh - 19.2rem)"
      [(selection)]="newSelectedItem"
      (selectionChange)="selectionChanged()"
      cdkDropListGroup
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%; padding-left: 40px">Code</th>
          <th style="width: 20%">Name</th>
          <th style="width: 7%" class="text-center">Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode"
            [class.is-new]="rowData?.isNew && !rowData?.hasCycle"
            [class.quantity-changed]="rowData?.hasQuantityChanged && !rowData?.hasNameChanged && !rowData?.isDeleted"
            [class.name-changed]="hasNameChanged(rowData) && !rowData?.hasQuantityChanged && !rowData?.isDeleted"
            [class.is-cycled]="rowData?.hasCycle && !rowData?.hasQuantityChanged && !rowData?.isDeleted"
            [class.original-structure-changing]="rowData?.existing_structure"
            [class.is-deleted]="rowData?.isDeleted && !rowData?.hasQuantityChanged && !rowData?.hasNameChanged">
          <td
            style="width: 30%"
            [ngStyle]="{'padding-left': rowNode.level * 0.5 + 'rem'}"
          >
            <div class="table-toggle">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              <span>
                    {{rowData?.code}}
                </span>
            </div>
          </td>
          <td class="name"

              style="width: 20%">
            <!--     [class.original-structure-changing]="rowData?.existing_structure"       -->
            {{rowData?.name}}
            <span *ngIf="rowData ? codeHasMoreThanOne(rowData) : false">
              <p class="badge_warning">Has Multiple Names In Import</p>
            </span>
            <span *ngIf="getPossibleName(rowData?.code, true) &&
             getPossibleName(rowData?.code, true) !== rowData?.name && !codeHasMoreThanOne(rowData)">
              <b>
                <br>
                Current Name:
                <br>
                {{getPossibleName(rowData?.code, true)}}
              </b>

            </span>
          </td>
          <td
            style="width: 7%"
            class="text-center"
          >

<!--     [class.original-structure-changing]="rowData?.existing_structure"       -->
            {{rowData ? rowData?.quantity : rowData | json}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center p-4" [attr.colspan]="7">
            <i *ngIf="isLoading" class="pi pi-spin pi-spinner" style="font-size: 2.25rem"></i>
            <span *ngIf="!isLoading">No Records Found</span>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
<div class="d-flex mt-3"
     [class.justify-content-between]="!data.isCompareView"
     [class.justify-content-center]="data.isCompareView">
  <button
    pButton
    type="button"
    class="mr-2"
    [class.p-button-warning]="!data.isCompareView"
    [class.p-button-success]="data.isCompareView"
    [label]="data.isCompareView ? 'Close Compare View' : 'Cancel Changes'"
    (click)="onCancel()"
  ></button>
  <div *ngIf="!data.isCompareView" class="d-flex align-items-center">
    <button
      *ngIf="hasNameChangeDepend() && !moreThanOne()"
      pButton
      type="button"
      class="p-button-warning mr-2"
      label="Accept Current Names For All"
      [disabled]="!auth.user.can_accept_changes_on_import || hasCyclingProduct"
      (click)="acceptCurrentForAll()"
    ></button>
    <button
      *ngIf="hasNameChangeDepend() && !moreThanOne()"
      pButton
      type="button"
      class="p-button-danger  mr-2"
      label="Accept New Names For All"
      [disabled]="!auth.user.can_accept_changes_on_import || hasCyclingProduct"
      (click)="acceptNewForAll()"
    ></button>
    <p style="display: inline-block" class="mr-2 text-danger" *ngIf="moreThanOne()"><b>Some Codes Has More Than One
      Different Name</b></p>
    <button
      [disabled]="!auth.user.can_accept_changes_on_import || hasCyclingProduct || hasNameChangeDepend()"
      pButton
      type="button"
      class="p-button-success"
      label="Accept Changes"
      (click)="onContinueUpdate()"
    ></button>
  </div>

</div>
