.event-card {
  padding: 1rem 1.75rem 1.125rem;
  line-height: 1.4;

  h4 {
    margin-bottom: 0.625rem;
    font-weight: 500;
    font-size: 1.0625rem;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-weight: 400;
    }
  }
}

.icons {
  position: relative;
  top: 1px;
}

h2 {
  font-size: 1.1875rem;
  font-weight: 600;
}

.card-event {
  &::ng-deep {
    .p-menubar {
      .p-submenu-list {
        width: 13.5rem !important;
      }
    }
  }
}

.info-loading {
  width: 100%;
  height: 9.935rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.impression-neutral {
  background-color: #f9f8bb !important;
}

.impression-positive {
    background-color: #d2fad2 !important;
}

.impression-negative {
    background-color: #fab5bb !important;
}
