<div class="modal-header">
  <h2 class="modal-header__title">
    {{data.type}} Department
  </h2>
</div>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="name"> Title </label>
      <input
        pInputText
        formControlName="title"
        class="form-control"
        type="text"
        id="name"
      />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-between">
  <button pButton type="button" label="Cancel" [mat-dialog-close]="false" class="p-button-danger"></button>
  <button
    pButton
    type="button"
    class="p-button-success"
    [label]="data.type"
    [loading]="isSaving"
    [disabled]="form.invalid"
    (click)="onSave()"
  ></button>
</mat-dialog-actions>
