<div class="guide-map-item">
  <img src="assets/images/business-map/production-list-procurement/1.png" alt="Image">

  <h3>Setting actual quantity in ERP for production list items</h3>

  <p>
    In the Warehouse/Production lists menu, select the required production list. Click the Selected Production List/Set
    List Locator button to select the warehouse locator where the items prepared for this production list will be
    placed. Then click the Selected Production List/Production List button to open the production list structure.
  </p>

  <img src="assets/images/business-map/production-list-procurement/2.png" alt="Image">

  <h3>Sending deficits for purchased items for procurement</h3>

  <p>
    For items that were not found in stock, the value entered must be zero. In this case, the status of such an item
    will be DEFICIT. For items that are in stock, the status will be COMPLETED.<br>
    After affixing Actual Qty, you must click the Root Production List / Make request for ALL button. After that, all
    purchased items in short supply will be sent as purchase requests and linked to this production list.
  </p>

  <img src="assets/images/business-map/production-list-procurement/3.png" alt="Image">

  <h3>Collecting requests for a supplier and creating a procurement chain</h3>

  <p>
    All purchase requests for scarce items according to the production list, can be found in Production List Procurement
    / Procurement chain creation menu.
    In the list we see the requested items with the required quantity, the associated production list and the employee
    who sent the request.
  </p>

  <img src="assets/images/business-map/production-list-procurement/4.png" alt="Image">

  <p>
    To create a new procuremetn chain, select the necessary items that will be purchased from one supplier, adjust the
    purchased quantity if necessary, select a supplier, or leave the selection empty and select the "Enable tender
    supplier request" checkbox if you need to tender for the supply and press button “create”
  </p>

  <img src="assets/images/business-map/production-list-procurement/5.png" alt="Image">

  <p>
    After clicking on the button, a new procurement chain will be created in the “Procurement chains” menu. <br>
    If the free ordered quantity field contains the quantity required for the request, this means that the purchase
    already contains an order for the same item and the quantity ordered there can be used for another production list.
    We can use it for this request by adding this request to an existing order via the Add to Procurement chain button.
  </p>

  <img src="assets/images/business-map/production-list-procurement/6.png" alt="Image">

  <h3>Tendering to select the supplier</h3>

  <p>
    In the Procurement Chain, click the "Add Suplier" button and select suppliers.
  </p>

  <img src="assets/images/business-map/production-list-procurement/7.png" alt="Image">

  <p>
    After receiving an offer from the selected suppliers, select the supplier in the list, click the “Selected Suplier \
    Edit” button, fill in the required fields and send the list of suppliers with their offers using the “Send to
    Confirm” button.
  </p>

  <img src="assets/images/business-map/production-list-procurement/8.png" alt="Image">

  <p>
    After confirmation, the selected supplier will have the confirmed status in the list and will also be added to the
    top table in the Procurement chain.
  </p>

  <img src="assets/images/business-map/production-list-procurement/9.png" alt="Image">

  <h3>Confirmation of the tender</h3>

  <p>
    Open the Confirmation\Suplier confirmation menu, select the desired tab and the desired purchasing chain. After
    clicking on the purchase chain, the suppliers from which the offers were received and the data of these offers will
    be displayed. Select the offer you like and click the confirm button to confirm. Or, if none of the proposals are
    satisfactory, the Decline All button, in which case no proposal will be selected and the tender will need to be
    re-run.
  </p>

  <img src="assets/images/business-map/production-list-procurement/10.png" alt="Image">

  <h3>Creating invoices and setting dates for receipt of items</h3>

  <p>
    To create a proforma or invoice, click the Create proforma invoice / Create invoice button. Items from the ordered
    items table will automatically be added to the proforma or invoice, if they have not yet been added to another
    proforma or invoice. After creating an invoice, you need to fill in the necessary data - the supplier's invoice
    number, dates, price, discounts, additional services. The amount will be calculated automatically.
  </p>

  <img src="assets/images/business-map/production-list-procurement/11.png" alt="Image">

  <h3>Creation of payments</h3>

  <p>
    After creating an invoice, you need to create a payment for it. To do this, click the create payment button, select
    the created invoice or several invoices in the list, edit the received amount, if necessary. The generated invoice
    will appear in the Confirmation menu for confirmation.
  </p>

  <img src="assets/images/business-map/production-list-procurement/12.png" alt="Image">

  <h3>Confirmation of payment</h3>

  <p>
    If the payment amount of created invoice exceeds the set amount, the invoice payment appears in the
    Confirmation\Payments confirmation menu to confirm the payment.<br>
    In order to confirm or prohibit a payment, go to the Confirmation\Payments confirmation menu, select the required
    category, find and select the payment, click confirirm to confirm or decline to prohibit
  </p>

  <img src="assets/images/business-map/production-list-procurement/13.png" alt="Image">

  <h3>Creation of auxiliary invoices for additional services, if required</h3>

  <p>
    If the purchase of the requested items requires an additional service that will affect the cost of the requested
    items, this service must be added to the purchase chain of these items as an auxilary invoice.<br>
    To do this, click the create auxilary invoice button, select the service provider, select the required service from
    the list and fill in the required information - price, date, invoice number and click the complete button.
  </p>

  <img src="assets/images/business-map/production-list-procurement/14.png" alt="Image">

  <h3>Creation of payments for auxiliary invoices</h3>

  <p>
    To create an auxilary invoice payment, select an invoice for optala, after that the create auxilary invoice payment
    button will become active and can be clicked. In the pop-up window, enter the required payment details and click
    Create. After that, the payment will appear in the Confirmation menu.
  </p>

  <img src="assets/images/business-map/production-list-procurement/15.png" alt="Image">

  <h3>Confirmation of payment</h3>

  <p>
    If the payment amount of created auxilary invoice exceeds the set amount, the auxilary invoice payment appears in
    the Confirmation\Payments confirmation menu to confirm the payment.<br>
    In order to confirm or prohibit a payment, go to the Confirmation\Payments confirmation menu, select the required
    category, find and select the payment, click confirirm to confirm or decline to prohibit
  </p>

  <img src="assets/images/business-map/production-list-procurement/16.png" alt="Image">

  <h3>Completion of invoices after receipt of items</h3>

  <p>
    After receiving the ordered items, you must click the complete button and the invoice items will be sent to QC.<br>
    If you need to edit the invoice sent to QC, you can click the cancelation button. In this case, the positions
    disappear from the QC menu and after editing it is necessary to press the complete button again.<br>
    If it is necessary to edit the price of an already completed invoice, it is not necessary to do a cancellation.
    Select the position of the invoice, click the edit button and edit the necessary data.
  </p>

  <img src="assets/images/business-map/production-list-procurement/17.png" alt="Image">

  <p>
    The pro forma is a preliminary document and items and their price may differ from the invoice. Thus, after receiving
    the invoice, filling in the necessary data and completing, the data in the reports for the purchased items will be
    updated with the invoice data.
  </p>

  <h3>
    QC process of the delivered items in the QC module
  </h3>

  <p>
    After delivering the items purchased for production lists, the QC manager should go to the QC/invoises/Production
    Lists Procurement or Outsourcing Invoices menu, open the invoice using the Items button, check the quantity and
    quality and click the Complete button
  </p>

  <img src="assets/images/business-map/production-list-procurement/18.png" alt="Image">
  <img src="assets/images/business-map/production-list-procurement/19.png" alt="Image">
</div>
